
<h4><p>To, <%= @patient.first_name %><br/><p></h4>
  <p>This is to confirm that you are satisfied with answers from Dr. <%= @patient.doctor_doctor_name %></p>

  <p>please confirm by providing a digital signature.</p>

<h4><p>Thanks,<br/> Dr. <%= @patient.doctor_doctor_name %></p></h4>