<style type="text/css">
  @font-face {
    font-family: 'Journal';
    src: url('journal.eot');
    src: url('journal.eot?#iefix') format('embedded-opentype'),
         url('journal.woff') format('woff'),
         url('journal.ttf') format('truetype'),
         url('journal.svg#JournalRegular') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  .sigPad {
    margin: 0;
    padding: 0;
    width: 200px;
  }

  .sigPad label {
    display: block;
    margin: 0 0 0.515em;
    padding: 0;

    color: #000;
    font: italic normal 1em/1.375 Georgia,Times,serif;
  }

  /*.sigPad label.error {
    color: #f33;
  }*/

  .sigPad input {
    margin: 0;
    padding: 0.2em 0;
    width: 198px;

    border: 1px solid #666;

    font-size: 1em;
  }

  /*.sigPad input.error {
    border-color: #f33;
  }*/

  .sigPad button {
    margin: 1em 0 0 0;
    padding: 0.6em 0.6em 0.7em;

    background-color: #ccc;
    border: 0;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;

    cursor: pointer;

    color: #555;
    font: bold 1em/1.375 sans-serif;
    text-align: left;
  }

  .sigPad button:hover {
    background-color: #333;

    color: #fff;
  }

  .sig {
    display: none;
    padding-top: 10px;
  }

  .sigNav {
    display: none;
    height: 2.25em;
    margin: 0;
    padding: 0;
    position: relative;

    list-style-type: none;
  }

  .sigNav li {
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
  }

  .sigNav a,
  .sigNav a:link,
  .sigNav a:visited {
    display: block;
    margin: 0;
    padding: 0 0.6em;

    border: 0;

    color: #333;
    font-weight: bold;
    line-height: 2.25em;
    text-decoration: underline;
  }

  .sigNav a.current,
  .sigNav a.current:link,
  .sigNav a.current:visited {
    background-color: #666;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    border-radius: 8px 8px 0 0;

    color: #fff;
    text-decoration: none;
  }

  .sigNav .typeIt a.current,
  .sigNav .typeIt a.current:link,
  .sigNav .typeIt a.current:visited {
    background-color: #ccc;

    color: #555;
  }

  .sigNav .clearButton {
    bottom: 0.2em;
    display: none;
    position: absolute;
    right: 0;

    font-size: 0.75em;
    line-height: 1.375;
  }

  .sigWrapper {
    clear: both;
    height: 55px;

    border: 0px solid #ccc;
  }

  .sigWrapper.current {
    border-color: #666;
  }

  .signed .sigWrapper {
    border: 0;
  }

  .pad {
    position: relative;
  }

  .current .pad {
    /**
     * For cross browser compatibility, this should be an absolute URL
     * In IE the cursor is relative to the HTML document
     * In all other browsers the cursor is relative to the CSS file
     *
     * http://www.useragentman.com/blog/2011/12/21/cross-browser-css-cursor-images-in-depth/
     */

  }

  .typed {
    height: 55px;
    margin: 0;
    padding: 0 14px;
    position: absolute;
    z-index: 90;
    text-align: center;
    cursor: default;
    min-width: 170px;
    color: #145394;
    font: normal 1.875em/50px 'Måns Grebäck';

   /* font-family: 'Felipa', cursive;
font-family: 'Molle', cursive;
font-family: 'Meie Script', cursive;*/

  }

  .typeItDesc,
  .drawItDesc {
    display: none;
    margin: 0.75em 0 0.515em;
    padding: 0.515em 0 0;

    border-top: 3px solid #ccc;

    color: #000;
    font: italic normal 1em/1.375 Georgia,Times,serif;
  }

 /* p.error {
    display: block;
    margin: 0.5em 0;
    padding: 0.4em;

    background-color: #f33;

    color: #fff;
    font-weight: bold;
  }*/
</style>

<script src="/assets/jquery.signaturepad.min.js"></script>
<script src="/assets/json2.min.js"></script>

<script type="text/javascript">
  $(document).ready(function () {
    $('.sigPad').signaturePad();
  });
</script>

  <div class="e-signature">
      <div class="wrapper">
          <div class="reg-disclaimer">
              <div class="tab-title">
                  E-Signature

                </div>
                <div class="bottom-arrow">
                  <img src="/assets/bottom-arrow.png" alt="" />
                </div>
                <div class="extra_title">
                  I understand the proposed treatment and considered the possible alternative treatment.I consent to proceed with the treatment Dr.  <%= @patient.doctor_doctor_name %> has proposed for me.
                </div>
                <div class="signature_box">
                  <div class="form-filled">

                        <label for="doctor_response" class="doctor_response" >
                          By signing here, I confirm that you are satisfied with the Doctor’s Response.
                        </label>
                    </div>
                    <div class="form-filled">
                     <!-- <form method="post" action="#" class="sigPad"> -->
                     <%= form_for :report, url: sig_create_path ,:html => {:class => "sigPad"} do |f| %>
                    <div class="doctor_response">

                    <%= f.text_field :signature,:class=>"name text-box", :align=>"bottom", :placeholder=>"Type Signature Here", :style=>"padding-left: 5px;"%>
                      <div class="sign_img" align="center">
                          <span>Drawn Signature</span>
                            <div class="e-sign1">
                                 <div class="sig sigWrapper" style="display: block;">

                                    <div class="typed"></div>
                                    <canvas class="pad" width="200" height="55" ></canvas>
                                  <input type="hidden" name="output" class="output" value="">
                                </div>
                            </div>
                      </div>
                    </div>
                </div>
                <div class="btns" align="right">
                  <span>
                      <a href="#" class="gray-btn">
                        Back
                      </a>
                        <%= f.submit "Next",:class=>"blue-btn" %>
<!-- login_page_url(@report.patient_first_name) -->
                      <!-- <button type="submit" class="blue-btn">Next</button> -->
                  </span>
                </div>
             </div>
            <!-- </form> -->
            <% end %>
            </div>
        </div>
    </div>


