<center>
    Dr. <%= @patient.doctor_doctor_name %><br/>To, <%= @patient.first_name %><br/>
    <p>This is to confirm that you are satisfied with answers from Dr. <%= @patient.doctor_doctor_name %>.</p>
    <p>  please confirm by providing a digital signature .</p>
      Thanks,
      Dr. <%= @patient.doctor_doctor_name %><br/>
     <span class="site-link"> <u> >> <%= link_to "Send for signature", :controller => "signature_pads", :action => "send_mail", :class=>"btn-send-mail" %> << </u> </span>

</center>

  <!-- Signature : ______________ -->
