<%= form_tag("create_template", :method => :post, :html => {:multipart => true}) do%>
  <table width="100%" id="buttonTable" name="buttonTable" runat="server">
    <tr>
      <%= label_tag "Your Email" %>
      <%= text_field_tag :email, value = current_doctor.email, disabled: true %>
    </tr>
    <br/>
    <tr>
      <%= label_tag "Recipient Email" %>
      <%= text_field_tag :receiver_email%>
    </tr>
    <br/>
    <tr>
      <%= label_tag "PDF Attachment" %>
      <%= file_field_tag :pdf_attach, :accept => 'application/pdf' %>
    </tr>
    <tr>
      <td class="rightalign">
        <%= submit_tag('Send Document', :name => 'OneSigner', :class => "docusignbutton orange") %>
      </td>
    </tr>
  </table>
<%end%>