<div class="alert alert-success alert-block">
  <a class="close" data-dismiss="alert" href="#">×</a>
  <h4 class="alert-heading">Document is successfully sent to patient!</h4><br/>
    <p>Send to => <%= @receiver_name %></p>
    <p>Your Template id : <%= @template_response["templateId"] %></p>
    <p>Your Envelope id : <%= @envelope_response["envelopeId"] %></p>
</div>