<style type="text/css">
  .template-info {
    width: 70%;
    margin: 0 auto;
    height: 16em;
    line-height: 16px;
    padding: 4em;
  }
</style>
<div class="template-info">
  <h4>Dr. <%= current_doctor.doctor_name %> sent report to the patient, " <%= @receiver_name %> " on his email-id: <%= @receiver_email %> </h2>
  <p>Send to => <%= @receiver_name %></p>
  <p>Your Template id : <%= @template_response["templateId"] %></p>
  <p>Your Envelope id : <%= @envelope_response["envelopeId"] %></p>
  <%= link_to "Back to home", root_url, :class=>"label label-success" %>
</div>