<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>einformedCocent</title>
<style type="text/css">
body{
    margin:0;
    padding:0;
    font-family:Tahoma, Geneva, sans-serif;
}
a{
    color:inherit;
    text-decoration:none;
}
img{
    border:none;
}
</style>
</head>
<body>
<table width="600" cellpadding="0" cellspacing="0" align="center" style="border:3px #00a9d1 solid;">
  <tr>
    <td colspan="2" align="center" style="padding:10px 0px;">
      <a href="#">
        <%= image_tag attachments['logo.png'].url %>
      </a>
    </td>
  </tr>
  <tr>
    <td style="border-top:4px #017793 solid; padding:4px 0px;" width="300"></td>
    <td style="border-top:4px #017793 solid; padding:4px 0px;" width="300" valign="top"></td>
  </tr>
  <tr>
    <td colspan="2">
      <table width="560" style="margin:0px 20px; color:#01667e; line-height:24px; font-size:14px;">
        <tr>
          <td style="line-height:28px; font-size:16px;">
           Name : <%= @contact_us.name%> 
          </td>
        </tr>
        <tr>
          <td style="line-height:28px; font-size:16px;">
           Email : <%= @contact_us.email%>
          </td>
        </tr>
        <tr>
          <td style="line-height:28px; font-size:16px;">
           Phone : <%= @contact_us.phone%>
          </td>
        </tr>
        <tr>
          <td style="line-height:28px; font-size:16px;">
           Comment : <%= @contact_us.comment%>
          </td>
        </tr>
        <tr>
          <td style="font-size:16px; padding:15px 0px;">
            Thanks,<br />
            <span style="font-size:14px;">Via einformedConsent</span>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
