<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>einformedCocent</title>
<style type="text/css">
body{
    margin:0;
    padding:0;
    font-family:Tahoma, Geneva, sans-serif;
}
a{
    color:inherit;
    text-decoration:none;
}
img{
    border:none;
}
</style>
</head>
<body>

<table width="600" cellpadding="0" cellspacing="0" align="center" style="border:3px #00a9d1 solid; padding: 7px;">
  <tr>
    <td align="center" style="padding:10px 0px;">
      <a href="#">
        <%= image_tag attachments['logo.png'].url %>
      </a>
    </td>
  </tr>
  <tr>
    <td>
      Date <%= Time.now().strftime("%m/%d/%Y") %>
			<p>Hi,</p>
      <br/>
      <p>We are touching base with you because your eInformedConsent free trial is going to expire in 7-days or less. Take a moment and order your 2-year subscription today. Getting a subscription before the end of your free trial will maintain the patient information and reports created during the free trial.</p>
      <br/>
      <p>An eInformedConsent subscription provides real value and peace of mind. It reduces litigation risk, improves the doctor/patient relationship, helps to establish treatment value and provides a third party report to demonstrate the patient understands alternative treatments, procedures, sedation and possible complications.</p>
      <br/>
      <p>Subscribe now by going to <%= link_to "Plan detail", "http://www.einformedconsent.com/payments/select_plan" %>.  You can get the added value and benefits of eInformedConsent for less than $1.25 per day.  If you have any questions, please go to the website and send us an email via <%= link_to "Contact Us", "http://www.einformedconsent.com/home/contact_us" %>.</p>
      <br/>
      <p>Thank you for taking advantage of an eInformedConsent free trial.</p>
    </td>
  </tr>
  <tr>
    <td style="font-size:16px; padding:15px 0px;">
      <br /><br/>
      <span style="font-size:14px;">Via einformedConsent</span>
    </td>
  </tr>
</table>
</body>
</html>

