<%= form_for(@patients_testimonial) do |f| %>
  <% if @patients_testimonial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patients_testimonial.errors.count, "error") %> prohibited this patients_testimonial from being saved:</h2>

      <ul>
      <% @patients_testimonial.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :patient %><br />
    <%= f.text_field :patient %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
