<h1>Listing patients_testimonials</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Status</th>
    <th>Patient</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @patients_testimonials.each do |patients_testimonial| %>
  <tr>
    <td><%= patients_testimonial.description %></td>
    <td><%= patients_testimonial.status %></td>
    <td><%= patients_testimonial.patient %></td>
    <td><%= link_to 'Show', patients_testimonial %></td>
    <td><%= link_to 'Edit', edit_patients_testimonial_path(patients_testimonial) %></td>
    <td><%= link_to 'Destroy', patients_testimonial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Patients testimonial', new_patients_testimonial_path %>
