<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @patients_testimonial.description %>
</p>

<p>
  <b>Status:</b>
  <%= @patients_testimonial.status %>
</p>

<p>
  <b>Patient:</b>
  <%= @patients_testimonial.patient %>
</p>


<%= link_to 'Edit', edit_patients_testimonial_path(@patients_testimonial) %> |
<%= link_to 'Back', patients_testimonials_path %>
