<h2>Personal Information</h2>
<tr>
  <td><%= f.label :doctor_name %></td>
  <td><%= f.text_field :doctor_name , :placeholder => "Enter Name", :class => "vali" %></td>
</tr>
<tr>
  <td><%= f.label :email %></td>
  <td><%= f.email_field :email,:placeholder => "Enter Email"%></td>
</tr>
<tr>
  <td><%= f.label :password %></td>
  <td>
    <%= f.password_field :password,:placeholder => "Enter Password" %>
    <sub>*Enter 6-12 digits password</sub>
  </td>
</tr>
<tr>
  <td><%= f.label :password_confirmation %></td>
  <td> <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation" %>
  </td>
</tr>
<tr>
  <td><%= f.label :practise_name %></td>
  <td><%= f.text_field :practise_name,:placeholder => "Enter Practise" %></td>
</tr>
<tr>
  <td><%= f.label :address_Suite %></td>
  <td> <%= f.text_area :address, :placeholder => "Enter Address",:rows => 3, :cols => 29 %></td>
</tr>
 <tr>
  <td><%= f.label :city %></td>
  <td><%= f.text_field :city ,:placeholder => "Enter City"%> </td>
</tr>
<tr>
  <td> <%= f.label :state %></td>
  <td><%= f.text_field :state,:placeholder => "Enter State" %></td>
</tr>
<tr>
  <td><%= f.label :zip %></td>
  <td> <%= f.text_field :zip,:placeholder => "Enter Zip" %></td>
</tr>
<tr>
  <td><%= f.label :phone %></td>
  <td> <%= f.text_field :code,:placeholder => "Code", :size => "5px" %>&nbsp;<%= f.text_field :phone,:placeholder => "Number",:size => "22px"%></td>
</tr>
<tr>
  <td><%= f.label :gender %></td>
  <td><%=f.radio_button :sex , "Male"%><%= f.label "Male" %>
   <%=f.radio_button :sex , "Female"%><%= f.label "Female" %></td>
</tr>
<tr>
  <td>
  </td>
  <td><%= f.check_box :is_accept, :label => resource.is_accept, :onchange =>
      'this.form.Submit()'%> I accept <%= link_to "Terms and Conditions",home_terms_condition_path,:target=>"_blanck", :required => true %>
  </td>
</tr>