<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 register_title">
    Register for a new account
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <img src="/assets/register_devider.png" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 step_wrap" align="center">
    <div class="step_no">
      <img src="/assets/done_icon.png" alt="" class="img-responsive">
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 step_no_txt">
        Registration Disclaimer
      </div>
    </div>                              
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 step_wrap" align="center">
    <div class="step_no">
      <img src="/assets/done_icon.png" alt="" class="img-responsive">
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 step_no_txt">
        Select your speciality
      </div>
    </div>                              
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 active_step" align="center">
    <div class="step_no">3</div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 step_no_txt">
          Personal Information
        </div>
      </div>                              
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/register_devider.png" alt="" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="disclaimer_wrap">
        <div class="disclaimer_title">
          Personal Information
          <span class="down_arrow">
            <img src="/assets/down_arrow.png" alt="">
          </span>
        </div>
        <div>
        <div class="row">
          <br/>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group form_wrap">
              <label for="dname">Doctor name <em>*</em></label>
              <%= f.text_field :doctor_name , :placeholder => "Enter Name", :class => "form-control"%>
            </div>
            <div class="row">
              <div class="form-group form_wrap">
                <label for="Gender">Gender <em>*</em></label>
                <div class="row">
                  <div class="col-lg-2" style="padding-left:0;">
                    <div class="radio">
                      <label>
                        <%= f.radio_button :sex , "Male" %>Male
                      </label>
                    </div>
                  </div>  
                  <div class="col-lg-2" style="padding-left:0;">
                    <div class="radio">
                      <label>
                        <%= f.radio_button :sex , "Female"%>Female
                      </label>
                    </div>
                  </div>
                </div>  
              </div>
            </div>
            <div class="form-group form_wrap">
              <label for="email">Email <em>*</em></label>
              <%= f.email_field :email,:placeholder => "Enter Email",:id=>"email", :class=>"form-control"%>
            </div>
            <div class="form-group form_wrap">
              <label for="password">Password <em>*</em></label>
              <%= f.password_field :password,:placeholder => "Enter Password", :class=>"form-control" %>
            </div>
            <div class="form-group form_wrap">
              <label for="con_password">Password confirmation <em>*</em></label>
              <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation", :class=>"form-control"  %>
            </div>
            <div class="form-group form_wrap">
              <label for="con_password">Phone <em>*</em></label>
              <%= f.hidden_field :code,:placeholder => "Code", :class => "code", :value => "+1" %>
              <%= f.text_field :phone,:placeholder => "Number",:class=>"form-control"%>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group form_wrap">
              <label for="pname">Practice name <em>*</em></label>
              <%= f.text_field :practise_name,:placeholder => "Enter Practice", :class=>"form-control" %>
            </div>
            <div class="form-group form_wrap">
              <label for="Address">Address / suite <em>*</em></label>
              <%= f.text_area :address, :placeholder => "Enter Address", :class=>"form-control",:row=>5 %>
            </div>
            <div class="form-group form_wrap">
                <label for="city">City <em>*</em></label>
                <%= f.text_field :city ,:placeholder => "Enter City", :class=>"form-control"%>
            </div>
            <div class="form-group form_wrap">
              <label for="state">State <em>*</em></label>
              <%= f.text_field :state,:placeholder => "Enter State", :class => "form-control" %>
            </div>
            <div class="form-group form_wrap">
              <label for="zip">Zip <em>*</em></label>
              <%= f.text_field :zip,:placeholder => "Enter Zip", :class => "form-control" %>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="row">
            <div class="col-lg-6">
              <div class="checkbox">
                <label class="signup_chkbox">
                <%= f.check_box :is_accept, :label => resource.is_accept, :onchange => 'this.form.Submit()' %>I accept
                 <%= link_to "Terms and Conditions",home_terms_condition_path,:target=>"_blank" %>
               </label>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
    <div class="agree_btn_wrap">
      <%= f.submit "Next", :class => "blue_btn pull-right agree_btn" %>
        <%= f.submit "Back", :class => "black_btn pull-right" ,:name => "back_button" unless @doctor.first_step?  %>
    </div>
  </div>
</div>

