<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 register_title">
      Register for a new account
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/register_devider.png" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 step_wrap" align="center">
      <div class="step_no">
        <img src="/assets/done_icon.png" alt="" class="img-responsive">
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 step_no_txt">
          Registration Disclaimer
        </div>
      </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 step_wrap active_step" align="center">
      <div class="step_no">2</div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 step_no_txt">
          Select your speciality
        </div>
      </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" align="center">
      <div class="step_no">3</div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 step_no_txt">
          Personal Information
        </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/register_devider.png" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="disclaimer_wrap">
      <div class="disclaimer_title">
        Select your speciality
        <span class="down_arrow">
          <img src="/assets/down_arrow.png" alt="">
        </span>
      </div>
        <div class="disclaimer_box second_step">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              Speciality
            </div>
            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
              <%= f.collection_select(:speciality_id,Speciality.all,:id,:spe_name, {:prompt=>"Select Speciality" , :autofocus => true }, {:class=>'form-control signature_txtbox'})%>
            </div>
          </div>
        </div>
      </div>
      <div class="agree_btn_wrap">
        <%= f.submit "Next", :class => "blue_btn pull-right agree_btn" %>
        <%= f.submit "Back", :class => "black_btn pull-right" ,:name => "back_button" unless @doctor.first_step?  %>
      </div>
  </div>
</div>

