<div class="container">
  <div class="row" align="center">
    <div class="col-xs-8 set_loading">
      <div class="row">
        <%= image_tag("/assets/ajax-loader.gif") %>
      </div>
      <div class="row loading_text">
        Redirect on payment...
      </div>
    </div>
    <div>
    </div>
  </div>
</div>
<% if cookies[:subscribed_to] == "1_year" %>
  <%= form_for :one_year_sim_transaction, :url => AuthorizeNet::SIM::Transaction::Gateway::LIVE, html: {class: "hidden"} do |f| %>

    <%= render "payments/advance_plan_content"%>

    <%= sim_fields(@one_year_sim_transaction) %>
    <%= hidden_field_tag("x_invoice_num", 5332131465135, {:id => "x_invoice_num"}) %>
    <%= hidden_field_tag("x_cust_id", 0145210, {:id => "x_cust_id"}) %>
    <%= hidden_field_tag("x_email",session[:current_doctor] , {:id => "x_email"}) %>
    <%= hidden_field_tag("x_plan", "1 year plan", {:id => "x_plan"}) %>
    <%= hidden_field_tag("x_plan_interval_in_year", "1", {:id => "x_plan_interval_in_year"}) %>
    <div class="panel-footer">
      <%= f.submit 'SUBSCRIBE',:class => "btn btn-success btn-lg", :id => "subscribe_plan" %>
    </div>
  <%end%>
<% elsif cookies[:subscribed_to] == "2_year" %>
  <%= form_for :two_year_sim_transaction, :url => AuthorizeNet::SIM::Transaction::Gateway::LIVE, html: { class: "hidden"} do |f| %>

    <%= render "payments/recurring_plan_content"%>

    <%= sim_fields(@two_years_sim_transaction) %>
    <%= hidden_field_tag("x_invoice_num", 5332131465135, {:id => "x_invoice_num"}) %>
    <%= hidden_field_tag("x_cust_id", 0145210, {:id => "x_cust_id"}) %>
    <%= hidden_field_tag("x_email",session[:current_doctor] , {:id => "x_email"}) %>
    <%= hidden_field_tag("x_plan", "2 year plan", {:id => "x_plan"}) %>
    <%= hidden_field_tag("x_plan_interval_in_year", "2", {:id => "x_plan_interval_in_year"}) %>
    <div class="panel-footer">
      <%= f.submit 'SUBSCRIBE',:class => "btn btn-success btn-lg", :id => "subscribe_plan" %>
    </div>
  <%end%>
<% end %>
<% cookies.delete :subscribed_to %>
<script type="text/javascript">
	$(function(){
		$("#subscribe_plan").click()
	})
</script>