<center>
  <h2>Edit <%= resource_name.to_s.humanize %></h2>
  <table style="padding-left: 20em; width: 56%">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>
    <tr>
      <td><%= f.label :email %></td>
      <td><%= f.email_field :email, :autofocus => true, :placeholder => "Enter Email" %></td>
    </tr>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <tr>
      <td><%= f.label :password %> <i>(leave blank if you don't want to change it)</i></td>
      <td><%= f.password_field :password, :autocomplete => "off",:placeholder => "Enter Password" %></td>
    </tr>

    <tr>
      <td><%= f.label :password_confirmation %></td>
      <td><%= f.password_field :password_confirmation, :placeholder => "Password Confirmation" %></td>
    </tr>

    <tr>
      <td><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i></td>
      <td><%= f.password_field :current_password,:placeholder => "Current Password" %></td>
    </tr>

    <tr>
      <td><%= f.label :speciality %></td>
      <td> <%= f.collection_select(:speciality_id,Speciality.all,:id,:spe_name,{:include_blank => "Please Select"}, :autofocus => true)%></td>
    </tr>

      <tr>
        <td><%= f.label :doctor_name %></td>
        <td><%= f.text_field :doctor_name , :placeholder => "Enter Name", :class => "vali" %></td>
      </tr>

      <tr>
        <td><%= f.label :practise_name %></td>
        <td><%= f.text_field :practise_name,:placeholder => "Enter Practise" %></td>
      </tr>

      <tr>
        <td><%= f.label :address %></td>
        <td> <%= f.text_area :address, :placeholder => "Enter Address",:rows => 3, :cols => 29 %></td>
      </tr>

       <tr>
        <td><%= f.label :city %></td>
        <td><%= f.text_field :city ,:placeholder => "Enter City"%> </td>
      </tr>

      <tr>
        <td> <%= f.label :state %></td>
        <td><%= f.text_field :state,:placeholder => "Enter State" %></td>
      </tr>

      <tr>
        <td><%= f.label :zip %></td>
        <td> <%= f.text_field :zip,:placeholder => "Enter Zip" %></td>
      </tr>

      <tr>
        <td><%= f.label :phone %></td>
        <td> <%= f.text_field :code,:placeholder => "Code", :size => "5px" %>&nbsp;<%= f.text_field :phone,:placeholder => "Number",:size => "22px"%></td>
      </tr>

      <tr>
        <td><%= f.label :gender %></td>
        <td><%=f.radio_button :sex , "Male"%><%= f.label "Male" %>
         <%=f.radio_button :sex , "Female"%><%= f.label "Female" %></td>
      </tr>
     <tr>
        <td colspan="2">
          <center><%= f.submit "Update",:class => "front-page-button-register" %>&nbsp;
          <%= link_to "Back", :back,:class => "front-page-button-cancel" %></center>
        </td>
      </tr>
  <% end %>
</table>
<!--
  <h3>Cancel my account</h3>

  <p>Unhappy? <%#= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

  <%#= link_to "Back", :back %>
 -->