<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name),:html=>{:class=>"form signup_form"}) do |f| %>
  <%#= devise_error_messages! %>
  <div class="row signup_wrap">
    <div class="container">
      <%= render "#{resource.current_step}_step", :f => f %>
    </div>
  </div>
  <!-- <div class="wrapper"> -->
    <% if @doctor.first_step? %>
     
    <% elsif @doctor.last_step? %>
      <!-- <div class="btns" align="right">
        <span>
          <%#= f.submit "Back", :class => "gray-btn" ,:name => "back_button" unless @doctor.first_step?  %>
          <%#= f.submit "Next", :class => "blue-btn" %>
        </span>
      </div> -->
    <% else %>
      <!-- <div class="btns" align="right">
        <span>
          <%#= f.submit "Back", :class => "gray-btn" ,:name => "back_button" unless @doctor.first_step?  %>
          <%#= f.submit "Next", :class => "blue-btn" %>
        </span>
      </div> -->
    <% end %>
  <!-- </div> -->
<% end %>
<%#= render "devise/shared/links" %>