<article id="content" class="cols-b">
  <nav id="breadcrumbs">
    <ol>
      <li><a href="default.htm">Home</a></li>
      <li>Contact us</li>
    </ol>
  </nav>
  <div class="map-a">
    <header class="vcard">
      <h2 class="fn org">eInformedConsent</h2>
      <p class="adr"><span class="street-address">841 Lorem Ipsum Dolor St.</span> <span class="locality">Queensland</span>, <span class="country-name">Australia</span></p>
      <ul>
        <li class="tel">+1 123 123 1233</li>
        <li><a class="email">info//medical/com</a></li>
      </ul>
    </header>
    <p class="scheme-a">Lorem ipsum medical center</p>
    <figure><img src="images/map-a.png" alt="Placeholder" width="660" height="469"></figure>
  </div>
  <aside>
    <form onSubmit="return submitForm();" action="" method="post" class="contactform" name="homefrm1" id="contact">
      <input type="hidden"  name="event" value="start" />
      <fieldset>
        <legend>Send us a message</legend>
        <p>
          <label for="ca">Your name</label>
          <input type="text" id="ca" name="name" required>
        </p>
        <p>
          <label for="cb">Email address</label>
          <input type="email" id="cb" name="email" required>
        </p>
        <p class="select-b">
          <label for="cc">Subject</label>
          <input name="subject" type="text" id="cd" required>
        </p>
        <p>
          <label for="cd">Message</label>
          <textarea id="cc" name="msg" required></textarea>
        </p>
        <p><button type="submit">Submit</button></p>
      </fieldset>
    </form>
    <div id="alert">
      <div class="message"></div>
    </div>
  </aside>
</article>