<% flash.each do |key, msg| %>
	<div align="center" class="row reg-success-select-plan alert alert-<%= key %>">
	  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	  <%= msg %>
	</div>
<% end %>