<div class="row footer_wrap user_footer">
  <div class="container">
    <div class="col-lg-12">
      <div class="footer_nav" align="center">
        <a href="http://www.einformedconsent2.com/newsletter.html" target="_blank" class="blue_btn">Read Our Newsletters Online</a>
        <!-- <a href="#">Home </a>|
        <a href="#">Appointments </a>|
        <a href="#">Billing & Insurance </a>|
        <a href="#">Find a Doctor </a>|
        <a href="#">Maps & Directions </a>|
        <a href="#">Appointments </a> -->
        <span>Copyright 2015 &copy; eInformedConsent.</span>
      </div>
    </div>
  </div>
</div>

  