<div>
  <h3>Your Visit</h3>
  <ul>
    <li><a href="default.htm">Appointments</a></li>
    <li><a href="default.htm">Billing &amp; Insurance</a></li>
    <li><a href="default.htm">Find a Doctor</a></li>
    <li><a href="default.htm">Maps &amp; Directions</a></li>
  </ul>
</div>