<div class="row">
  <div class="container header_wrap">
    <%= render "/layouts/shared/front_page_logo"%>
    <div class="col-lg-8  header_contact" align="right">
      <span>
        <img src="/assets/email_icon.png" alt="">
        <a href="mailto:info@einformedconsent.com">info@einformedconsent.com</a>
      </span>
      <div class="header_btns">
        <a href="#" data-toggle="modal" data-target="#myModal" class="blue_btn">Doctor Login</a>
        <a href="<%= new_doctor_registration_path%>" class="blue_btn" onclick="deleteAllCookie(['free_plan', 'subscribed_to'])">Subscribe Here</a>
      </div>
    </div>
    <div class="row" align="center">
      <div class="col-xs-12">
        <div class="video-btn-hr text-center">
          <a href="#" class="howItWorkBtn" data-toggle="modal" data-target="#videoModal" data-theVideo="http://tpstracker.com/demo/einformedconsent/video_V2.mp4" data-backdrop="static">
            <span class="glyphicon glyphicon-facetime-video"></span>
            How it works
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "/layouts/shared/front_page_menu"%>

<%= render :template => "devise/sessions/new",:locals => {:resource => current_doctor,:resource_name => :doctor } %>

<%= render :template => "devise/passwords/new",:locals => {:resource => current_doctor,:resource_name => :doctor } %>

