<div class="vcard">
  <h3 class="fn org">Your company name</h3>
  <p class="adr"><span class="street-address">50 Woodland</span> <span class="locality">Lorem ipsum</span> <span class="region">QLD</span> <span class="postal-code">4227</span>, <span class="country-name">Australia</span></p>
  <ul>
    <li class="tel">(+01) 3333 33333</li>
    <li><a class="email">info//yourcompany/com</a></li>
  </ul>
  <ul class="social-a">
    <li class="fb"><a rel="external" href="default.htm">Facebook</a></li>
    <li class="tw"><a rel="external" href="default.htm">Twitter</a></li>
    <li class="ms"><a rel="external" href="default.htm">MySpace</a></li>
  </ul>
</div>