<div class="row">
  <div class="container">
    <div class="bs-example">
      <nav role="navigation" class="navbar navbar-default">
        <div class="navbar-header">
          <button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="navbar-toggle" type="button">      
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand">Menu</a> 
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
           <li class="<%= 'active' if current_page?(root_url) %>"><a href="<%= root_url%>">Home</a></li>
            <li class="<%= 'active' if current_page?(how_it_works_path) %>"><a href="<%= how_it_works_path%>">How it works</a></li>
            <li class="<%= 'active' if current_page?(services_path) %>"><a href="<%= services_path%>">SERVICES/BENEFITS</a></li>
            <li class="<%= 'active' if current_page?(plan_detail_path) %>"><a href="<%= plan_detail_path%>">Subscription Plans</a></li>
            <li class="<%= 'active' if current_page?(about_us_path) %>"><a href="<%= about_us_path%>">About Us</a></li>
            <li class="<%= 'active' if current_page?(contact_us_path) %>"><a href="<%= contact_us_path%>">Contact Us</a></li>
            <li class="pre_link"><a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">presentation-menu</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>