<div class="row user_header_wrap">
  <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" align="right">
      <% if doctor_signed_in? %>

        <div class="col-lg-4 col-md-4 col-sm-4" align="center">
          <a href="/">
            <img src="/assets/logo.png" alt="" class="img-responsive">
          </a>
        </div>
        <div class="col-lg-8  header_contact" align="right">
          <span>
            <img src="/assets/email_icon.png" alt="">
            <a href="mailto:info@einformedconsent.com">info@einformedconsent.com</a>
          </span>
          <div class="header_btns">
            Dr. <%= current_doctor.doctor_name%>&nbsp;&nbsp;| &nbsp;&nbsp;<%= link_to "Logout",destroy_doctor_session_path%>
          </div>
        </div>
      <% else %>
        <%# if session[:patient_id].present? %>
        <img src="/assets/logo.png" alt="" class="img-responsive">
        <%# else %>
        <%# end %>
      <%end%>
    </div>
  </div>
</div>
