<!-- <div class="modal fade" id="howWorks" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog large_vid">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="videoclose">&times;</button>
        <h4 class="modal-title" id="myModalLabel">How it works?</h4>
      </div>

        <div id="spi">
          <img src="/assets/ajax_loader.GIF"><br />
          Your presentation will start in a few moments.  Do not press any keys at this time.
        </div>

      <%# if browser.ie8? %>
        <script src="/assets/video.js"></script> -->
        <!-- Unless using the CDN hosted version, update the URL to the Flash SWF -->
        <!-- <script>
          videojs.options.flash.swf = "http://tpstracker.com/demo/consent/video/how-it-works/Updated_how_it_works.swf";
        </script>

        <video id="myvideo" class="video-js vjs-default-skin" controls preload="none" data-setup="{}" autoplay="autoplay" preload="auto" width="100%" height="500px">
          <source src="http://tpstracker.com/demo/consent/video/how-it-works/video.mp4" type='video/mp4' />
          <source src="http://tpstracker.com/demo/consent/video/how-it-works/video.webm" type='video/webm' />
          <source src="http://tpstracker.com/demo/consent/video/how-it-works/video.ogv" type='video/ogg' />
        </video>
      <%# else %>
        <video width="848" height="466" poster="http://tpstracker.com/demo/consent/video/how-it-works/poster.png"  id="myvideo"  controls="true" >
          <source src="http://tpstracker.com/demo/consent/video/how-it-works/video.mp4" type='video/mp4' />
          <source src="http://tpstracker.com/demo/consent/video/how-it-works/video.webm" type='video/webm' />
          <source src="http://tpstracker.com/demo/consent/video/how-it-works/video.ogv" type='video/ogg' />
        </video>
      <%# end %>
    </div>
  </div>
</div> -->

<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
  <% if browser.mobile? %>
    <div class="modal-dialog">
  <% else %>
    <div class="modal-dialog" style="width: 70%; height: 50%;">
  <% end %>
    <div class="modal-content video_model_content">
      <div class="modal-header" style="padding: 0 4px 0 0; min-height: none; border: none;">
        <button type="button" class="close modal-close" style=""data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body p-none modal-lg">
      </div>
     </div>
  </div>
</div>

<script type="text/javascript">

  $("#videocover").click(function() {
    var video = document.getElementById("myvideo");
    video.play();
  });

  $("#videoclose").click(function() {
    var video = document.getElementById("myvideo");
    video.pause();
    video.currentTime = 0;
  });

  var video = document.getElementById('myvideo');

  $("#myvideo").bind("ended", function() {
    $('#howWorks').remove();

    $("div").removeClass("modal-backdrop");
  });

  video.addEventListener('progress', function (e) {
    if (this.buffered.length > 0) {
      $('#spi').hide();
    }
    else {
      $('#spi').show();
    }
  }, false);



</script>

<style type="text/css">

  .vjs-control-bar {
    display: none !important;
  }

  #spi {
    position: absolute;
    margin-top: 250px;
    margin-left: 250px;
    z-index: 9999999;
    color: #000;
  }
  #spi img {
    height: 25px;
  }
  #videoContainer {
    position: relative;
  }
</style>