<script type="text/javascript">

  (function($){

      var timeout = 600000;
      // var timeout = 2000;

      $(document).bind("idle.idleTimer", function(){
         $('.my_main').html("<%= escape_javascript(render :partial => '/layouts/shared/timeout').html_safe %>");
         $('.ajax').html("<%= escape_javascript(render :partial => '/report_questions/blank').html_safe %>");
         $.get("/doctors/sign_out","","","scripts")
         window.history.pushState("", "", '/');
      });

      // $(document).bind("active.idleTimer", function(){
      //      console.log("active");
      // });

      $.idleTimer(timeout);

  })(jQuery);

</script>