<% if !signed_in? %>
  <h4>
    <%= link_to "Home", root_url %>
    <span>
      <%= link_to "Sign in", new_doctor_session_path %> |
      Doctor? <%= link_to "Sign up", new_doctor_registration_path %>
    </span>
  </h4>
<% else %>
  <h3>
    <%= link_to "Home", root_url %>
    <% if doctor_signed_in?  %>
      <%= link_to "Add Patient", new_patient_path %>
      <%= link_to "Video", videos_path%>
    <% end %>
    <span>
      Welcome <%#= current_doctor.email %>
      <%= link_to "Sign out", destroy_doctor_session_path%>
    </span>
  </h3>
<% end %>
