<% if doctor_signed_in? %>
<div class="row user_sub_header">
  <div class="container">
    <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12 sub_header_left" align="center">
      <% @fullname = [] %>
      <% @name = current_doctor.doctor_name.split(" ") %>
      <% @name.each do |name| %>
        <% @fullname << name.titleize %>
      <% end %>

      <span><%= @fullname.join(" ") %></span>
      <p>
        <% @speciality= Speciality.all %>
          <% @speciality.each do |s| %>
            <% if current_doctor.speciality_id == s.id %>
              <%= s.spe_name.titleize %>
            <% end %>
          <% end %>
          <br><br>
          <% @add = current_doctor.address.titleize %>
          <% @b = @add.split(" ,") %>
          <% @c= @b.join(",") %>
          <% @d = @c.split(", ") %>
          <%= @d.join(",") %>

          <br>
          <%= current_doctor.city.titleize %>,<%= current_doctor.state.titleize %> <%= current_doctor.zip %><br>
          <%= current_doctor.phone %><br>
      </p>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12 add_new_consent_wrap" align="center">
      <a href="<%=patient_report_new_path%>">
        <img src="/assets/add_new_consent.png" alt="" class="img-responsive">
      </a>
    </div>
    <div class="clearfix clear_hide"></div>
      <div class="dashboard_menu_wrap">
        <%= link_to patients_path,:class=>(current_page?(patients_path) == true ? "col-lg-1 col-md-1 col-sm-3 col-xs-6 dashboard_menu_active" : "col-lg-1 col-md-1 col-sm-3 col-xs-6")  do %>
          <div align="center">
            <% if current_page?(patients_path) == true  %>
              <img src="/assets/my_patients_active.png" alt="">
            <%elsif current_page?(patients_path) == false%>
              <img src="/assets/my_patients_normal.png" alt="">
            <%end%>
          </div>
          <p><b>My Patients</b></p>
        <%end%>
        <%= link_to doctor_profile_index_path,:class=>(current_page?(doctor_profile_index_path) == true ? "col-lg-1 col-md-1 col-sm-3 col-xs-6 dashboard_menu_active" : "col-lg-1 col-md-1 col-sm-3 col-xs-6") ,:"data-toggle"=>"modal",:"data-target"=>"#porfile_view" do %>
          <div align="center">
            <% if current_page?(doctor_profile_index_path) == true  %>
              <img src="/assets/my_profile_active.png" alt="">
            <%elsif current_page?(doctor_profile_index_path) == false%>
              <img src="/assets/my_profile_normal.png" alt="">
            <%end%>
          </div>
          <p><b>My Profile</b></p>
        <%end%>
        <%= link_to doctor_plan_path,:class=>(current_page?(doctor_plan_path) == true ? "col-lg-1 col-md-1 col-sm-3 col-xs-6 dashboard_menu_active" : "col-lg-1 col-md-1 col-sm-3 col-xs-6")  do %>
          <div align="center">
            <% if current_page?(doctor_plan_path) == true  %>
              <img src="/assets/subscription_active.png" alt="">
            <%elsif current_page?(doctor_plan_path) == false%>
              <img src="/assets/subscription_normal.png" alt="">
            <%end%>
          </div>
          <p><b>Subscribe</b></p>
        <%end%>
        <%= link_to past_report_path,:class=>(current_page?(past_report_path) == true ? "col-lg-1 col-md-1 col-sm-3 col-xs-6 dashboard_menu_active" : "col-lg-1 col-md-1 col-sm-3 col-xs-6") do %>
          <div align="center">
            <% if current_page?(past_report_path) == true  %>
              <img src="/assets/past_reports_active.png" alt="">
            <%elsif current_page?(past_report_path) == false%>
              <img src="/assets/past_reports_normal.png" alt="">
            <%end%>
          </div>
          <p><b>Past Reports</b></p>
        <%end%>
     </div>
  </div>
</div>
<div class="modal fade" id="porfile_view" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<% else %>

  <% @pat_doc_id = ""%>
  <% @doc_spe_id = ""%>
  <% @session_id %>
  <% @patients = Patient.all %>
  <% @doctors = Doctor.all %>
  <% @speciality = Speciality.all %>

  <% @patients.each do |p|  %>
    <% if p.first_name == session[:patient_id] %>
      <% @pat_doc_id = p.doctor_id %>
      <% @session_id =  p.doctor_id %>
    <% end %>
  <% end %>
    <% @fullname = [] %>
    <% session[:patient_id] %>
    <div class="row user_sub_header">
      <div class="container">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 sub_header_left" align="center">
            <% @doctors.each do |d| %>
              <% if d.id == @pat_doc_id%>
                <% @name = d.doctor_name.split(" ") %>
                <% @name.each do |name| %>
                  <% @fullname<<name.titleize %>
                <% end %>
                <span>Dr. <%= @fullname.join(" ") %></span><br><br>
                <% @doc_spe_id = d.speciality_id %>
              <% end %>
            <% end %>
            <p>
            <% @doctors.each do |d| %>
              <% if d.id == @pat_doc_id%>
                Contact : <%= d.phone %><br>
              <% end %>
            <% end %>
            </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 sub_header_right" align="center">
          <% @doctors.each do |d| %>
            <% if d.id == @pat_doc_id%>
              <span>Location</span>
              <p>
                <% @add = d.address.titleize %>
                <% @b = @add.split(" ,") %>
                <% @c= @b.join(",") %>
                <% @d = @c.split(", ") %>
                <%= @d.join(",") %>
                <br>
              <%= d.city.titleize %> <%= d.state.titleize %><br>
              <%= d.zip %></p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
<% end %>

