<div class="row user_container">
  <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="patient_login_box">
        <h1>Patient Login</h1>
        <p>Please Enter Patient Passcode provided<br>by Your Doctor.</p>
        <%= form_for :report, :url => access_report_path, :method => 'POST',:class=>"form" do %>
          <div class="form-group form_wrap">
            <%= text_field_tag :report_code,"",:class=>"form-control",:placeholder=>"Enter Patient Passcode Here"  %>
          </div>
          <div class="form-group form_wrap">
            <input type="button" class="form-control pull-left login_leave_btn" value="Leave" onclick="window.location='http://www.einformedconsent.com/'">
            <%= submit_tag "Go",:class=>"form-control pull-right login_go_btn"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>