<div class="row presentaion_menu">
	<div class="container">
		<div class="col-xs-12">
			<div class="collapse" id="collapseExample">
			  	<div class="well custom_well">		
					<div style="width:100%;" class="custom_links">
							<div>
					  			<h5>EXTRACTION</h5>
					    		<ul>
					    			<li><a href="">Maxillary Anterior</a></li>
					    			<li><a href="">Maxillary Posterior</a></li>
					    			<li><a href="">Mandibular Anterior</a></li>
					    			<li><a href="">Mandibular Posterior</a></li>
					    			<li><a href="">Socket Graft</a></li>
					    		</ul>
					    	</div>
					    	<div>
					    		<h5>IMPLANTS</h5>
					    		<ul>
					    			<li><a href="">Maxillary Anterior</a></li>
					    			<li><a href="">Maxillary Posterior</a></li>
					    			<li><a href="">Mandibular Anterior</a></li>
					    			<li><a href="">Mandibular Posterior</a></li>
					    		</ul>
					    	</div>
					    	<div>
					    		<h5>BONE GRAFT</h5>
					    		<ul>
					    			<li><a href="">Autogenous & Allograft</a></li>
					    			<li><a href="">Maxillary Anterior</a></li>
					    			<li><a href="">Maxillary Posterior</a></li>
					    			<li><a href="">Mandibular Anterior</a></li>
					    			<li><a href="">Mandibular Posterior</a></li>
					    			<li><a href="">Sinus Augmentation</a></li>
					    		</ul>
					    	</div>
					    	<div>
					    		<h5>SEDATION</h5>
					    		<ul>
					    			<li><a href="">Oral Sedation</a></li>
					    			<li><a href="">IV Sedation</a></li>
					    			<li><a href="">Nitrous</a></li>	
					    		</ul>
					    	</div>
					    	<span class="glyphicon glyphicon-remove-circle close_presentaion" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"  data-placement="bottom" title="Close"></span>
					</div>
			  	</div>
			</div>
		</div>
	</div>	
</div>