<%if params[:controller] == "home" && params[:action] == "index"%>
  <title>eInformed Consent</title>
  <meta name="description" content="A subscription based informed consent consisting of a customized video presentation, which describes for the patient the proposed dental implant procedure.">
<% elsif params[:controller] == "registrations" && params[:action] == "new" %>
  <title>eInformedConsent</title>
  <meta name="description" content="Reduce dental implant litigation risk. Subscribe to create and email proposed dental implant treatment consent presentations. ">
<% elsif params[:controller] == "home" && params[:action] == "about_us" %>
  <title>eInformed Consent</title>
  <meta name="description" content="How to provide quality dental implant services, reduce patient misunderstandings and meet legal consent requirements while reducing practice resources.  ">
<% elsif params[:controller] == "home" && params[:action] == "contact_us" %>
  <title>eInformed Consent</title>
  <meta name="description" content="Do you have a question regarding how to present dental implant related treatments to patients?  Please do not hesitate to contact us.">
<% elsif params[:controller] == "home" && params[:action] == "how_it_works" %>
  <title>eInformed Consent</title>
  <meta name="description" content="You get a 5-minute video training on how the system works to reduce your exposure to dental implant related lawsuits..  ">
<% elsif params[:controller] == "home" && params[:action] == "services" %>
  <title>eInformed Consent</title>
  <meta name="description" content="Find what equipment patients can use..  Understand consent presentations - alternative treatment, sedation, proposed treatment and possible complications.">
<% else %>
<title>eInformed Consent</title>
<meta name="description" content="A subscription based informed consent consisting of a customized video presentation, which describes for the patient the proposed dental implant procedure.">
<% end %>