<div class="row confirmation_msg_container">
  <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

      <!-- Button trigger modal -->
    <!--  <div align="center">
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="margin-top:15%;">
          Click on me!
        </button>
      </div>
-->
      <!-- Modal -->
     <!--  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">-->
        <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header clearfix" style="border-bottom:0;">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 timeout_error" align="center">
              <p class="modal-title" id="myModalLabel">You are signed out due to inactivity.</p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" align="center">


              <% if doctor_signed_in? %>
                <%= link_to "Re-login",destroy_doctor_session_path, :class=>"btn btn-primary"%>
                <% if !session[:patient_id].blank? %>
                  <%# session[:patient_id] = nil %>
                <% end %>
              <% end %>
              <%# if !session[:patient_id].blank?%>
                <%#= link_to "Re-login", login_page_url(session[:patient_id]), :class=>"btn btn-primary"%>
              <%# end %>
            </div>
          </div>
        </div><!-- /.modal-content -->
        </div> <!-- /.modal-dialog -->
      <!-- </div> --><!-- /.modal -->
    </div>
  </div>
</div>
  <script type="text/javascript">
    $(window).load(function(){
        $('#myModal').modal('show');
    });
  </script>