<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">
    <% if doctor_signed_in? %>
      <li class="li-first"><span class="text">Dr. <%= current_doctor.doctor_name%></span></li>
      <li><%= link_to raw("<i class='icon icon-user'></i> <span class='text'>Profile</span>"),doctor_profile_index_path%></li>
      <li><%= link_to raw("<i class='icon icon-share-alt'></i><span class='text'>Sign out</span>"),destroy_doctor_session_path%></li>
    <% elsif patient_signed_in? %>
    <li class="li-first-patient">
      Welcome <%= current_patient.first_name%> <%= current_patient.last_name %></li>
      </span></a></li> <li class="" ><a title="" href="#"><i class="icon icon-user"></i> <span class="text">Profile</span></a></li>
      <li><%= link_to raw("<i class='icon icon-share-alt'></i><span class='text'>Sign out</span>"),destroy_patient_session_path,:method => :delete%></li>

    <%end%>
  </ul>
</div>
<% if doctor_signed_in? %>
<div id="search">
  <input type="text" placeholder="Search here..."/>
  <button type="submit" class="tip-left" title="Search"><i class="icon-search icon-white"></i></button>
</div>
<% elsif patient_signed_in? %>

<%end%>
<!--close-top-Header-menu-->

<!-- style="border-left:1px solid #fff; margin: 3px 20px 0 42px;" -->
