<div id="s1" class="a1">Program Introduction (default)<div class="vname">demo/consent/programintro</div></div>
<div id="s2" class="a1 sed">Oral Sedation (Section 4 Sedation)<div class="vname">demo/consent/oralsedation</div></div>
<div id="s3" class="a1 sed">Intravenous Script (Section 4 Sedation)<div class="vname">demo/consent/intravenous</div></div>
<div id="s4" class="a1 sed">Nitrous Script (Section 4 Sedation)<div class="vname">demo/consent/nitrous</div></div>
<div id="s5" class="a1 ext">Extraction Generic (Section 1 Extraction)<div class="vname">demo/consent/generic</div></div>
<div id="s6" class="a1 ext">Extraction Generic with Socket (Section 1 Extraction)<div class="vname">demo/consent/genericsocket</div></div>
<div id="s7" class="a1 ext">Extraction Standalone (Section 1 Extraction)<div class="vname">demo/consent/standalone</div></div>
<div id="s8" class="a1 ext">Extraction Standalone with Socket (Section 1 Extraction)<div class="vname">demo/consent/standalonesocket</div></div>
<div id="s9" class="a1">Implant Surgery Healing (default)<div class="vname">demo/consent/surgeryhealing</div></div>
<div id="s10" class="a1 bon">Bone Graft (Section 3 Bone Graft)<div class="vname">demo/consent/bonegraft</div></div>
<div id="s11" class="a1 bon">Sinus Augmentation (Section 3 Bone Graft)<div class="vname">demo/consent/sinusaugment</div></div>
<div id="s22" class="a1" style="background-color:#fff;">WHAT TO EXPECT VIDEO's LIST</div>
<div id="s12" class="a1 wat">Page 1,2,3 with IV Sedation <div class="vname">demo/consent/whattoexpect/part1_withivsedation</div></div>
<div id="s13" class="a1 wat">Page 1,2,3 without IV Sedation <div class="vname">demo/consent/whattoexpect/part1_withoutivsedation</div></div>
<div id="s14" class="a1 wat">If (1.3 + 1.4) > 0 + 1.2 >0 part2_a_b_c.swf<div class="vname">demo/consent/whattoexpect/part2_a_b_c</div></div>
<div id="s15" class="a1 wat">If (1.3 + 1.4) > 0 part2_a_b.swf <div class="vname">demo/consent/whattoexpect/part2_a_b</div></div>
<div id="s16" class="a1 wat">If 1.2 >0 part2_a_c.swf <div class="vname">demo/consent/whattoexpect/part2_a_c</div></div>
<div id="s17" class="a1 wat">part2_a.swf <div class="vname">demo/consent/whattoexpect/part2_a</div></div>

<div id="s18" class="a1 wat">If (2.2) selected part2_d.swf<div class="vname">demo/consent/whattoexpect/part2_d</div></div>
<div id="s19" class="a1 wat">Sinus augmentation selected part2_e.swf <div class="vname">demo/consent/whattoexpect/part2_e</div></div>
<div id="s20" class="a1 wat">Any of the bonegraft selected part2_f.swf <div class="vname">demo/consent/whattoexpect/part2_f</div></div>
<div id="s21" class="a1 wat" >Summary part3.swf<div class="vname">demo/consent/whattoexpect/part3</div></div>
<style type="text/css">
  .a1 {
    display: none;
  }
</style>