<%= semantic_form_for [:admin, @doctor] do |f| %>
  <%= f.inputs "Details" do %>
  	<%if params[:id].present? %>
  		<% if @doctor.subscription_plan == "Free" || @doctor.subscription_plan == "Unlimited" %>
    		<%= f.input :trial_period,  as: :select, collection: ["1","30","60","90","120", ["Unlimited", "0"]], :include_blank => false  %>
		   	<li>
			    <div class="cancel-trial">
				    <% if @doctor.subscription_plan == "Unlimited" %>
				      Unlimited days -
				    <% else %>
				      <%= (@doctor.expire_date.to_date - Time.zone.now.to_date ).to_i %> days remaining -
             <% end %>
				     <%= link_to "Cancel Trial",  admin_cancel_trials_path(@doctor) %>
			    </div>
		    </li>
  		<%end%>
   	<%end%>

  	<%= f.input :speciality, :label => "Speciality", :include_blank => "Please select...", :collection => Speciality.all.map{ |s| [s.spe_name, s.id] } %>
    <%= f.input :doctor_name, :label => "Doctor Name" %>
    <%= f.input :email, :label => "Email" %>
    <%= f.input :password, :label => "Password" %>
    <%= f.input :practise_name %>
    <%= f.input :state %>
    <%= f.input :city %>
    <%= f.input :address, :input_html => { :rows => 5, :cols => 30, :maxlength => 10  } %>
    <%= f.input :zip %>
    <%= f.input :code %>
    <%= f.input :phone %>
    <%= f.input :sex, :as => "radio", :collection => ["Male","Female"] %>
    <%= f.actions %>
  <% end %>
<% end %>