<div class="panel">
  <h3>Non Active Doctors</h3>
  <div class="panel_contents">
    <div class="attributes_table">
      <table>
        <tr>
          <td><b>ID</b></td>
          <td><b>Doctor Name</b></td>
          <td><b>Speciality</b></td>
          <td><b>Email</b></td>
          <td><b>city</b></td>
          <td><b>State</b></td>
          <td><b></b></td>
        </tr>
          <% @non_active_doctors.each do |doctor| %>
          <tr>
            <td><%= doctor.id %></td>
            <td><%= link_to doctor.doctor_name.capitalize, admin_doctor_path(doctor) %></td>
            <td><%= doctor.speciality_spe_name %></td>
            <td><%= doctor.email %></td>
            <td><%= doctor.city %></td>
            <td><%= doctor.state %></td>
            <td><%= link_to "View patients", pat_show_admin_doctor_path(doctor) %></td>
          </tr>
          <% end %>
      </table>
    </div>
  </div>
</div>
