<div class="panel">
  <h3>Patient Details</h3>
  <div class="panel_contents">
    <div class="attributes_table">
      <table>
        <tr>
          <td><b>ID</b></td>
          <td><b>First name</b></td>
          <td><b>Last name</b></td>
          <td><b>Email</b></td>
          <td><b>Address</b></td>
          <td><b>Gender</b></td>
          <td><b>City</b></td>
          <td><b>State</b></td>
          <!-- <td><b>Appointment Date</b></td> -->
          <td><b>Phone Number</b></td>
        </tr>
          <% @d.patients.each do |a| %>
          <tr>
            <td><%= a.id %></td>
            <td><%= a.first_name %></td>
            <td><%= a.last_name %></td>
            <td><%= a.email %></td>
            <td><%= a.address %></td>
            <td><%= a.gender %></td>
            <td><%= a.city %></td>
            <td><%= a.state %></td>
            <!-- <td><%#= a.appointment_date %></td> -->
            <td>(<%= a.phone_code %>)
            <%= a.phone_number %></td>
          </tr>
          <% end %>
      </table>
    </div>
  </div>
</div>
