<div class="panel">
  <h3>Audio Details</h3>
  <div class="panel_contents">
    <div class="attributes_table">
      <table>
        <tr>
          <th>Id</th>
          <td><%= audio.id%></td>
        </tr>
        <tr>
          <th>File name</th>
          <td><%= audio.audio_file%></td>
        </tr>
        <tr>
          <th>Audio</th>
          <td>
            <div id="jquery_jplayer_1" class="jp-jplayer"></div>
              <div id="jp_container_1" class="jp-audio">
                <div class="jp-type-single">
                  <div class="jp-gui jp-interface">
                    <ul class="jp-controls">
                      <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
                      <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
                      <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
                      <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
                      <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
                      <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
                    </ul>
                    <div class="jp-progress">
                      <div class="jp-seek-bar">
                        <div class="jp-play-bar"></div>
                      </div>
                    </div>
                    <div class="jp-volume-bar">
                      <div class="jp-volume-bar-value"></div>
                    </div>
                    <div class="jp-time-holder">
                      <div class="jp-current-time"></div>
                      <div class="jp-duration"></div>
                      <ul class="jp-toggles">
                        <li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
                        <li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="jp-title">
                    <ul>
                      <li>Bubble</li>
                    </ul>
                  </div>
                </div>
              </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<head>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#jquery_jplayer_1").jPlayer({
        ready: function () {
          $(this).jPlayer("setMedia", {
            mp3: "<%= audio.audio_file.url %>",
            ogg: "<%= audio.audio_file.url %>",
            m4a: "<%= audio.audio_file.url %>"
          });
        },
        swfPath: "/assets",
        solution: 'flash,html',
        supplied: "mp3,oga,m4a",
        wmode: "window"
      });
    });
  </script>
</head>

