<%= debug photo %>
<%= semantic_form_for :photo, :html => {:multipart => true} do |f| %>
  <%= f.label :image, :class=>"control-label" %>
  <%= f.file_field :image, multiple: true %>
  <%= f.submit %>
<% end %>