<h1>Listing photos</h1>

<table id='photos-list'>
  <tr>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= render @photos %>
</table>
<br />
<%= semantic_form_for [:admin, Photo.new], :remote => true, :html => { :multipart => true } do |f|%>
  <%= hidden_field_tag :format, 'script' %>
  <%= f.file_field :image, multiple: true, :name => "photo[image]" %>
<% end %>
<div id="progress">
  <div class="bar" style="width: 0%;"></div>
</div>