<tr class='photo' id='photo-<%= photo.id %>'>
  <td><%= image_tag photo.image.url, :width => "30%" %></td>
  <td><%= link_to 'Show', photo %></td>
  <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
  <td><%= link_to 'Destroy', [:admin, photo], :method => :delete, :remote => true %></td>
</tr>


<!-- <div class='photo' id='photo-<%= photo.id %>'>
  <figure class="cap-right">
    <%= image_tag photo.image_url, :class => "image-my" %>
    <figcaption>
      <%= link_to 'Show', photo %>
      <%= link_to 'Edit', edit_photo_path(photo) %>
      <%= link_to 'Destroy', [:admin, photo], :method => :delete, :remote => true %>
    </figcaption>
  </figure>
<div> -->



<script id="template-upload" type="text/x-tmpl">
  <div class="upload">
    {%=o.image_name%}
    <div class="progress"><div class="bar" style="width: 0%"></div></div>
  </div>
</script>


<!-- <style type="text/css">
.image-my { width: 20em;}
figure {   display: block; position: relative; float: left; overflow: hidden; margin: 0 20px 20px 0; }
figcaption { position: absolute; background: black; background: rgba(0,0,0,0.75); color: white; padding: 10px 20px; opacity: 0; -webkit-transition: all 0.6s ease; -moz-transition: all 0.6s ease; -o-transition: all 0.6s ease; }
figure:hover figcaption { opacity: 1; color: white; }
figure:before { content: "?"; position: absolute; font-weight: 800; background: black;   background: rgba(255,255,255,0.75); text-shadow: 0 0 5px white; color: black; width: 24px;  height: 24px; -webkit-border-radius: 12px;  -moz-border-radius:    12px; border-radius: 12px; text-align: center; font-size: 14px; line-height: 24px; -moz-transition: all 0.6s ease; opacity: 0.75; }
figure:hover:before { opacity: 0; }
.cap-left:before {  bottom: 10px; left: 10px; }
.cap-left figcaption { bottom: 0; left: -30%; }
.cap-left:hover figcaption { left: 0; }

.cap-right:before { bottom: 10px; right: 10px; }
.cap-right figcaption { bottom: 0; right: -30%; }
.cap-right:hover figcaption { right: 0; }

.cap-top:before { top: 10px; left: 10px; }
.cap-top figcaption { left: 0; top: -30%; }
.cap-top:hover figcaption { top: 0; }

.cap-bot:before { bottom: 10px; left: 10px; }
.cap-bot figcaption { left: 0; bottom: -30%;}
.cap-bot:hover figcaption { bottom: 0; }
</style> -->