<script type="text/javascript">
<%@patients = current_doctor.patients.all %>

$(document).ready(function(){
  var x = $("#fname").val();
  $("#fname").blur(function(){
      var y = $("#fname").val();
      $(".symbol").removeClass('email_taken_no');
      $(".e_msg").hide();
      <% @patients.each do |value| %>
        if(x == y)
        {

        }
        else if(y == "<%=value.email%>")
        {
          $(".symbol").addClass('email_taken_no');
          $(".e_msg").show();
          $("#fname").focus();
        }
      <% end %>
    });
});

$(document).ready(function(){
  if($('#dp6').length > 0)
  {
    $('#dp6').datepicker()
      .on('changeDate', function(ev){
        $('#dp6').datepicker('hide');
    });
  }
});
</script>

<style>
  .email_taken_no{
    content: url(/assets/email_taken.png);
  }
</style>

<div class="tab2">
  <div class="add-concent" >
    <div id="tabs">
      <div class="bs-example bs-example-tabs presentation_tabs_wrap">
        <ul class="nav nav-tabs custom_tabs" id="myTab">
          <li class="active col-lg-4 col-md-4 col-sm-4 col-xs-12"><a data-toggle="tab" href="#add_patient">1. Add Patient</a></li>
          <li class="col-lg-4 col-md-4 col-sm-4 col-xs-12"><a data-toggle="tab" href="#select_menu">2. Select Presentation Segment</a></li>
          <li class="col-lg-4 col-md-4 col-sm-4 col-xs-12"><a data-toggle="tab" href="#create_code">3. Create patient Code and Send</a></li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div id="add_patient" class="tab-pane fade active in tab_content">
            <div class="row tab_form">
              <div class="tab-background">
                <%= form_for patient_report , :as => :patient, :url => patient_report_path,  :remote => true,:html => { :method => :put,:multipart => true}  do |f| %>
                  <div class="add-concent-form">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <div class="form-group form_wrap">
                        <label for="fname">First name <em>*</em></label>
                        <%= f.text_field :first_name , :placeholder => "First Name" , :class => "form-control"%>
                      </div>
                      <div class="form-group form_wrap">
                        <label for="fname">Last name <em>*</em></label>
                        <%= f.text_field :last_name , :placeholder => "Last Name", :class => "form-control" %>
                      </div>
                      <div class="row">
                        <div class="form-group form_wrap">
                          <label for="Gender">Gender <em>*</em></label>
                          <div class="row">
                            <div class="col-lg-2" style="padding-left:0;">
                              <div class="radio">
                                <label>
                                  <%=f.radio_button :gender , "Male"%>Male
                                </label>
                              </div>
                            </div>
                            <div class="col-lg-2" style="padding-left:0;">
                              <div class="radio">
                                <label>
                                 <%=f.radio_button :gender, "Female"%>Female
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group form_wrap">
                        <label for="email">Email <em>*</em></label>
                        <%= f.email_field :email,:placeholder => "Email", :class => "form-control",:id=>"fname" %>
                        <span class="symbol" style="margin-bottom:-8px;"> </span>
                        <span class="e_msg" style="display:none;  color:#ff0000;">This patient is already in your list.</span>
                      </div>
                      <div class="form-group form_wrap">
                        <label for="email">Phone <em>*</em></label>
                        <%= f.hidden_field :phone_code,:placeholder => "Code", :class => "code"%>
                        <%= f.text_field :phone_number,:placeholder => "Number", :class => "form-control"%>
                      </div>
                      <div class="form-group form_wrap">
                        <label for="bday">Birthdate <em>*</em></label>
                         <%= f.text_field :birthdate,:placeholder => "Enter Date of Birth", :id => "dp6" ,:class=>"form-control",:"data-date"=>"07/22/2013",:"data-date-format"=>"dd/mm/yyyy"%>
                      </div>
                     </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <div class="form-group form_wrap">
                        <label for="email">Address / suite<em>*</em></label>
                        <%= f.text_area :address, :placeholder => "Address",:class => "form-control",:rows => 5, :cols => 50  %>
                      </div>
                      <div class="form-group form_wrap">
                        <label for="bday">City <em>*</em></label>
                         <%= f.text_field :city, :placeholder => "City", :class => "form-control" %>
                      </div>
                      <div class="form-group form_wrap">
                        <label for="bday">State <em>*</em></label>
                        <%= f.text_field :state,:placeholder => "State", :class => "form-control" %>
                      </div>
                      <div class="form-group form_wrap">
                        <label for="bday">Country <em>*</em></label>
                        <%= f.country_select :country,{priority: %w(US)}, :placeholder => "Country",:class=>"form-control"%>
                      </div>
                      <div class="form-group form_wrap">
                        <label for="bday">Zip <em>*</em></label>
                        <%= f.text_field :zip, :placeholder => "Zip", :class => "form-control" %>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                      <div class="col-lg-12 form_devider" align="center">
                        <img src="/assets/or_img.png" class="img-responsive">
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-12 patient_option" align="center">
                        <h3>
                          Select an Existing Patient
                        </h3>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6 col-md-offset-3 col-sm-4 col-sm-offset-4 patient_option" align="center">
                          <%= collection_select(:doctor, :patient_id, current_doctor.patients, :id, :name, {:include_blank => "Select Patient"},:class => "form-control", :name =>"existing_patient" ) %>
                      </div>
                    </div>
                    <div class="agree_btn_wrap" style="margin-right: 10px;">
                      <%= f.submit "Go to NEXT Step >>",:class=>"blue_btn agree_btn pull-right"%>
                      <%= link_to 'Cancel', patients_path, :class => "black_btn pull-right" %>
                    </div>
                  </div>
                <%end%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
