<div id="content-header">
  <div id="breadcrumb">
    <%= link_to raw("<i class='icon-home'></i><span class='text'>Home</span>"),patients_path%>
    <%= link_to raw("<i class='icon-user'></i><span class='text'>Add Patient</span>"),new_patient_path%>
  </div>
</div>
<%= hidden_field_tag :response_action %>
<%= form_for @patient_report, :as => :patient, :url => report_for_patient_path, :html => { :method => :post,:multipart => true , :class=>"form-horizontal"}  do |f| %>
    <% if @patient_report.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@patient_report.errors.count, "error") %> prohibited this patient from being saved:</h2>
        <ul>
        <% @patient_report.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <%end %>
    <center><div class="stp1">STEP-1 Add Patient</div></center>
    <div class="patient-form-border">
    <div class="row-fluid">
      <div class="span12">
        <div class="row-fluid">
          <div class="span6">
            <%= render "patients/controls1", :f => f %>
          </div>
          <div class="span6">
            <%= render "patients/controls2", :f => f %>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
      </div>
    </div>
    <div class="or"> OR </div>
    <div class="select-patient">Select an Existing Patient</div>
    <div class="row-fluid">
      <div class="span12">
        <center>
        <%= collection_select(:doctor, :patient_id, current_doctor.patients, :id, :name, {:include_blank => "Select Patient"},:class => "patient-dropdown-list", :name =>"existing_patient" ) %>
        </center>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
      </div>
    </div>

    <div class="row-fluid">
       <div class="span12">
        <div class="button-goto">
          <%= link_to 'Cancel', patients_path, :class => "btn btn-inverse btn-large" %>
          <%= f.submit "Go to NEXT Step >>",:class=>"btn btn-success btn-large"%>
        </div>
      </div>
    </div>
<%end%>

