<div class="row">
    <div class="container">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 normal_tbl_wrap">
        <div class="dashboard_title">
          Add New Consent Presentation
          <span class="down_arrow">
            <img src="/assets/down_arrow_black.png" alt="">
          </span>
        </div>
        <div class="clearfix"></div>
        <div class="bs-example bs-example-tabs presentation_tabs_wrap">
          <div class="tab2">
            <div class="add-concent" >
              <div id="tabs">
                <ul class="nav nav-tabs custom_tabs" id="myTab">
                  <li class="active col-lg-4 col-md-4 col-sm-4 col-xs-12"><a data-toggle="tab" href="#add_patient">1. Add Patient</a></li>
                  <li class="col-lg-4 col-md-4 col-sm-4 col-xs-12"><a data-toggle="tab" href="#select_menu">2. Select Presentation Segment</a></li>
                  <li class="col-lg-4 col-md-4 col-sm-4 col-xs-12"><a data-toggle="tab" href="#create_code">3. Create patient Code and Send</a></li>
                </ul>
                <div class="tab-content" id="myTabContent">
                  <div id="add_patient" class="tab-pane fade active in tab_content">
                    <div class="row tab_form">
                      <div class="tab-background">
                        <div class="stp1">
                          <%= render "patient_report/step1_form" %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
