
<% if params[:existing_patient].present? %>

   $('#tabs').remove();
        $('.add-concent').html("<%= escape_javascript(render :partial => 'patients/consent_report', :locals => {:patient_report => @patient_report}).html_safe %>");
        resizeWindow();
      function resizeWindow()
      {

          if(document.documentElement.scrollHeight - document.documentElement.clientHeight>0)
              footer.css("position","relative");
          else
          {
              footer.css("position","fixed");
              footer.css("bottom","0px");
          }
      }

<% else %>

  <% if @patient_report.errors.count == 0 %>

    $('#tabs').remove();
    $('.add-concent').html("<%= escape_javascript(render :partial => 'patients/consent_report', :locals => {:patient_report => @patient_report}).html_safe %>");
    resizeWindow();
    function resizeWindow()
    {
      if(document.documentElement.scrollHeight - document.documentElement.clientHeight>0)
          footer.css("position","relative");
      else
      {
          footer.css("position","fixed");
          footer.css("bottom","0px");
      }
    }

  <% else %>

    $('.stp1').hide();
    $('.tab-background').html("<%= escape_javascript(render :partial => 'patient_report/step1_form').html_safe %>");
  <% end %>
<% end %>
