<%= form_for(report_question, :remote => (params[:action] == 'new' ? true : false)) do |f| %>
<%= flash[:notice] %>
  <% if report_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report_question.errors.count, "error") %> prohibited this report_question from being saved:</h2>

      <ul>
      <% report_question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :question %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
