<li class="list-group-item" id='report_question-<%= report_question.id %>'>

  <span class="glyphicon glyphicon-question-sign"></span>
  <%= report_question.question %>

  <%= link_to report_question,:class=>"close questions_close", :method => :delete, :remote => true do %>
    <span class="glyphicon glyphicon-remove-circle"></span>
  <% end %>
<!--    <button type="button"  class="close questions_close" data-dismiss="modal" aria-hidden="true">
  </button> -->
</li>