<!-- FILE NOT IN USE -->

<% @link = video_file_link %>

<% @mp4 = @link + ".mp4"%>
<% @webm = @link + ".webm"%>
<% @ogv = @link + ".ogv"%>
<% @png = @link + ".png" %>
<% @swf = @link + ".swf" %>


<div id="spi">
  <img src="/assets/712.GIF"><br />
  Your presentation will start in a few moments.  Do not press any keys at this time.
</div>

<% if browser.ie8? %>
  <script src="/assets/video.js"></script>
  <!-- Unless using the CDN hosted version, update the URL to the Flash SWF -->
  <script>
    videojs.options.flash.swf = "<%=@swf%>";
  </script>

  <video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" data-setup="{}" autoplay="autoplay" preload="auto" width="100%" height="500px">
    <source src="<%= @mp4 %>" type='video/mp4' />
    <source src="<%= @webm %>" type='video/webm' />
    <source src="<%= @ogv %>" type='video/ogg' />

    <track kind="captions" src="demo.captions.vtt" srclang="en" label="English"></track><!-- Tracks need an ending tag thanks to IE9 -->
    <track kind="subtitles" src="demo.captions.vtt" srclang="en" label="English"></track><!-- Tracks need an ending tag thanks to IE9 -->
  </video>
<% else %>

  <video width="300" height="200" autoplay="autoplay" id="myvideo_one">
    <source src="<%= @mp4 %>" type='video/mp4' />
    <source src="<%= @webm %>" type='video/webm' />
    <source src="<%= @ogv %>" type='video/ogg' />
  </video>
<% end %>

<script type="text/javascript">
  var video = document.getElementById('myvideo_one');
  video.addEventListener('progress', function (e) {
    if (this.buffered.length > 0) {
      $('#spi').hide();
    }
    else {
      $('#spi').show();
    }
}, false);
</script>
<style type="text/css">
  #spi {
    position: absolute;
    margin-top: 250px;
    margin-left: 250px;
    z-index: 9999999;
    color: #fff;
  }
  #spi img {
    height: 25px;
  }
  #videoContainer {
    position: relative;
  }
</style>