<% if @report_question.errors.count == 0 %>
  $('.list-group').append('<%= escape_javascript(render @report_question) %>');
  $('.que_text').val('');
  $('.question_input').removeClass('has-error');
  $("#msg").html('<%= j render ("blank") %>');
<% else %>
  $("#msg").html('<%= j render ("question_validation_msg") %>');
  $('.question_input').addClass('has-error');
<% end %>
