<script>
  $(document).ready(function(){
   var isiPad = navigator.userAgent.match(/iPad/i) != null;

   if(isiPad)
   {
    $("video").css("min-height","500px");
   }
  });
</script>

<style type="text/css">
  .vjs-control-bar{ display: none !important; }

</style>
<% @counter_btn = 0 %>
<% @len = @report_menus.length %>
<% i = 0 %>
<% cnt1 = 0 %>
<% @times = 0 %>
<% cnt2 = 0 %>
<% @parent_id.each do |r| %>
<%#= @parent_id %>
  <% @times += 1 %>
  <% i = 1 %>
  <% if cnt1 == 0 %>
    <% cnt1 = 1 %>
    <div class="row presentation_wrap">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2>
             Important Informed and Consent Information for Proposed Treatment. Your Doctor wants you to understand this information
            </h2>
            <div align="center">
              <div id="videoContainer" >
                <% @r = ReportMenu.find(params[:id]) %>
                <% @r.procedure_type_ids %>
                <%= render "video" ,:video_file_link => r %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row questions_wrap">
      <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <ul class="list-group">
            <%= render @report_questions %>
          </ul>
          <h2>Have Questions?</h2>
          <p id="msg">Please insert your question here</p>
          <div class="form-group">
            <div class="row">
              <%= form_for ReportQuestion.new ,:remote => true do |f| %>
                <div class="col-lg-9 col-md-7 col-sm-7 col-xs-7 question_input ">
                  <%= f.text_field :question, :requied => true, :id => "exampleInputEmail1",:class=>"que_text form-control",:placeholder=>"Type your question here......" %>
                </div>
                <div class="col-lg-3 col-md-5 col-sm-5 col-xs-5">
                  <button type="submit" class="btn btn-default" name="commit" value="submit">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>Submit
                  </button>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <%# if params[:id].to_i+1 ==  r.id+i %>
  <% if cnt2 == 0 %>
    <% cnt2 = 1 %>
    <div class="row">
      <div class="container">
        <div class="col-lg-12 questions_btns">
          <% if @report.report_menus.last.id.to_i == params[:id].to_i%>
            <%= link_to "I understand this segment. Go to the next step.",signature_create_path(@report.id)  ,:class=>"blue_btn pull-right "%>
          <% else %>
            <%= link_to "I understand this segment. Go to the next step.",report_questions_path(params[:id].to_i + i), :class=>"blue_btn pull-right " %>
          <% end %>

          <%= link_to "Replay", report_questions_reply_path,:class=>"black_btn pull-right",:remote=>true%>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<%#= render "layouts/shared/login_jquery"%>
