<div class="row esignature_container">
  <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="esignature_box contact_box forgot_pw_wrap">
        <div class="disclaimer_title">
          Change your Password 
          <span class="down_arrow">
            <img src="/assets/down_arrow.png" alt="">
          </span>
        </div>

        <div class="row">
            <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put,:class=>"form signup_form" }) do |f| %>
              <div class="custom-notice devise-notice-color">
                <%= devise_error_messages! %>
              </div>
              <%= f.hidden_field :reset_password_token %>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group form_wrap">
                  <label for="new_pw">Enter New Password <em>*</em></label>
                   <%= f.password_field :password, :autofocus => true,:placeholder => "Enter Password", :class=>"form-control" %>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group form_wrap">
                  <label for="cnfrm_pw">Confirm New Password <em>*</em></label>
                  <%= f.password_field :password_confirmation,:placeholder => "Enter Confirm Password", :class=>"form-control"  %>
                </div>
              </div>
              <div class="clearfix"></div>

              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pw_links">
               <!--  <a href="#" title="">Sign in</a> |
                <a href="#" title="">Sign up</a> -->
                <%= link_to "Sign in",root_url %> |
                <%= link_to "Sign up",new_registration_path(resource_name) %>
              </div>

              <div class="clearfix"></div>
              <div class="agree_btn_wrap contact_btn pw_btns">
                <input type="submit" value="Change My Password" class="blue_btn pull-left agree_btn">
                <%#= f.submit "Change my password", :class => "blue_btn pull-left agree_btn"%>
              </div>
            <%end%>
          </div>
      </div>
    </div>
  </div>
</div>