
<!-- Modal -->
<div class="modal fade" id="forgot_pw" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">Forgot Your Password?</h4>
      </div>
      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post,:id=>"forget_pass", :class=>"form forgot_pw_form"}) do |f| %>
        <!-- <div class="custom-notice devise-notice-color"> -->
          <%#= devise_error_messages! %>
        <!-- </div> -->
        <%= f.hidden_field :reset_password_token %>
        <div class="modal-body login_popup_wrap">
            <div class="row">
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div class="form-group form_wrap">
                  <span >
                    <%= f.email_field :email, :autofocus => true,:placeholder => "Email",:id=>"doctor_mail", :class=> "form-control signature_txtbox" %>
                  </span>
                  <span class="symbol" style="margin-bottom:-8px;"> </span>
                  <span class="e_msg" style="display:none;  color:#ff0000;">Sorry ! this email is not registered.</span>
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-primary" value="Send Me Reset Password Instructions" id="psw_fog">
                </div>
              </div>
            </div>
        </div>
      <div class="modal-footer login_popup_footer">
        <div class="pull-left">
          <a href="#myModal" data-toggle="modal" data-target="#myModal" onclick="$('#forgot_pw').modal('hide');" >Sign in</a> |
          <%= link_to "Sign up",new_registration_path(resource_name) %>
        </div>
      </div>
      <%end%>
  </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
 <%= javascript_include_tag "jquery.js","jquery.validate.js" %>
<script type="text/javascript">
  $("#forget_pass").validate({
    rules: {
      "doctor[email]": {
        required: true,
        email: true
      }
    }
  });
</script>
<script type="text/javascript">
<% @doctors = Doctor.all %>
$(document).ready(function(){
  $("input").keyup(function(event) {

    var email = $("#doctor_mail").val();

    console.log(email);
    $(".symbol").removeClass('email_taken_no');
        $(".e_msg").show();
        document.getElementById("psw_fog").disabled= true;
        <% @doctors.each do |value| %>
          if(email == "<%=value.email%>")
          {
            $(".symbol").removeClass('email_taken_no');
            $(".e_msg").hide();
            document.getElementById("psw_fog").disabled= false;
          }
        <% end %>
  });
});
</script>
<style>
  .email_taken_no{
    content: url(/assets/email_taken.png);
  }
</style>
