<script src="/assets/jwplayer.js"></script>
<center><div id="myElement"></div></center>

<script>
    jwplayer("myElement").setup({
        file: "http://www.youtube.com/watch?v=<%= @video.yt_video_id %>?version=3&modestbranding=1&showinfo=1"
    });
</script>

<!-- <iframe width="960" height="720" src="//www.youtube.com/embed/pngI9s4WgbU?rel=0&modestbranding=1" frameborder="0" allowfullscreen></iframe> -->