<div class="row esignature_container">
    <div class="container">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="disclaimer_wrap esignature_box contact_box">
          <div class="disclaimer_title">
            ABOUT US 
            <span class="down_arrow">
              <img src="/assets/down_arrow.png" alt="">
            </span>
          </div>
          <div class="row about_box_wrap">
            <div class="col-lg-12">
              <p>Healthcare has become more involved and time consuming for the professional.  Quality care, patient expectations and legal requirement have continued to evolve into an ever heavier weight; dragging at the limited resources of the healthcare professional. </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" align="center">
              <img src="/assets/about_img.jpg" alt="" class="img-responsive">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 about_sub_txt" align="center">
              <p>eInformedConsent.com makes a real positive difference in a healthcare practice.The doctor and the practice can reduce the risk of successful malpractice litigation.  For less than the cost of a premium cup of coffee daily the benefits of this system can be yours. eInformed Consent utilizes video, audio and pictures. The system adjust the presentation based on the proposed treatments.<br>
              Sooner or later every healthcare professional worries about informed consent.  Did I remember to explain this or talk about that?  Was I too rushed? Does the patient understand? How can I explain better without taking more time?  
              </p>
            </div>
          </div>
          <div class="row about_content">
            <div class="col-lg-12">
              <span>Did you know:</span>
              <ul>
                <li>19,000 malpractice payouts in 2012 – Source Annual Report, National Practitioner Data Bank, US DHHS</li>
                <li>Estimated 50-65% of doctors sued at least once in their career.</li>
                <li>Average cost to defend malpractice lawsuit $23,000.00 not counting payout or time spent -  malpractice statistics 2012</li>
              </ul>
              <div>eInformed Consent.com is a product of Consent Project LLC</div>
            </div>
          </div>
        </div>
      </div>
      <div class="agree_btn_wrap services_btns">
        <%= link_to "Subscribe Now", new_doctor_registration_path, :class=>"blue_btn pull-right agree_btn" %>
        <%= link_to  "Learn More",how_it_works_path,:class=>"black_btn pull-right" %>
      </div>
    </div>
  </div>

  