<style type="text/css">
.fon_color{color: #5b5f63;}
</style>
<div class="wrapper">
  <section id="content">
    <br/>
  <h1 class = "fon_color">Coming Soon!</h1>
  <h2 class = "fon_color">The page you were looking for appears to have been Coming Soon.</h2>
  <ul>
    <%= image_tag "/assets/ComingSoon.jpg" %>
  </ul>

</section>
</div>
