<div class="row esignature_container">
  <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="disclaimer_wrap esignature_box contact_box">
        <div class="disclaimer_title">
          Contact Us
          <span class="down_arrow">
            <img src="/assets/down_arrow.png" alt="">
          </span>
        </div>
        <%= form_for :contact_us, :url => contact_us_submit_path,:method => 'POST',:html => {:class=>"form signup_form",:id => "contact_us"}  do |f|%>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group form_wrap">
                  <label for="name">name <em>*</em></label>
                  <%= f.text_field :name,:class=>"form-control",:placeholder=>"Name",:required => true %>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group form_wrap">
                    <label for="email">Email <em>*</em></label>
                    <%= f.text_field :email,:class=>"form-control",:placeholder=>"Email", :id=>"email",:required => true%>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group form_wrap">
                    <label for="phone">Phone <em>*</em></label>
                    <%= f.text_field :phone,:class=>"form-control",:placeholder=>"Phone",:id=>"phone",:required => true  %>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group form_wrap">
                  <label for="comment">Comment <em>*</em></label>
                  <%= f.text_area :comment,:class=>"form-control",:placeholder=>"Comment", :required => true%>
                </div>
              </div>
              <div class="agree_btn_wrap contact_btn">
                <%= f.submit "Submit",:class=>"blue_btn pull-right agree_btn"%>
              </div>
            </div>
          <%end%>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "jquery.js","jquery.validate.js" %>
<script type="text/javascript">
  $("#contact_us").validate({
    rules: {
      "contact_us[email]": {
        required: true,
        email: true
      },
      "contact_us[phone]": {
        required: true,
        number: true
      }
    }
  });
</script>