<div class="row how_word_wrap">
    <div class="container">
      <div class="col-lg-12">
        <img src="/assets/how_work_step.png" class="img-responsive">
        <a href="#" id="videocover" data-toggle="modal" data-target="#videoModal" data-backdrop="static" data-keyboard="false" class="view_demo hidden-xs">
          <img src="/assets/view_btn.png" class="view_demo hidden-xs">
        </a>
      </div>
    </div>
  </div>

  <div class="row esignature_container">
    <div class="container">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a href="#" id="videocover" data-toggle="modal" data-target="#videoModal" class="btn btn-primary btn-lg btn-block hidden-sm hidden-md hidden-lg" style="margin-top: 10px;">View Demo</a>
        <div class="disclaimer_wrap esignature_box contact_box">
          <div class="disclaimer_title">
            See how easy it is to use eInformedConsent.com
            <span class="down_arrow">
              <img src="/assets/down_arrow.png" alt="">
            </span>
          </div>

          <div class="how_work_content">
            <div>
              <span>1</span>
              Subscription by doctor
              <p>Get started by registering your information and select your subscription plan, one time. Create your login ID</p>
            </div>
            <div>
              <span>2</span>
              Setup Patient Presentation
              <p>Create a patient presentation anytime by completing a patient’s demographic information, selecting their presentation segments. This will in turn create a Unique Patient Code, which is sent via email to the patient and to you as a patient handout</p>
            </div>
            <div>
              <span>3</span>
              Your Patient logs into their presentation with Unique Patient Code
              <p>Patient will log onto the website using a Unique Patient Code and The Patient will see a presentation selected by the doctor</p>
            </div>
            <div>
              <span>4</span>
              Doctor receives a report advising that the patient has completed the presentation
              <p>The doctor is sent a report tracking the patient’s interaction with their presentation and the patient’s questions. The system maintains a historical copy of all reports</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<%= render :partial => "/layouts/shared/how_it_works_video" %>

<style type="text/css">
  .view_demo {
    font-size: 18px;
    border-radius: 6px;
    float: left;
    position: absolute;
    left: 59%;
    top: 44%;
    color: #fff;
    margin: -25px 0 0 -112px;
  }
  .view_demo:hover {
    color: #fff;
  }
  .img-responsive { position: relative; }

  @media (max-width: 768px) {
    .view_demo {
      padding: 10px 30px 10px !important ;
      margin: -20px 0 0 -90px !important;
    }
  }

  @media (max-width: 640px) {
    .view_demo {
      padding: 5px 15px !important ;
      margin: -20px 0 0 -70px !important;
    }
  }


  @media (max-width: 480px) {
    .view_demo {
      padding: 3px 10px !important ;
      margin: -20px 0 0 -70px !important;
    }
  }
</style>