<div class="row esignature_container">
  <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="disclaimer_wrap esignature_box contact_box">
        <div class="disclaimer_title">
          Services
          <span class="down_arrow">
            <img src="/assets/down_arrow.png" alt="">
          </span>
        </div>
        <div class="row service_box_wrap">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 service_box">
            Allows the patient to gain understanding of proposed treatments and alternatives from:
            <ul>
              <li>Home</li>
              <li>Work</li>
              <li>Your office</li>
            </ul>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 service_box">
            Makes presentations to
            <ul>
              <li>Personal computers </li>
              <li>Tablets </li>
              <li>Smart phones.</li>
            </ul>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 service_box">
            Your Patients
            <ul>
              <li>See pleasant videos on their proposed treatments </li>
              <li>Get valuable information on alternative treatments</li>
              <li>Gain comprehension regarding possible complications</li>
              <li>Learn about their responsibilities for successful treatment.</li>
              <li>They can watch, replay, ask questions and acknowledge they understand.</li>
            </ul>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 service_box">
            Provides reports to the practice along with third party verification on:
            <ul>
              <li>Patient’s acknowledged understanding</li>
              <li>Time spent learning about their situation</li>
              <li>The patient’s consent to proceed with treatment.</li>
            </ul>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 service_box">
            Stores a permanent record of the presentation reports, which include:
            <ul>
              <li>What was presented </li>
              <li>How it was presented</li>
              <li>Time spent on the presentation</li>
              <li>Patient questions to the healthcare professional</li>
            </ul>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="disclaimer_title">
          Benefits
          <span class="down_arrow">
            <img src="/assets/down_arrow.png" alt="">
          </span>
        </div>
        <div class="row service_box_wrap">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 service_box">
            Saves healthcare professional time.
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 service_box">
            Significantly reduces healthcare professional risk.
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 service_box">
            Enhances professional image of the healthcare professional
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 service_box">
            Lowers healthcare professional costs while increasing value.
          </div>
        </div>
    </div>
    <div class="agree_btn_wrap services_btns">
      <input type="button" value="Learn More" class="blue_btn pull-right agree_btn">
      <!-- <input type="button" value="Subscribe Now" class="black_btn pull-right"> -->
      <%= link_to "Subscribe Now", new_doctor_registration_path, :class=>"black_btn pull-right" %>
    </div>
  </div>
</div>
</div>