<div class="row disclaimer_container">
  <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="disclaimer_wrap">
        <div class="disclaimer_title">
          Subscription Agreement
          <span class="down_arrow">
            <img src="/assets/down_arrow.png" alt="">
          </span>
        </div>
        <div class="disclaimer_box">
          <p>
            BEFORE YOU USE THE WEBSITE SUBJECT TO THIS SUBSCRIPTION AGREEMENT (THE "AGREEMENT"), PLEASE READ THIS DOCUMENT CAREFULLY. THIS IS A LEGAL AGREEMENT BETWEEN CONSENT PROJECT LLC ("OUR", "US", "WE", “CONSENT PROJECT’ OR "EINFORMCEDCONSENT.COM") LOCATED AT SUITE 208, 3475 SHERIDAN ST. HOLLYWOOD, FL. 33021  AND YOU ("YOU", "YOUR" OR "YOURSELF") WHICH GOVERNS YOUR USE OF OUR INTERNET-BASED SUBSCRIPTION INFORMED CONSENT SERVICES.
            WARNING: EINFORMEDCONSENT.COM  (THE "SOFTWARE" OR "SERVICES") IS PROTECTED BY COPYRIGHT LAWS AND INTERNATIONAL COPYRIGHT TREATIES, AS WELL AS OTHER INTELLECTUAL PROPERTY LAWS AND TREATIES. UNAUTHORIZED REPRODUCTION OR DISTRIBUTION OF THE SOFTWARE, OR ANY PORTION OF IT, MAY RESULT IN SEVERE CIVIL AND CRIMINAL PENALTIES, AND WILL BE PROSECUTED TO THE MAXIMUM EXTENT POSSIBLE UNDER THE LAW. THE SOFTWARE IS LICENSED, NOT SOLD.<br><br>
            <strong>Purchased Services and Payment Terms</strong><br>

            A. For so long as you are a customer of us and paying the monthly fee as required by this Agreement, Consent Project, LLC  grants to you a non-exclusive right to use the Services, subject to the restrictions set forth in this Agreement and any other restrictions communicated by us in writing.<br/>
            B. You shall choose the Services plan to be provided by us under the terms and pricing set forth at http://www.einformedconsent.com.<br/>
            C. By signing up for the Services, you agree to pay an initial subscription setup fee (Subscription Setup Fee) and a monthly basis the fees ("Monthly Service Fee") or the multiple year advance payment designated for the Service plan selected by you at http://www.einformedconsent.com.<br/>
            D. Subject to Section 1(g), at the end of each month, your subscription will continue to automatically renew at the fee rate applicable to the Service plan which you have selected, unless terminated by us or until you notify us of your decision to cancel your subscription to the Services.<br/>
            E. Payments must be made by a major credit card (VISA, MasterCard). You will be charged in advanced  for the Services at the beginning of each month ("Billing Date").<br/>
            F. If we do not receive the full amount of your Service Fee within 15 days of the Billing Date, a late payment charge of 1.5% per month may be added to your bill and immediately become due and payable.<br/>
            G. You agree to pay us all reasonable attorney's fees and costs incurred by us to collect any past due amounts. Your account will be deactivated without further notice if payment is past due more than 30 days, regardless of the dollar amount. You agree to pay any outstanding balance in full within 30 days of cancellation or termination of the Services.  The reactivation of a terminated account 60 days or more after termination will be treated as a new subscription.<br/>
            H. We may amend the fees at any time with thirty (30) days written notice to you.<br><br>

            <strong>Service Implementation and Registration</strong><br>
            A. You agree to use the Services only through our website (the "Site") and we reserve approval authority as to the implementation and use of the Services on the Site. We may suspend the access to the Website  in the event we find any implementation issues with the Site. Such suspension shall remain in effect until you correct any issues specified by Consent Project, LLC and a suspension shall not relieve you of your payment obligations under the Agreement. <br/>
            B. You agree to provide us with current, complete and accurate registration information for the Services and to maintain and properly update such information ("Registration Data"). <br/>
            C. You agree to provide true, accurate, current and complete information about yourself as prompted by the Service registration process (such information being the "Registration Data"). You further agree that, in providing such Registration Data, you will not knowingly omit or misrepresent any material facts or information and that you will promptly enter corrected or updated Registration Data via the Service, or otherwise advise us promptly in writing of any such changes or updates. You further consent and authorize us to verify your Registration Data as required for your use of and access to the Service. Once you subscribe to the Service, you shall receive a unique user ID and password in connection with your account (collectively referred to herein as "IDs"). You agree that you will not allow another person to use your IDs to access and use the Service under any circumstances. You are solely and entirely responsible for maintaining the confidentiality of your IDs and for any charges, damages, liabilities or losses incurred or suffered as a result of your failure to do so. We are not liable for any harm caused by or related to the theft of your IDs, your disclosure of your IDs, or your authorization to allow another person to access and use the Service using your IDs. Furthermore, you are solely and entirely responsible for any and all activities that occur under your account including any charges incurred relating to the Service. You agree to immediately notify us of any unauthorized use of your account or any other breach of security known to you. You acknowledge that the complete privacy of your data and messages transmitted while using the Service cannot be guaranteed. <br/> <br/>

            <strong>Service Use and Limitations</strong><br>
            A. We will make reasonable efforts to keep the Services operational 24 hours a day/7 days a week, except for: (i) planned downtime (of which we will provide at least 8 hours prior notice); or (ii) any unavailability caused by circumstances beyond our control, including but not limited to, acts of God, acts of government, flood, fire, earthquakes, civil unrest, acts of terror, strikes or other labor problems or Internet service provider failures or delays. <br/>

            B. EINFORMEDCONSENT.COM   is a subscription online patient information service.  You acknowledge and agree that: (i) We are not medical/dental providers; and  (ii) We are not providing any medical advise to your patients but are merely providing information about planned procedures to allow patients to be able to make educated decisions about their care and to enable them to make inquiry of you concerning any issues they have regarding the proposed treatment. We will not be responding to any inquiry made to us by your patients. All questions and concerns are directed to the provider.  <br/> </br>

            <strong>Ownership</strong><br>
            Subject to the limited rights expressly granted hereunder, we reserve all rights, title and interest in and to the Website, including all related intellectual property rights. No rights are granted to you hereunder other than as expressly set forth herein. You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Website, use of the Website or access to the Website without the express written consent of us. All content of the Website is copyright © 2013 Consent Project, LLC.. All rights reserved. You may not duplicate, copy or reuse any portion of the visual design elements without the express written consent of us.

            Consent Project, LLC  shall hold title to any and all intellectual property rights and technical solutions to the Website or, in the alternative, shall possess a sole right to use the site. Such intellectual property rights and technical data  may only be used by you in the manner stated in this Agreement. Under no circumstances shall you or a third party acquire any intellectual property rights to the Website or to the software or technical data used in the Website, or to any trademark or any other business mark belonging to or used by Consent Project, LLC.. Access to the Website is licensed, not sold.
            </br></br>

            <strong>Termination</strong><br>
            You may terminate this Agreement no less than five days from the end of any monthly period  by notifying us. We may terminate this Agreement, at any time, without notice to you, if it believes, in its sole judgment, that you have breached or may breach any term or condition of this Agreement. You agree that termination of this Agreement will not relive you of any obligation to pay any accrued charges. You shall be charged the full amount of the fee for the month in which the Services were terminated. All sections which by their nature should survive the expiration or termination of the Agreement shall continue in full force and effect subsequent to and to and Notwithstanding the expiration or termination of this Agreement.
            </br></br>

            <strong>Limitation of Liability</strong><br>

            EXCEPT FOR THE INDEMNIFICATION OBLIGATIONS OF THE PARTIES SET OUT HEREIN, TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, UNDER NO CIRCUMSTANCES SHALL EITHER PARTY BE LIABLE TO THE OTHER PARTY ON ACCOUNT OF ANY CLAIM (WHETHER BASED UPON PRINCIPLES OF CONTRACT, WARRANTY, NEGLIGENCE OR OTHER TORT, BREACH OF ANY STATUTORY DUTY, THE FAILURE OF ANY LIMITED REMEDY TO ACHIEVE ITS ESSENTIAL PURPOSE, OR OTHERWISE) FOR ANY SPECIAL, CONSEQUENTIAL, INCIDENTAL, OR EXEMPLARY DAMAGES, INCLUDING BUT NOT LIMITED TO LOST PROFITS, EVEN IF A PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. EXCEPT FOR THE INDEMNIFICATION AND CONFIDENTIALITY OBLIGATIONS OF THE PARTIES SET OUT HEREIN, IN NO EVENT SHALL EITHER PARTY'S LIABILITY EXCEED AN AMOUNT EQUAL TO THE FEES PAID BY LICENSEE UNDER THIS AGREEMENT. IF YOU ARE DISSATISFIED WITH THE WEBSITE AND PRODUCT  YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USE OF THE SOFTWARE.  VENUE FOR ANY DISPUTE SHALL BE BY AGREEMENT THE 17TH JUDICIAL CIRCUIT IN AND FOR BROWARD COUNTY, FLORIDA. </br></br>

            <strong>Warranty</strong><br>
            WE MAKE NO REPRESENTATIONS OR WARRANTIES ABOUT THE SERVICES, SUPPORT SERVICES OR ACCURACY, COMPLETENESS, OR SUITABILITY OF ANY OF THE MATERIAL CONTAINED WITHIN THE WEBSITE AND WE MAKE NO WARRANTY THAT THE SERVICES WILL BE UNINTERRUPTED, ERROR FREE, FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS, OR COMPATIBLE WITH ANY HARDWARE OR SYSTEMS SOFTWARE CONFIGURATION. </br></br>

            <strong>Indemnification</strong><br>
            You agree to defend, indemnify and hold us harmless from and against any and all liability, loss or damage, cost or expense, including but not limited to court costs, attorneys' fees, and any awards or damages caused by, relating to or incident to: <br/>(a) your use of the Website; <br/>(b) the information contained in the Website;<br/> (c) claims by your patients; or<br/> (d) the products and/or services offered through the Site. </br></br>

            <strong>Governing Law</strong><br>
            This Agreement will be governed and construed in accordance with the laws of the State of Florida without regard to its rules governing conflicts of law. Exclusive jurisdiction for any dispute with, or in any way relating to this Agreement, resides in the Circuit Court of 17th Judicial Circuit in and for Broward County, Florida, and Licensee submits to the personal jurisdiction of, and venue in, such court.
            </br></br>

            <strong>Miscellaneous</strong><br>
            This Agreement, the Website policies associated with our site through which the information is accessed and all applicable forms constitute the entire agreement between the parties relating to the Website and supersede all prior or contemporaneous oral or written communications with respect to its subject matter. No modification to this Agreement will be binding, unless in writing and signed by a duly authorized representative of the parties. The parties to this Agreement are independent contractors, and no agency, partnership, joint venture or employee-employer relationship is intended or created by this Agreement. Neither party shall have the power to obligate or bind the other party. The waiver of any breach of this Agreement by either party shall not constitute a continuing waiver or a waiver of any subsequent breach of this Agreement. If any term or provision of this Agreement shall be held invalid or unenforceable, the remainder of this Agreement will not be affected and each such term or provision of this Agreement shall continue to be valid, binding and enforceable to the fullest extent permitted by law.
            </section>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
