<div id="main_content_wrapper">
  <div id="main_content">
    <div class="panel">
    <h3 id="stepline">Add information about subtype.</h3>
    <div class="panel_contents">
      <%= semantic_form_for :procedure_type , :html => {:multipart => true}  do |f| %>
        <table>
          <tbody>
            <tr style="height: 38px;">
              <!-- <td><label for="procedure_type">Select ProcedureType</label></td> -->
              <td><%= f.input :parent_type_id, :label => "Select procedure type", :collection => ProcedureType.procedure_type.all.map{ |s| [s.type_name, s.id] } %></td>
            </tr>
            <tr style="height: 38px;">
              <!-- <td><label for="procedure_type">Select Procedure</label></td> -->
              <td><%= f.input :type_name , :label => "Name of procedure subtype" %></td>
            </tr>
            <tr style="height: 38px;">
              <!-- <td><label for="procedure_type">Select Procedure</label></td> -->
              <td><%= f.input :video_file_link , :label => "Video file link" %></td>
            </tr>
          </tbody>
        </table>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
  </div>
</div>