<table class="gridtable">
  <tr>
    <th>Procedure sub-type name</th>
    <th>js_key</th>
    <th>Options</th>
  </tr>
  <% @procedure_type.each do |p| %>
    <% if p.parent_type_id != nil  %>
      <% if @p1.id == p.parent_type_id %>
        <tr>
          <td><%= p.type_name %></td>
          <td><%= p.js_key %></td>
          <td>
            <%= link_to image_tag('/assets/edit.png', :size => '15x15'), edit_admin_procedure_type_path(p) %>
            <%= link_to image_tag('/assets/close.png', :size => '15x15'), [:admin, p], :method => :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    <%end %>
  <% end %>
</table>