<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 plan_wrap adjust-margin">
      <% if @doctor.subscription_plan == "1 year plan" %>
        <div align="center" class="row current-plan-detail">
            Your currently selected plan : <%= @doctor.subscription_plan.titleize %>. Valid till <%= @doctor.expire_date.to_date %>
        </div>
        <div class="show-plans">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-success">
              <%= render "payments/advance_plan_content"%>
              <div class="panel-footer">
                <a href="#" class="btn btn-success btn-lg selected-btn disabled" role="button">Selected</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-primary">
              <%= render '/payments/most_popular_lable' %>
              <%= render "payments/recurring_plan_content"%>
              <% if !@doctor.subscription_date.blank? %>
                <% @temp = @doctor.subscription_date.to_date%>
                <% @temp1 = @doctor.subscription_date.to_date + 2.years %>
                <% if  @temp1.strftime("%Y") < Time.now.strftime("%Y") %>
                  <div class="panel-footer">
                    <a href="#" class="btn btn-primary btn-lg" role="button">subscribe</a>
                  </div>
                <%end%>
              <%end%>
            </div>
          </div>
        </div>
      <% elsif @doctor.subscription_plan == "2 year plan" %>
        <div align="center" class="row current-plan-detail">
            Your currently selected plan : <%= @doctor.subscription_plan.titleize %>. Valid till <%= @doctor.expire_date.to_date %>
        </div>
        <div class="show-plans">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-success">
              <%= render "payments/advance_plan_content"%>
              <% if !@doctor.recuring_date.blank? %>
                <% @temp = @doctor.recuring_date.to_date%>
                <% @temp1 = @doctor.recuring_date.to_date + 2.years %>
                <% if  @temp1.strftime("%Y") < Time.now.strftime("%Y") %>
                  <div class="panel-footer">
                    <a href="#" class="btn btn-success btn-lg" role="button">subscribe</a>
                  </div>
                <%end%>
              <%end%>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-primary">
              <%= render '/payments/most_popular_lable' %>
              <%= render "payments/recurring_plan_content"%>
              <div class="panel-footer">
                <a href="#" class="btn btn-primary btn-lg selected-btn disabled" role="button">Selected</a>
              </div>
            </div>
          </div>
        </div>
      <% elsif ["Free", "Unlimited"].include?(@doctor.subscription_plan) %>
        <% if @doctor.subscription_plan == "Free"  %>
          <div align="center" class="row current-plan-detail">
              Your currently selected plan : <%= pluralize(@doctor.trial_period, "Day") %> free trial. Valid till <%= @doctor.expire_date.to_date %>
          </div>
          <div class="show-plans">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="panel panel-success">
                <%= form_for :one_year_sim_transaction, :url => AuthorizeNet::SIM::Transaction::Gateway::LIVE do |f| %>
                    <div class="success-header-color-under-form">
                      <%= render "payments/advance_plan_content"%>
                    </div>
                    <%= sim_fields(@one_year_sim_transaction) %>
                    <%= hidden_field_tag("x_invoice_num", 5332131465135, {:id => "x_invoice_num"}) %>
                    <%= hidden_field_tag("x_cust_id", 0145210, {:id => "x_cust_id"}) %>
                    <%= hidden_field_tag("x_email",session[:current_doctor] , {:id => "x_email"}) %>
                    <%= hidden_field_tag("x_plan", "1 year plan", {:id => "x_plan"}) %>
                    <%= hidden_field_tag("x_plan_interval_in_year", "1", {:id => "x_plan_interval_in_year"}) %>
                    <div class="panel-footer">
                      <%= f.submit 'SUBSCRIBE',:class => "btn btn-success btn-lg", :id => "op1" %>
                    </div>
                  <%end%>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="panel panel-primary">
                <%= render '/payments/most_popular_lable' %>
                <%= form_for :two_year_sim_transaction, :url => AuthorizeNet::SIM::Transaction::Gateway::LIVE do |f| %>
                    <div class="primary-header-color-under-form">
                      <%= render "payments/recurring_plan_content"%>
                    </div>
                    <%= sim_fields(@two_years_sim_transaction) %>
                    <%= hidden_field_tag("x_invoice_num", 5332131465135, {:id => "x_invoice_num"}) %>
                    <%= hidden_field_tag("x_cust_id", 0145210, {:id => "x_cust_id"}) %>
                    <%= hidden_field_tag("x_email",session[:current_doctor] , {:id => "x_email"}) %>
                    <%= hidden_field_tag("x_plan", "2 year plan", {:id => "x_plan"}) %>
                    <%= hidden_field_tag("x_plan_interval_in_year", "2", {:id => "x_plan_interval_in_year"}) %>
                    <div class="panel-footer">
                      <%= f.submit 'SUBSCRIBE',:class => "btn btn-success btn-lg", :id => "op1" %>
                    </div>
                  <%end%>
              </div>
            </div>
          </div>
        <% else %>
          <div align="center" class="row current-plan-detail">
              You are subscribed for unlimited special plan !
          </div>
          <div class="show-plans">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="panel panel-success">
                <%= render "payments/advance_plan_content"%>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="panel panel-primary">
                <%= render 'payments/most_popular_lable' %>
                <%= render "payments/recurring_plan_content"%>
              </div>
            </div>
          </div>
        <% end %>
      <%end%>
    </div>
  </div>
</div>



