<tr>
  <td><strong>Address :</strong></td>
  <td>
    <%= f.text_area :address, :placeholder => "Address",:id=>"Address",:class => "form-control",:rows => 4, :cols => 30  %>
  </td>
</tr>
<tr>
  <td><strong>City :</strong></td>
  <td>
    <%= f.text_field :city, :placeholder => "City", :class => "form-control" %>
  </td>
</tr>
<tr>
  <td><strong>State :</strong></td>
  <td>
    <%= f.text_field :state,:placeholder => "State", :class => "form-control" %>
  </td>
</tr>
<tr>
  <td><strong>Country :</strong></td>
  <td>
    <%= f.country_select :country,{priority: %w(US)}, :placeholder => "Country",:class=>"form-control"%>
  </td>
</tr>
<tr>
  <td><strong>Zip :</strong></td>
  <td>
    <%= f.text_field :zip, :placeholder => "Zip", :class => "form-control" %>
  </td>
</tr>
<tr>
  <td></td>
  <td>
    <button type="submit" class="btn btn-primary btn-md">
     Save
    </button>
    <button type="button" class="btn btn-primary btn-md" data-dismiss="modal">
      Close
    </button>
  </td>
</tr>  



