<tr>
  <td><strong>First Name :</strong></td>
  <td>
    <%= f.text_field :first_name , :placeholder => "First Name", :class => "form-control" %>
  </td>
</tr>
<tr>
  <td><strong>Last Name :</strong></td>
  <td>
    <%= f.text_field :last_name , :placeholder => "Last Name", :class => "form-control" %>
  </td>
</tr>
<tr>
  <td><strong>Email :</strong></td>
  <td>
    <% if f.object.new_record? %>
      <label class="email_chk_text">
      <%= check_box_tag "auto_generated", true, params[:auto_generated].present?, {id: "email_generatore_chk"} %>
        This Patient doesn't have an email
      </label>
    <% end %>
    <%= f.text_field :email,:placeholder => "Email", :class => "form-control",:id=>"fname", readonly: !f.object.new_record? || params[:auto_generated].present? %>
    <span class="symbol" style="margin-bottom:-8px;"> </span>
    <span class="e_msg" style="display:none;  color:#ff0000;">This patient is already in your list.</span>
  </td>
</tr>
<tr>
  <td><strong>Phone number :</strong></td>
  <td>
    <%= f.hidden_field :phone_code,:placeholder => "Code",:value=> "+1" , :class => "code" %> <%= f.text_field :phone_number,:placeholder => "Number", :class => "form-control "  %>
  </td>
</tr>
<tr>
  <td><strong>Gender :</strong></td>
  <td>
    <div class="row gender_radio">
      <div class="col-lg-6">
        <div class="radio info_radio">
          <%=f.radio_button :gender , "Male", checked: true %><%= f.label "Male"%>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="radio info_radio">
          <%=f.radio_button :gender ,"Female"%><%= f.label "Female"%>
        </div>
      </div>
    </div>
  </td>
</tr>
<tr>
  <td><strong>Birthdate :</strong></td>
  <td>
    <%= f.text_field :birthdate,:placeholder => "Enter Date of Birth", :id => "dp6" ,:class=>"form-control",:"data-date"=>"07/22/2013", value: "#{f.object.birthdate.strftime("%m/%d/%Y") unless f.object.birthdate.nil?}" %>
  </td>
</tr>