<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
 $(function() {
    $( "#datepicker" ).datepicker({
        dateFormat: 'dd M yy',
        yearRange: "1900:noWeekends",
       changeMonth: true,
      changeYear: true,
    });
  });
</script>