<div id="tabs2">
  <div class="bs-example bs-example-tabs presentation_tabs_wrap">
    <ul class="nav nav-tabs custom_tabs" id="myTab">
      <li class="col-lg-4 col-md-4 col-sm-4 col-xs-12"><a data-toggle="tab" href="#add_patient">1. Add Patient</a></li>
      <li class="active col-lg-4 col-md-4 col-sm-4 col-xs-12"><a data-toggle="tab" href="#select_menu">2. Select Presentation Segment</a></li>
      <li class="col-lg-4 col-md-4 col-sm-4 col-xs-12"><a data-toggle="tab" href="#create_code">3. Create patient Code and Send</a></li>
    </ul>
    <div class="tab-background">
      <div class="tab-content" id="myTabContent">
        <div id="select_menu" class="tab-pane fade active in tab_content">
          <%= form_tag update_consent_report_path(@patient.id), :remote => true do %>
            <% @procedures.each do |p| %>
            <div class="procedure_check_msg"style="color: red;text-align: center;font-size: 20px;"></div>
              <h4><%= p.procedure_name.upcase %></h4>
              <ul>
                <% p.procedure_types.each do |t| %>
                  <% if t.parent_type_id == nil %>
                    <%#= check_box_tag "types_ids[]", t.id%>
                    <!-- <li> -->
                    <%#= t.type_name %>
                    <!-- </li> -->
                    <ul class="tablist_sub">
                    <li style="list-style: none;">
                      <div class="checkbox">
                        <label>
                        <%#=check_box_tag "types_ids[]", t.id %>
                        <%= image_tag ("/assets/sml_right_arrow.png")%>
                        <%= t.type_name %>
                      </label>
                      </div>
                    </li>
                  </ul>
                  <% end %>
                  <% v = [] %><% v1 = [] %><% v2 = [] %>
                  <% @procedure_type.each do |p1| %>
                    <% if p1.parent_type_id != nil && t.id == p1.parent_type_id%>
                      <% @report_menu.each do |i|%>
                        <% if i.procedure_type_ids == p1.id%>
                          <% v << p1.type_name %>
                        <% else %>
                          <% v1 << p1.type_name %>
                        <% end %>
                      <% end %>
                      <ul >
                        <li style="list-style: none;">
                          <div class="checkbox">
                            <% v.each do |a| %>
                              <% if a == p1.type_name %>
                                <label>
                                  <%=check_box_tag "types_ids[]", p1.id , :checked => true%>
                                  <%= p1.type_name %>
                                </label>
                              <% end %>
                            <% end %>
                            <% v2 = v1 - v %>
                            <% v2 = v2.uniq %>
                            <% v2.each do |a| %>
                              <% if a == p1.type_name %>
                                <label>
                                  <%=check_box_tag "types_ids[]", p1.id %>
                                  <%= p1.type_name %>
                                </label>
                              <% end %>
                            <% end %>
                          </div>
                        </li>
                      </ul>
                    <% end %>
                  <% end %>
                <% end %>
              </ul>
            <% end %>
            <div class="agree_btn_wrap" style="margin-right: 10px;">
              <%= submit_tag "Go to NEXT Step >>",:class=>"blue_btn agree_btn pull-right", :onclick=>"return doSomething();", :style => "margin-top: 5px; margin-bottom: 5px;" %>
              <%= link_to 'Back', edit_patient_report_path(session[:patient_report]), :class => "black_btn pull-right" , :remote => true, :style => "margin-top: 5px; margin-bottom: 5px;" %>
            </div>
            <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "patients/checkbox_validation" %>
<%= render "layouts/shared/login_jquery"%>

