<div id ="tab3">
  <div class="bs-example bs-example-tabs presentation_tabs_wrap">
    <ul class="nav nav-tabs custom_tabs" id="myTab">
      <li class="col-lg-4 col-md-4 col-sm-4 col-xs-12"><a data-toggle="tab" href="#add_patient">1. Add Patient</a></li>
      <li class="col-lg-4 col-md-4 col-sm-4 col-xs-12"><a data-toggle="tab" href="#select_menu">2. Select Presentation Segment</a></li>
      <li class="active col-lg-4 col-md-4 col-sm-4 col-xs-12"><a data-toggle="tab" href="#create_code">3. Create patient Code and Send</a></li>
    </ul>
    <div class="tab-background">
      <div class="tab-content" id="myTabContent">
        <div id="create_code" class="tab-pane fade active in tab_content">
          <div class="col-md-6 col-md-offset-3">
            <div class="patient_code_box" align="center">
              <h4>Create Patient Code and Send</h4>
              <div class="disclaimer_title">
                Unique Patient Code
                <span class="down_arrow">
                  <img src="/assets/down_arrow.png" alt="">
                </span>
              </div>
              <div class="code_view">
                <%= report.report_code %>
              </div>
              <%= label_tag "show_link_chk", style: "display:flex" do %>
                <%= check_box_tag 'show_link_chk' %>
                  <span style="margin-top:-2px;">
                    Show link instead of sending email
                  </span>
              <% end %>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="agree_btn_wrap row" style="margin-right: 10px;">
            <%= link_to send_mail_path(@report), :class=>"blue_btn agree_btn pull-right", id: "process_link" do %>
            <%#= link_to "#",:class=>"blue_btn agree_btn pull-right", id: "process_link" do %>
                <span class="glyphicon glyphicon-share-alt"></span> Send Email to Patient
            <%end%>
            <%= link_to "Back", edit_consent_report_path(@patient.id), :class => "black_btn pull-right", :remote => true %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  #show_link_chk{
    margin: 0 5px 0 5px;
  }
</style>

<script type="text/javascript">
  $(function(){
    window.CONSENT.generate_presentation_link("<%= send_mail_path(@report) %>", "<%= @report.report_code %>", "<%= login_page_url(@report.patient_first_name) %>")
  })
</script>