<div id="tabs2">
  <div class="conc-tab">
    <ul>
      <li>
        <div class="tab ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-1" >
          <div class="number_border">
            <div class="tab-number">
              1
            </div>
          </div>
          <div class="tab-name">
            Add Patient
          </div>
        </div>
      </li>
      <li>
        <div class="tab margin step1-head">
          <div class="center">
            <div class="number_border">
              <div class="tab-number step-name step-number-border">
                2
              </div>
            </div>
            <div class="tab-name step-name">
              Select Presentation Segments
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="tab" align="right" >
          <div class="number_border">
            <div class="tab-number">
              3
            </div>
          </div>
          <div class="tab-name">
            Create Patient Code and Send
          </div>
        </div>
      </li>
    </ul>
  </div>
  <!-- Tab 2  -->
  <div id="tabs-2">
    <%= form_tag create_report_path, :remote => true do %>
      <div class="main">
        <div class="scrolling-procedure-box">
          <div class="procedure-list">
            <% @procedures.each do |p| %>
              <div class="procedure-title">
                <%= p.procedure_name.upcase %>
              </div>
              <ul class="checkbox-list">
                <% p.procedure_types.each do |t| %>
                <li>
                  <% if t.parent_type_id == nil %>
                    <%= check_box_tag "types_ids[]", t.id %>
                    <%= t.type_name %>
                  <% end %>
                  <% @procedure_type.each do |p1| %>
                    <% if p1.parent_type_id != nil && t.id == p1.parent_type_id%>
                      <ul>
                        <li>
                          <%=check_box_tag "types_ids[]", p1.id %>
                          <%= p1.type_name %>
                        </li>
                      </ul>
                    <% end %>
                  <% end %>
                </li>
                <% end %>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <div class="button-goto">
            <%= link_to 'Back', edit_patient_report_path(session[:patient_report]), :class => "gray-btn" , :remote => true %>
            <%= submit_tag "Go to NEXT Step >>",:class=>"blue-btn next-step", :disable => true%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <!-- Tab 2 End -->
</div>