$('#tabs2').remove();
$('.add-concent').html("<%= escape_javascript(render :partial => 'patients/show_code', :locals => {:report => @report}).html_safe %>");
resizeWindow();
function resizeWindow()
  {
    if(document.documentElement.scrollHeight - document.documentElement.clientHeight>0)
        footer.css("position","relative");
    else
    {
        footer.css("position","fixed");
        footer.css("bottom","0px");
    }
  }