<% if @patient.errors.count == 0 %>
  window.location.replace("<%= root_url %>");

  $('.row').before("<%= j render ('notice') %>");
<%else%>
 $('.modal-dialog').html('<%= j render("form") %>');
<% end %>