<%#= render 'form' %>
<%#= link_to 'Show', @patient %>
<%#= link_to 'Back', patients_path %>

<script type="text/javascript">
<%#@patients = current_doctor.patients.all %>

// $(document).ready(function(){
//   var x = $("#fname").val();
//   $("#fname").blur(function(){
//       var y = $("#fname").val();
//       $(".symbol").removeClass('email_taken_no');
//       $(".e_msg").hide();
//       <%# @patients.each do |value| %>
//         if(x == y)
//         {

//         }
//         else if(y == "<%#=value.email%>")
//         {
//           $(".symbol").addClass('email_taken_no');
//           $(".e_msg").show();
//           $("#fname").focus();
//         }
//       <%# end %>
//     });
// });


$(document).ready(function(){
  if($('#dp6').length > 0)
  {
    $('#dp6').datepicker({
      endDate: '+0d',
      autoclose: true
    })
  }
});
</script>

<style>
  .email_taken_no{
    content: url(/assets/email_taken.png);
  }
</style>

<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header" style="border-bottom:none; padding:0; position:relative;">
      <div class="disclaimer_title popup_title">
        Patient Form
        <span class="down_arrow">
          <img src="/assets/down_arrow.png" alt="">
        </span>
      </div>
      <button type="button" class="close popup_close_btn" data-dismiss="modal" aria-hidden="true">X</button>
    </div>
    <div class="modal-body profile_edit_wrap" style="padding-bottom:0px;">
      <div class="bs-example">
        <div class="table-responsive">
           <%= form_for @patient, remote: true  do |f| %>
          <table class="table table-responsive table-hover table-bordered">
            <tbody>
              <%= render "patients/patient_controls", :f => f %>
            </tbody>
          </table>
           <%end%>
        </div><!-- /.table-responsive -->
       </div>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<%= render "layouts/shared/login_jquery"%>



