<div class="row">
    <div class="container">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 normal_tbl_wrap">
        <div class="dashboard_title">
          Patients of Dr. <%= current_doctor.doctor_name.capitalize %>
          <span class="down_arrow">
            <img src="/assets/down_arrow_black.png" alt="">
          </span>
          <%= link_to image_tag("/assets/add_patient_btn.jpg",:class=>"img-responsive "), new_patient_path,:"data-toggle"=>"modal", :"data-target"=>"#patient_new",:class => "pull-right" %>
          <span class="pull-right free-trial">
          <% if current_doctor.subscription_plan == "Free" %>
            Free Trial - <%= ((current_doctor.expire_date).to_date - (Time.now).to_date).to_i %> Days remaining (<%= link_to "Cancel Trial",  doctor_cancel_trials_path(current_doctor), data: {confirm:"Are you sure?"} %>)
          <% end %>
          </span>
        </div>
        <div class="clearfix"></div>
        <div class="add-concent" >
        <div class="bs-example col-lg-12 normal_tbl_content">
          <div class="table-responsive">

            <table class="table table-responsive table-hover table-bordered">
              <thead>
                <tr class="active">
                  <th>Patient Name</th>
                  <th>Date of Birth</th>
                  <th>Gender</th>
                  <th>Actions</th>
                  <th>Actions</th>
                  <th>Reports of this Patient</th>
                </tr>
              </thead>
              <tbody>
                <% @patients.each do |patient| %>
                <tr>
                  <td><%= patient.first_name %>  <%= patient.last_name %></td>
                  <td><%= patient.birthdate.strftime("%d %B, %Y") %></td>
                  <td><%= patient.gender %></td>
                  <td class="tbl_btns">
                    <%= link_to 'Edit', edit_patient_path(patient),:"data-toggle"=>"modal", :"data-target"=>"#porfile_edit#{patient.id} ",:id=>"edit_patient_popup"%> |
                    <%= link_to 'View Patient',patient_path(patient),:"data-toggle"=>"modal",:"data-target"=>"#porfile_view#{patient.id} "%>
                  </td>
                  <td>
                    <%= link_to consent_report_path(patient),:class=>"btn btn-primary btn-xs", :remote => true do%>
                      <span class="glyphicon glyphicon-plus"></span> Create New Presentation
                    <%end%>
                  </td>
                  <td>
                    <% if patient.reports.length > 1 %>
                      <%= link_to pat_report_path(patient.id),:class=>"btn btn-primary btn-xs" do %>
                        <span class="glyphicon glyphicon-edit"></span> View Report of this Patient
                      <%end%>
                    <% elsif patient.reports.count == 1 %>
                      <% @reports.each do |re| %>
                        <%if re.patient_id == patient.id %>
                          <% if  re.status == "Active" %>
                            <%= link_to download_as_pdf_path(re.id),:class=>"btn btn-primary btn-xs" do%>
                              <span class="glyphicon glyphicon-edit"></span> View Report of this Patient
                            <% end %>
                          <% else %>
                            Report is not yet completed.
                          <% end %>
                        <% end %>
                      <% end %>
                    <% else %>
                      Report is not yet completed.
                    <% end %>
                  </td>
                </tr>
                <div class="modal fade" id="porfile_view<%= patient.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
                <div class="modal fade" id="porfile_edit<%= patient.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
              <% end %>
              </tbody>
            </table>
          </div><!-- /.table-responsive -->
         </div>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="patient_new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<%= render "layouts/shared/login_jquery"%>

<script type="text/javascript">
  $(function(){
    window.CONSENT.validate_email_on_patient_create()
  })
</script>