<div class="ex">
<div class="ex1"><p class="leg">Patient Details<p></div>

  <div class="right-patient-info"><div class="add">Patient Name : <%= @patient.first_name %> <%= @patient.last_name %></div><br />
    <div class="gen-date">Date Of Birth : <%= @patient.birthdate.strftime("%B, %d %Y") %><br />
    Gender : <%= @patient.gender %><br /></div>
  </div>
  <div class="left-patient-info"><div class="add">Address</div><br />
<%= @patient.address %>,<br />
<%= @patient.city %>,<br />
<%= @patient.state %>,<br />
<%= @patient.country %><br />

</div>
<center><%= button_to "Confirm and Continue >>","#" ,:class=>"btn btn-success btn-large cnc"%></center>
</div>