<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header" style="border-bottom:none; padding:0; position:relative;">
      <div class="disclaimer_title popup_title">
        Patients Show
        <span class="down_arrow">
          <img src="/assets/down_arrow.png" alt="">
        </span>
      </div>
      <button type="button" class="close popup_close_btn" data-dismiss="modal" aria-hidden="true">X</button>
    </div>

    <div class="modal-body" style="padding-bottom:0px;">
      <div class="bs-example">
        <div class="table-responsive">
          <table class="table table-responsive table-hover table-bordered">
            <tbody>
              <tr>
                <td><strong>First name :</strong></td>
                <td><%= @patient.first_name %></td>
              </tr>
              <tr>
                <td><strong>Last name :</strong></td>
                <td><%= @patient.last_name %></td>
              </tr>
              <tr>
                <td><strong>Practise :</strong></td>
                <td>Dentist </td>
              </tr>
              <tr>
                <td><strong>Email :</strong></td>
                <td><%= @patient.email %></td>
              </tr>
              <tr>
                <td>Phone number :</td>
                <td><%= @patient.phone_code %><%= @patient.phone_number %></td>
              </tr>
              <tr>
                <td><strong>Gender :</strong></td>
                <td><%= @patient.gender %></td>
              </tr>
              <tr>
                <td><strong>Birthdate :</strong></td>
                <td><%= @patient.birthdate.strftime("%B, %d %Y") %></td>
              </tr>
              <tr>
                <td><strong>Address :</strong></td>
                <td><%= @patient.address %></td>
              </tr>
              <tr>
                <td><strong>City :</strong></td>
                <td><%= @patient.city %></td>
              </tr>
              <tr>
                <td><strong> State :</strong></td>
                <td><%= @patient.state %></td>
              </tr>
              <tr>
                <td><strong> Country :</strong></td>
                <td> <%= @patient.country %></td>
              </tr>
              <tr>
                <td><strong> Zip :</strong></td>
                <td> <%= @patient.zip%></td>
              </tr>
            </tbody>
          </table>
        </div><!-- /.table-responsive -->
      </div>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
