<div class="row error_wrap">
  <div class="container">
    <div class="col-lg-12">
      <div class="error-template">
          <h1>
              Oops!</h1>
          <h2>
              404 Not Found</h2>
          <div class="error-details">
              Sorry, an error has occured, Requested page not found!
          </div>
          <div class="error-actions">
            <% if doctor_signed_in? %>
              <a href="<%= root_url %>" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                  Take Me Home </a>
            <% else %>
              <% if session[:patient_id].blank?%>
                <a href="<%= root_url %>" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                  Take Me Home </a>
              <% else %>
                <a href="<%= login_page_path(session[:patient_id]) %>" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                  Take Me Home </a>
              <% end %>
            <% end %>
              <a href="<%= contact_us_path %>" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
          </div>
      </div>
    </div>
  </div>
</div>