<div class="panel">
  <h3><%= @pat.first_name%> Reports</h3>
  <div class="panel_contents">
    <div class="attributes_table">
      <table>
        <tr>
          <!-- <td><b>ID</b></td> -->
          <td><b>First name</b></td>
          <td><b>Last name</b></td>
          <td><b>Email</b></td>
          <td><b>Gender</b></td>
          <td><b>Selection</b></td>
        </tr>
          <% @repo.each do |a| %>
            <tr>
              <!-- <td><%= a.id %></td> -->
              <td><%= a.patient_first_name %></td>
              <td><%= a.patient_last_name %></td>
              <td><%= a.patient_email %></td>
              <td><%= a.patient_gender %></td>
              <% @report_menu.each do |menu| %>
                <% if a.id == menu.report_id %>
                  <% @procedure_types.each do |p| %>
                    <% if p.id == menu.procedure_type_ids %>
                      <% if p.parent_type_id == nil%>
                        <td><%= p.type_name %></td>
                      <% else %>
                        <td><%= p.type_name %></td>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </tr>
          <% end %>
      </table>
    </div>
  </div>
</div>
