<% if @doctor && @doctor.errors.count == 0 %>
  <% if @doctor.subscription_plan.blank? %>
    window.location.replace("<%= select_plan_path %>");
  <% elsif @doctor.subscription_plan == "Expired" %>
    $('#myModal').modal('hide');
    $('#myModal').find('form')[0].reset();
    $('#planModal').modal('show');
    <% flash[:danger] = "Your subscription plan has been expired on #{@doctor.expire_date.to_date}. Please select a plan to continue." %>
    $('#planModal').on('shown.bs.modal', function(){
      $('#select-plan-btn').focus();
    });
  <% elsif doctor_signed_in? %>
    window.location.replace("<%= root_url %>");
  <% end %>
<%# else %>
  // $(".custom-notice").remove();
  // $('.demo').before('<%= j render("devise_msg") %>');
<% end %>
