$(".custom-notice").remove();
<% if params[:modal].present? %>
	$('.modal .demo').before('<%= j render("devise_msg") %>');
<% else %>
	$('.home_login_wrap .demo').before('<%= j render("devise_msg") %>');
<% end %>