<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Login to eInformed Consent</h4>
    </div>
      <%= form_for(resource, :as => resource_name, :url => new_doctor_session_path(@doctor), :html => {:id => "sign_in1",:class => "form signup_form"}, :remote => true) do |f| %>
        <%= hidden_field_tag "modal", true %>
        <div class="modal-body login_popup_wrap">
          <div class="demo"></div>
            <div class="row">
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div class="form-group form_wrap">
                  <%= f.email_field :email, :autofocus => true,:placeholder => "Email", :class=> "form-control", :required => true %>
                </div>
                <div class="form-group form_wrap">
                  <%= f.password_field :password, :placeholder => "Password", :class=> "form-control", :required => true %>
                </div>
                <div class="checkbox">
                  <label class="signup_chkbox">
                    <%= f.check_box :remember_me, :for => "remember" %>Remember Me!
                  </label>
                </div>
              </div>
            </div>
        </div>
        <div class="modal-footer login_popup_footer">
          <div class="pull-left">
            <a href="<%= new_doctor_registration_path %>">Sign up</a> |
            <!-- <a href="<%#= new_password_path('doctor')%>">Forgot password</a>  -->
            <a href="#forgot_pw" data-toggle="modal" data-target="#forgot_pw" onclick="$('#myModal').modal('hide');">Forgot password</a>
          </div>
          <button type="submit" class="btn btn-primary" >Sign in</button>
        </div>
    <%end%>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div>


<!-- Modal -->
 <div class="modal fade" id="planModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Subscription Expired</h4>
    </div>
    <div class="modal-body">
    Your subscription has expired. You must renew your subscription in order to Login.
      </div>
        <div class="modal-footer login_popup_footer">
        <a href="<%= select_plan_path %>" id="select-plan-btn" class="btn btn-primary">Select Plan</a>
        </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div>


<%= javascript_include_tag "jquery.js","jquery.validate.js" %>
<script type="text/javascript">
  $("#sign_in1").validate({
    rules: {
      "doctor[email]": {
        required: true,
        email: true
      },
      "doctor[password]": {
        required: true,
        minlength: 6
      }
    }
  });
</script>