<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>einformedCocent</title>
<style type="text/css">
body{
    margin:0;
    padding:0;
    font-family:Tahoma, Geneva, sans-serif;
}
a{
    color:inherit;
    text-decoration:none;
}
img{
    border:none;
}
</style>
</head>
<body>

<table width="600" cellpadding="0" cellspacing="0" align="center" style="border:3px #00a9d1 solid;">
  <tr>
    <td colspan="2" align="center" style="padding:10px 0px;">
      <a href="#">
        <%= image_tag attachments['logo.png'].url %>
      </a>
    </td>
  </tr>
  <tr>
    <td style="background:#00a9d1; border-top:4px #017793 solid; padding:4px 0px;" width="300">
      <table cellpadding="0" cellspacing="0" border="0" width="280" align="center" style="margin-left:20px; padding:0; color:#ffffff; line-height:24px;">
        <tr>
          <td style="font-size:22px;">
            Dr. <%= @doctor_full_name[0] %> <%=@doctor_full_name[1] %>
          </td>
        </tr>
        <tr>
          <td style="font-size:14px;">
            <%#= @speciality%>
            <%= @doctor.phone%>
          </td>
        </tr>
        <!-- <tr>
          <td style="font-size:14px;">
            Contact : <%#= @doctor.code%>-<%= @doctor.phone%>
          </td>
        </tr>
        <tr>
          <td style="font-size:14px;">
            Email : <a href="mail-to:info@einformedconsent.com"><%#= @doctor.email%></a>
          </td>
        </tr> -->
      </table>
    </td>
    <td style="background:#00a9d1; border-top:4px #017793 solid; padding:4px 0px;" width="300" valign="top">
      <table cellpadding="0" cellspacing="0" border="0" width="280" align="center" style="margin-right:20px; padding:0; color:#ffffff; line-height:24px;">
        <tr>
          <td style="font-size:22px;" align="right">
            Location
          </td>
        </tr>
        <tr>
          <td style="font-size:14px;" align="right">
            <% @add = @doctor.address.titleize %>
            <% @b = @add.split(" ,") %>
            <% @c= @b.join(",") %>
            <% @d = @c.split(", ") %>
            <% @e = @d.join(",") %>
            <%= @e%>,<br/>
            <%= @doctor.city.titleize%>,
            <%= @doctor.state.titleize%>,<%= @doctor.zip%>.
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <table width="560" style="margin:0px 20px; color:#01667e; line-height:24px; font-size:14px;">

        <tr>
          <td style="line-height:28px; font-size:16px;">
            Dear <%= @report.patient_first_name.titleize %> <%= @report.patient_last_name.titleize %>,<br />
          </td>
        </tr>
        <tr>
          <td>
              Dr. <%= @doctor_full_name[0] %> <%=@doctor_full_name[1] %> would like you to review a presentation regarding the proposed treatment discussed at <% if @doctor.sex == "Male"%> his <% else %> her <% end %>office . You will be given information about the proposed treatment, including the inherent risks and benefits, and possible options. This presentation is intended to assist you in making an informed decision regarding your treatment.
          </td>
        </tr>
        <br/>
        <tr>
          <td>
            Please click on the link below to reach the Patient Portal for your presentation.
          </td>
        </tr>
        <tr>
          <td align="center" style="padding:15px 0px;">
            Your Patient Passcode is <span style="font-size:20px; font-weight:bold;"><%= @report.report_code %></span>
          </td>
        </tr>
        <tr>
          <td align="center" style="padding:15px 0px;">
            <%= link_to "Click here to go to Patient Portal", login_page_url(@report.patient_first_name), :target=>"_blank", :style=>"padding:8px; background:#006d00; font-size:20px; color:#ffffff;"%>
          </td>
        </tr>
        <tr>
          <td style="font-size:16px; padding:15px 0px;">
            Thanks,<br />
            <span style="font-size:14px;">Via einformedConsent</span>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>

