<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>einformedCocent</title>
<style type="text/css">
body{
    margin:0;
    padding:0;
    font-family:Tahoma, Geneva, sans-serif;
}
a{
    color:inherit;
    text-decoration:none;
}
img{
    border:none;
}
</style>
</head>
<body>
<table width="600" cellpadding="0" cellspacing="0" align="center" style="border:3px #00a9d1 solid;">
  <tr>
    <td colspan="2" align="center" style="padding:10px 0px;">
      <a href="#">
        <%= image_tag attachments['logo.png'].url %>
      </a>
    </td>
  </tr>
  <tr>
    <td style="background:#00a9d1; border-top:4px #017793 solid; padding:4px 0px;" width="300">
      <table cellpadding="0" cellspacing="0" border="0" width="280" align="center" style="margin-left:20px; padding:0; color:#ffffff; line-height:24px;">
        <tr>
          <td style="font-size:22px;">
            Dr. <%= @doctor_full_name[0] %> <%=@doctor_full_name[1] %>
          </td>
        </tr>
        <tr>
          <td style="font-size:14px;">
            <%#= @speciality%>
            <%= @doctor.phone%>
          </td>
        </tr>
        <!-- <tr>
          <td style="font-size:14px;">
            Contact : <%#= @doctor.code%>-<%= @doctor.phone%>
          </td>
        </tr>
        <tr>
          <td style="font-size:14px;">
            Email : <a href="mail-to:info@einformedconsent.com"><%#= @doctor.email%></a>
          </td>
        </tr> -->
      </table>
    </td>
    <td style="background:#00a9d1; border-top:4px #017793 solid; padding:4px 0px;" width="300" valign="top">
      <table cellpadding="0" cellspacing="0" border="0" width="280" align="center" style="margin-right:20px; padding:0; color:#ffffff; line-height:24px;">
        <tr>
          <td style="font-size:22px;" align="right">
            Location
          </td>
        </tr>
        <tr>
          <td style="font-size:14px;" align="right">
            <% @add = @doctor.address.titleize %>
            <% @b = @add.split(" ,") %>
            <% @c= @b.join(",") %>
            <% @d = @c.split(", ") %>
            <% @e = @d.join(",") %>
            <%= @e%>,<br/>
            <%= @doctor.city.titleize%>,
            <%= @doctor.state.titleize%>,<%= @doctor.zip%>.
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <table width="560" style="margin:0px 20px; color:#01667e; line-height:24px; font-size:14px;">
        <tr>
          <td style="font-size:15px;color:#047A08;">
            Thank you for visiting eInformedConsent.com.  We will let your doctor know you decided not see the presentation.
          </td>
        </tr>
        <tr>
          <td style="font-size:16px; padding:15px 0px;">
            Thanks,<br />
            <span style="font-size:14px;">Via einformedConsent</span>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>

