<div class="panel-heading">
  <h3 class="panel-title">1 YEAR PLAN</h3>
</div>
<div class="panel-body">
  <table class="table set-table-text">
    <tr class="active">
      <td>
        <h3 class="text-success">$495 FOR 1-YEAR</h4>
      </td>
    </tr>
    <tr>
      <td>
        <h4>Less than $1.40 per day</h4>
      </td>
    </tr>
    <tr class="active">
      <td>
        <h3 class="text-success">TOTAL $ 495</h3>
      </td>
    </tr>
    <!-- <tr class="active">
      <td>
        <h3 class="text-success">Total $ 900</h3>
      </td>
    </tr> -->
    <!-- <tr>
      <td>
        <h4>(2nd year will be processed on 1-year completion)</h4>
      </td>
    </tr> -->
  </table>
</div>