<div class="panel-heading">
  <h3 class="panel-title">2 YEAR PLAN</h3>
</div>
<div class="panel-body">
  <table class="table set-table-text">
    <tr class="active">
      <td>
        <h3 class="text-success">$895 FOR 2-YEAR</h4>
      </td>
    </tr>
    <tr>
      <td>
        <h4>Less than $1.25 per day</h4>
      </td>
    </tr>
    <tr class="active">
      <td>
        <h3 class="text-success">TOTAL $ 895</h3>
      </td>
    </tr>
    <!-- <tr class="active">
      <td>
        <h3 class="text-success">Total $ 1020</h3>
      </td>
    </tr> -->
    <!-- <tr>
      <td>
        <h4>(24 Month commitment $30/month for 23 additional month)</h4>
      </td>
    </tr> -->
  </table>
</div>