<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
    <title>eInformed Consent</title>

    <%= stylesheet_link_tag "home", :media => "all" %>
    <%= csrf_meta_tags %>
    <%= render "layouts/shared/footer_css" %>
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="page-wrap">
    <%= render "/layouts/shared/frontpage_header"%>
    <div class="row esignature_container">
      <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="disclaimer_wrap esignature_box contact_box">
            <div class="disclaimer_title">
              Payment
              <span class="down_arrow">
                <img src="/assets/down_arrow.png" alt="">
              </span>
            </div>
            <div class="row">
              <%= form_for @payment ,:html => { :class=>"form signup_form"} do |f| %>
                  <% if flash[:error] %>
                    <div class="row">
                      <div class="col-lg-9">
                        <div class="alert alert-danger">
                          <%= flash[:error] %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                  <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group form_wrap">
                      <label for="hname">Card Holder's Name <em>*</em></label>
                        <div class="row card_no_wrap">
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <%= f.text_field :first_name , :placeholder => "First Name" , :class => "form-control"%>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <%= f.text_field :last_name , :placeholder => "Last Name", :class => "form-control"%>
                          </div>
                        </div>
                    </div>
                  </div>
                  <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group form_wrap">
                      <label for="hname"> Card Number <em>*</em></label>
                      <div class="row card_no_wrap">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                          <%= f.text_field :credit_card_number1,:placeholder => "First four digits", :class => "form-control",:"autocomplete"=>"off",:maxlength=>"4",:required=>"true"%>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                          <%= f.text_field :credit_card_number2,:placeholder => "Second four digits", :class => "form-control",:"autocomplete"=>"off",:maxlength=>"4",:required=>"true"%>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                          <%= f.text_field :credit_card_number3,:placeholder => "Third four digits", :class => "form-control",:"autocomplete"=>"off",:maxlength=>"4",:required=>"true"%>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                          <%= f.text_field :credit_card_number4,:placeholder => "Fourth four digits", :class => "form-control",:"autocomplete"=>"off",:maxlength=>"4",:required=>"true"%>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group form_wrap">
                      <label for="hname"> Card Expiry Date <em>*</em></label>
                      <div class="row card_no_wrap">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <% @MONTHS = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']  %>
                          <%= select_tag(:credit_month, options_for_select(@MONTHS),:prompt => 'Select Month',:class=>"form-control signature_txtbox") %>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                          <% @YEARS = [DateTime.now.strftime("%y").to_i,DateTime.now.strftime("%y").to_i+1, DateTime.now.strftime("%y").to_i+2,DateTime.now.strftime("%y").to_i+3,DateTime.now.strftime("%y").to_i+4, DateTime.now.strftime("%y").to_i+5,DateTime.now.strftime("%y").to_i+6,DateTime.now.strftime("%y").to_i+7,DateTime.now.strftime("%y").to_i+8,DateTime.now.strftime("%y").to_i+9,DateTime.now.strftime("%y").to_i+10,DateTime.now.strftime("%y").to_i+11,DateTime.now.strftime("%y").to_i+12,DateTime.now.strftime("%y").to_i+13,DateTime.now.strftime("%y").to_i+14,DateTime.now.strftime("%y").to_i+15] %>
                          <%= select_tag(:credit_year, options_for_select(@YEARS),:prompt => 'Select Year',:class=>"form-control signature_txtbox") %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group form_wrap">
                      <label for="ccode">Card Code <em>*</em></label>
                      <%= f.text_field :card_code,:placeholder => "Enter Card Code", :class => "form-control"%>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="agree_btn_wrap contact_btn payment_btn">
                    <input type="submit" value="Submit" class="blue_btn agree_btn">
                  </div>
                <%end%>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="site-footer">
    <%= render "/layouts/shared/frontpage_footer"%>
  </footer>
    <%= javascript_include_tag "home" %>

  </body>
</html>
