
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>eInformedConsent</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    "home", :media => "all" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>  </head>
  <body>
    <div id="root">
      <%= render "/layouts/shared/frontpage_header"%>
      <section id="content" class="cols-a">
        <%= form_for :sim_transaction, :url => AuthorizeNet::SIM::Transaction::Gateway::LIVE do |f| %>
        <%= sim_fields(@sim_transaction) %>
        <%= label_tag 'x_amount', "Total: #{number_to_currency(@amount)}" %>
        <%= hidden_field_tag("x_invoice_num", 5332131465135, {:id => "x_invoice_num"}) %>
        <%= hidden_field_tag("x_cust_id", 0145210, {:id => "x_cust_id"}) %>
        <%= hidden_field_tag("x_email", 'admin@example.com', {:id => "x_email"}) %>
        <br />
        <%= f.submit 'Select',:class => "button bevel green"%>
        <% end %>


      <%= render "/layouts/shared/frontpage_footer"%>
    </div>
    <%= javascript_include_tag "home" %>
  </body>
</html>


