<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="author" content="">

    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
   <title>eInformed Consent</title>
    <meta name="description" content="See the two cost-effective plans for having the greatest dental implant informed consent system available.">

    <%= stylesheet_link_tag "home", :media => "all" %>
    <%= csrf_meta_tags %>

    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
    <%= render "layouts/shared/footer_css" %>
  </head>

  <body>

  <div class="page-wrap">
    <%= render "/layouts/shared/frontpage_header"%>
    <div class="container">
    <div class="row">
    <div class="row">
      <div class="col-xs-12 text-center free_btn">
        <a href="<%= new_doctor_registration_path%>" onclick="set_cookie()">
          <img src="/assets/trial_btn.jpg" alt="">
        </a>
      </div>
    </div>
      <div class="col-lg-5 or-border">
      </div>
      <div class="col-lg-2 border-middle-content">
        OR
      </div>
      <div class="col-lg-5 or-border">
      </div>


      <div class="col-lg-10 col-lg-offset-1 plan_wrap">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-success">
                <%= render "payments/advance_plan_content"%>
                <div class="panel-footer">
                  <a href="<%= new_doctor_registration_path%>" class="btn btn-success btn-lg" role="button" data-plan="1-year" onclick="setCookie('subscribed_to','1_year')">subscribe</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-primary">
                <%= render 'most_popular_lable' %>
                <%= render "payments/recurring_plan_content"%>
                <div class="panel-footer">
                  <a href="<%= new_doctor_registration_path%>" class="btn btn-primary btn-lg" role="button" data-plan="1-year" onclick="setCookie('subscribed_to','2_year')">subscribe</a>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <footer class="site-footer">
    <%= render "/layouts/shared/frontpage_footer"%>
  </footer>
    <%= javascript_include_tag "home" %>
  </body>
</html>