<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
    <title>eInformed Consent</title>

    <%= stylesheet_link_tag "home", :media => "all" %>
    <%= csrf_meta_tags %>
     <%= render "layouts/shared/footer_css" %>
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="page-wrap">
    <center><div class="custom-notice"><%#= notice %><%= alert %></div></center>
    <% if doctor_signed_in? %>
      <%= render :partial => "/layouts/shared/header" %>
      <%= render :partial => "/layouts/shared/menu" %>
    <% else %>
      <%= render "/layouts/shared/frontpage_header"%>
    <% end %>
      <div class="container">
      <%= render 'layouts/shared/flash_message' %>
      <div class="row">
        <% unless session[:subcribe_doc].trial_expired? %>
          <div class="row">
            <div class="col-xs-12 text-center free_btn">
              <a href="<%= root_path%>" onclick="set_cookie()">
                <img src="/assets/trial_btn.jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-lg-5 or-border">
          </div>
          <div class="col-lg-2 border-middle-content">
            OR
          </div>
          <div class="col-lg-5 or-border">
          </div>
        <% end %>

        <div class="col-lg-10 col-lg-offset-1 plan_wrap">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-success">
              <%= form_for :one_year_sim_transaction, :url => AuthorizeNet::SIM::Transaction::Gateway::LIVE do |f| %>

                <div class="success-header-color-under-form">
                  <%= render "payments/advance_plan_content"%>
                </div>

                <%= sim_fields(@one_year_sim_transaction) %>
                <%= hidden_field_tag("x_invoice_num", 5332131465135, {:id => "x_invoice_num"}) %>
                <%= hidden_field_tag("x_cust_id", 0145210, {:id => "x_cust_id"}) %>
                <%= hidden_field_tag("x_email",session[:current_doctor] , {:id => "x_email"}) %>
                <%= hidden_field_tag("x_plan", "1 year plan", {:id => "x_plan"}) %>
                <%= hidden_field_tag("x_plan_interval_in_year", "1", {:id => "x_plan_interval_in_year"}) %>
                <div class="panel-footer">
                  <%= f.submit 'SUBSCRIBE',:class => "btn btn-success btn-lg", :id => "op1" %>
                </div>
              <%end%>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-primary">
              <%= render 'most_popular_lable' %>
              <%= form_for :two_year_sim_transaction, :url => AuthorizeNet::SIM::Transaction::Gateway::LIVE do |f| %>

                <div class="primary-header-color-under-form">
                  <%= render "payments/recurring_plan_content"%>
                </div>

                <%= sim_fields(@two_years_sim_transaction) %>
                <%= hidden_field_tag("x_invoice_num", 5332131465135, {:id => "x_invoice_num"}) %>
                <%= hidden_field_tag("x_cust_id", 0145210, {:id => "x_cust_id"}) %>
                <%= hidden_field_tag("x_email",session[:current_doctor] , {:id => "x_email"}) %>
                <%= hidden_field_tag("x_plan", "2 year plan", {:id => "x_plan"}) %>
                <%= hidden_field_tag("x_plan_interval_in_year", "2", {:id => "x_plan_interval_in_year"}) %>
                <div class="panel-footer">
                  <%= f.submit 'SUBSCRIBE',:class => "btn btn-success btn-lg", :id => "op1" %>
                </div>
              <%end%>

              <!-- <div class="panel-footer">
                <%#= link_to 'subscribe', new_payment_path, :class => "btn btn-primary btn-lg", :target => "_blank" %>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="site-footer">
    <%= render "/layouts/shared/frontpage_footer"%>
    <!-- </div> -->
    <%= javascript_include_tag "home" %>
  </footer>
  </body>
</html>

