<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>eInformedConsent</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag  "home", :media => "all" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>  </head>
  <body>
    <%= render "/layouts/shared/frontpage_header"%>
    <section id="content">
      <div class="main">
        <% if @doctor.subscription_plan == "Advance Plan" %>
          <div class="first">
              <div class="plan">
                <h2>Advance Plan</h2>
              </div>
              <h5>$300.00 setup fee</h5>
              <h5>$600.00 2 year subscription</h5>
              <h5>total $900.00 </h5>
          </div>
        <% elsif @doctor.subscription_plan == "Recurring Plan" %>
          <div class="second" style="float: right;">
            <div class="plan span3 featured-plan">
              <h2> Reccurring Plan</h2>
            </div>
            <h5>$300 setup fee</h5>
            <h5>$30/month</h5>
            <h5>$330 for 1st month </h5>
          </div>
        <% end %>
      </div>
    </section>
    <%= render "/layouts/shared/frontpage_footer"%>
    <!-- </div> -->
    <%= javascript_include_tag "home" %>
  </body>
</html>