<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
    <title>eInformed Consent</title>

    <%= stylesheet_link_tag "home", :media => "all" %>
    <%= csrf_meta_tags %>
    <%= render "layouts/shared/footer_css" %>
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="page-wrap">
    <% if doctor_signed_in? %>
      <%= render :partial => "/layouts/shared/header" %>
      <%= render :partial => "/layouts/shared/menu" %>
    <% else %>
      <%= render "/layouts/shared/frontpage_header"%>
    <% end %>
      <div class="row registration_msg_wrap">
        <div class="container">
          <div class="col-lg-12" align="center">
            <div class="jumbotron">
            <h1>Thank You !!!</h1>
            <% if doctor_signed_in? %>
              <p class="lead">You have subscribed successfully!!</p>
              <p><a role="button" href="<%= root_url %>" class="btn btn-success btn-lg">Click here to continue</a></p>
            <% else %>
              <p class="lead">Welcome <%= session[:current_doctor] %>. You are Successfully registered <br>
                Thank You for Purchase! Please Login to Continue from here..</p>
              <p><a role="button" href="<%= root_url %>" class="btn btn-success btn-lg">Log in Now</a></p>
            <% end %>
          </div>
          </div>
        </div>
      </div>
  </div>
  <footer class="site-footer">
    <%= render "/layouts/shared/frontpage_footer"%>
    <%= javascript_include_tag "home" %>
  </footer>
  </body>
</html>

