  <div class="modal-content">
    <div class="modal-header" style="border-bottom:none; padding:0; position:relative;">
      <div class="disclaimer_title popup_title">
        Doctor Profile
        <span class="down_arrow">
          <img src="/assets/down_arrow.png" alt="">
        </span>
      </div>
      <button type="button" class="close popup_close_btn" data-dismiss="modal" aria-hidden="true">X</button>
    </div>
  <div class="modal-body profile_edit_wrap" style="padding-bottom:0px;">
      <div class="bs-example">
        <div class="table-responsive">
          <%= form_for @doctor_profile, :as=> :doctor, :url => update_profile_path ,:html => { :multipart => true },:remote => true  do |f| %>
            <table class="table table-responsive table-hover table-bordered">
              <tbody>
                  <tr>
                    <td><strong>Speciality :</strong></td>
                    <td>
                      <%= f.collection_select(:speciality_id,Speciality.all,:id,:spe_name,{:include_blank => "Please Select"}, :autofocus => true,:class => "form-control signature_txtbox" )%>
                    </td>
                  </tr>
                  <tr>
                    <td><strong>Doctor Name :</strong></td>
                    <td>
                      <%= f.text_field :doctor_name , :placeholder => "Enter Name", :readonly => "true" ,:class => "form-control signature_txtbox"%>
                   </td>
                  </tr>
                  <tr>
                    <td><strong>Practise :</strong></td>
                    <td>
                      <%= f.text_field :practise_name,:placeholder => "Enter Practise" ,:class => "form-control signature_txtbox" , :validate => true%>
                    </td>
                  </tr>
                  <tr>
                    <td><strong>Address :</strong></td>
                    <td>
                      <%= f.text_area :address, :placeholder => "Enter Address", :class => "form-control signature_txtbox",:rows => 4, :cols => 30, :validate => true%>
                    </td>
                  </tr>
                  <tr>
                    <td><strong>City :</strong></td>
                    <td>
                      <%= f.text_field :city, :placeholder => "City",:class => "form-control signature_txtbox", :validate => { presence: true }%>
                    </td>
                  </tr>
                  <tr>
                    <td><strong>State :</strong></td>
                    <td>
                      <%= f.text_field :state,:placeholder => "State",:class => "form-control signature_txtbox" , :validate => true%>
                    </td>
                  </tr>
                  <tr>
                    <td><strong>Zip :</strong></td>
                    <td>
                      <%= f.text_field :zip,:placeholder => "Enter Zip",:class => "form-control signature_txtbox", :validate => true %>
                    </td>
                  </tr>
                  <tr>
                    <td><strong>Phone number :</strong></td>
                    <td>
                      <%= f.hidden_field :code,:placeholder => "Code",:class => "code", :required => true %>
                      <%= f.text_field :phone,:placeholder => "Number",:class => "form-control signature_txtbox", :validate => true%>
                    </td>
                  </tr>
                  <tr>
                    <td><strong>Gender :</strong></td>
                    <td>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="radio info_radio">
                            <label>
                              <%=f.radio_button :sex , "Male"%>Male
                            </label>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="radio info_radio">
                            <label>
                              <%=f.radio_button :sex, "Female"%>Female
                            </label>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>
                      <button type="submit" class="btn btn-primary btn-md">
                        Save Changes
                      </button>
                      <button type="button" class="btn btn-primary btn-md" data-dismiss="modal">
                        Close
                      </button>
                    </td>
                  </tr>
              </tbody>
            </table>
          <%end%>
        </div><!-- /.table-responsive -->
       </div>
    </div>
  </div>
</div><!-- /.modal-content -->
