<input type="hidden" class = "menuNav" value="2" />
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header" style="border-bottom:none; padding:0; position:relative;">
      <div class="disclaimer_title popup_title">
        Doctor Profile
        <span class="down_arrow">
          <img src="/assets/down_arrow.png" alt="">
        </span>
      </div>
      <button type="button" class="close popup_close_btn" data-dismiss="modal" aria-hidden="true">X</button>
    </div>
    <div class="modal-body" style="padding-bottom:0px;">
      <div class="bs-example">
        <div class="table-responsive">
          <table class="table table-responsive table-hover table-bordered">
            <tbody>
              <tr>
                <td><strong>Doctor Name :</strong></td>
                <td><%= @doctor_profile.doctor_name %></td>
              </tr>
              <tr>
                <td><strong>Speciality :</strong></td>
                <td>
                  <% @specialities.each do |sp| %>
                    <% if sp.id == @doctor_profile.speciality_id%>
                      <%= sp.spe_name %>
                    <%end%>
                  <%end%>
                </td>
              </tr>
              <tr>
                <td><strong>Practise :</strong></td>
                <td><%= @doctor_profile.practise_name %></td>
              </tr>
              <tr>
                <td><strong>Address :</strong></td>
                <td><%= @doctor_profile.address %></td>
              </tr>
              <tr>
                <td><strong>City :</strong></td>
                <td><%= @doctor_profile.city %></td>
              </tr>
              <tr>
                <td><strong>State :</strong></td>
                <td><%= @doctor_profile.state %></td>
              </tr>
              <tr>
                <td><strong>Zip :</strong></td>
                <td><%= @doctor_profile.zip %></td>
              </tr>
              <tr>
                <td><strong>Phone number :</strong></td>
                <td><%#= @doctor_profile.code %><%= @doctor_profile.phone %></td>
              </tr>
              <tr>
                <td><strong>Gender :</strong></td>
                <td><%= @doctor_profile.sex %></td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <%= link_to "Edit", profile_path, :class => "btn btn-primary btn-md", :remote => true,:"data-toggle"=>"modal",:"data-target"=>"#porfile_edit"%>
                  <button type="button" class="btn btn-primary btn-md" data-dismiss="modal">
                    Close
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div><!-- /.table-responsive -->
       </div>
    </div>
  </div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
