<div class="col-lg-5 col-md-5 col-sm-5">
  <div class="home_login_wrap">
    <h3>Get Started ! For Doctor</h3>
      <%= form_for("doctor", :url => new_doctor_session_path, :html => {:id => "sign_in",:class => "subscribe-form"},:remote =>true ) do |f| %>
        <center>
        </center>
        <div class="demo"></div>

  <div class="form-group form_wrap login-error">
    <%= f.label :email, :for => "name" %>
    <%= f.email_field :email, :autofocus => true,:placeholder => "Email", :class=> "form-control input_txt", :required => true %>
  </div>
  <div class="form-group form_wrap login-error">
    <%= f.label :password, :for => "password"%>
    <%= f.password_field :password, :placeholder => "Password", :class=> "form-control input_txt",:id=>"password", :required => true%>
  </div>
  <div class="form-group form_wrap">
    <div class="row js_error">
      <div class="col-lg-6">
        <label class="checkbox-inline" style="padding-left:5px;">
          <%= f.check_box :remember_me, :id=>"inlineCheckbox1" %> Remember Me!
        </label>
        <%#= link_to "Forgot Your Password?", new_password_path('doctor'),:class=>"forgot_pw" %>
         <a href="#forgot_pw" class="forgot_pw" data-toggle="modal" data-target="#forgot_pw" onclick="$('#myModal').modal('hide');">Forgot Your Password?</a>
      </div>
      <div class="col-lg-6">
        <%= f.submit "Log in Now!",:class => "hp_banner_btn" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <img src="/assets/banner_devider.png" alt="" class="img-responsive devider">
      <h3 class="new_subscriber_title devider">Not Yet a Subscriber?</h3>
      <%= link_to "Subscribe Here!", new_doctor_registration_path,:class => "banner_subscribe" %>
    </div>
  </div>
  <% end %>
 </div>
</div>

<%= javascript_include_tag "jquery.js","jquery.validate.js" %>

<script type="text/javascript">
  $("#sign_in").validate({
    rules: {
      email: {
        required: true,
        email: true
      },
      password: {
        required: true,
         minlength: 6
      }
    }
  });
</script>
