<!-- Home page step box start -->
<div class="row hp_content_wrap">
  <div class="container">
    <div class="col-lg-12 hp_box_wrap">
      <img src="/assets/left_shadow.png" alt="" class="left_shadow">
      <img src="/assets/right_shadow.png" alt="" class="right_shadow">
      <h2 style="text-transform:initial;">See how easy it is to use eInformedConsent.com</h2>
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" align="center">
          <div class="col-lg-12 hp_box">
            <div class="box_round_icon" align="center">
              <img src="/assets/step_1_icon.png" alt="">
            </div>
            <span> 1. Subscription by doctor</span>
            <p>Get started by registering your information and select your subscription plan,a one time process.  Create your login ID.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" align="center">
          <div class="col-lg-12 hp_box">
            <div class="box_round_icon" align="center">
              <img src="/assets/step_2_icon.png" alt="">
            </div>
            <span> 2. Setup Patient Presentation</span>
            <p>Create a patient presentation anytime by completing a patient’s demographic information, selecting their presentation segments.  This will in turn create a Unique Patient Code, which is sent via email to the patient and to you as a patient handout.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" align="center">
          <div class="col-lg-12 hp_box">
            <div class="box_round_icon" align="center">
              <img src="/assets/step_3_icon.png" alt="">
            </div>
            <span>3. Your Patient logs into their presentation with Unique Patient Code</span>
            <p> Patient will log onto the website using a Unique Patient Code and The Patient will see a presentation selected by the doctor.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" align="center">
          <div class="col-lg-12 hp_box">
            <div class="box_round_icon" align="center">
              <img src="/assets/step_4_icon.png" alt="">
            </div>
            <span>4. Doctor receives a report advising that the patient has completed the presentation</span>
            <p> The doctor is sent a report tracking the patient’s interaction with their presentation and the patient’s questions.  The system maintains a historical copy of all reports.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of page step box -->