<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 testimonials_box testimonials_devider">
  <h2>Doctor's Testimonials</h2>
  <p> Having this company take care of everything to make sure I am 100% protected allows my staff to concentrate on preparation for my procedures. Receiving a detailed history of the patient viewing their consent is paramount.</p>
  <div>
    Louis Cianciola, Periodontist, Rochester, New York.
  </div>
</div> 


<!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 testimonials_box testimonials_devider">
  <h2>Doctor's Testimonials</h2>
    <%# if @doctors_testimonials.present? %> 
      <p>
        <%#= truncate @doctors_testimonials.description, length: 160 %>
      </p>
      <div><%#= @doctors_testimonials.doctor_doctor_name%>, <%#=@doctors_testimonials.doctor_practise_name%>, <%#=@doctors_testimonials.doctor_city%>, <%#=@doctors_testimonials.doctor_state%>.
      </div>
    <%#else%>
      <%# @doctors_testimonials_last.each do |doctors_testimonials_last|%>
        <p>
          <%#= truncate doctors_testimonials_last.description, length: 160 %>
        </p>
        <div><%#= doctors_testimonials_last.doctor_doctor_name%>, <%#= doctors_testimonials_last.doctor_practise_name%>, <%#= doctors_testimonials_last.doctor_city%>, <%#= doctors_testimonials_last.doctor_state%>. 
        </div>
      <%#end%>
    <%#end%>
</div> -->

     


