<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 testimonials_box ">
  <h2>Doctor's Testimonials</h2>
  <p> Innovative idea. In today’s modern practice environment time is precious. Einformed Consent provides an efficient and professional method of providing information to our patients and allows them to make an informed treatment choice without wasting valuable chair time.</p>
  <div>
    Allan H. Fuhr DDS, Lake Worth Fl.
  </div>
</div> 


<!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 testimonials_box">
  <h2>Patient's Testimonials</h2>
    <%# if @patients_testimonials.present? %> 
      <p>
        <%#= truncate @patients_testimonials.description, length: 160 %>
      </p>
      <div>
        <%#= @patients_testimonials.patient_fullname %>,
      </div>
    <%#else%>
      <%# @patients_testimonials_last.each do |patients_testimonials_last|%>
        <p>
          <%#= truncate  patients_testimonials_last.description, length: 160 %>
        </p>
        <div>
          <%#= patients_testimonials_last.patient_fullname%>
        </div>
      <%#end%>
    <%#end%>
</div> -->

