<%= render "/home/shared/front_page_inner_slider"%>
<div class="clearfix"></div>
<!-- Testimonials Box Start -->
<div class="row testimonials_wrap">
  <div class="container">
    <%= render"/home/shared/front_page_doctor_testimonial"%>
    <%= render"/home/shared/front_page_patient_testimonial"%>
  </div>
</div>
<!-- End of Testimonials Box -->
<div class="clearfix"></div>