<!-- Banner and Login part Start -->
<div class="row">
	<div class="container full-container">
		<div class="row">
			<div class="col-xs-12 p-l-none">
					<div class="btn-wrap">
						<div class="btn-vertical">
							<a href="#" class="link-video howItWorkBtn" data-toggle="modal" data-target="#videoModal" data-theVideo="http://tpstracker.com/demo/einformedconsent/video_V2.mp4" data-backdrop="static" data-keyboard="false" id="how-it-works">
							<img src="/assets/vertical-text.png" alt="">
								<!-- <span class="glyphicon glyphicon-facetime-video"></span>
								<span>H</span>
								<span>o</span>
								<span>w</span>
								<span>i</span>
								<span>t</span>
								<span>w</span>
								<span>o</span>
								<span>r</span>
								<span>k</span>
								<span>s</span> -->
							</a>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>
<div class="home_page_container main_content">
  <div class="container">

    <div class="col-lg-7 col-md-7 col-sm-7" align="center">
      <img src="/assets/home_doc.png" alt="" class="img-responsive">
    </div>
    <%= render "/home/shared/doctor_login_frontpage"%>
  </div>
</div>
<!-- video modal starts here -->
			<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
					<% if browser.mobile? %>
			    	<div class="modal-dialog">
			    <% else %>
			    	<div class="modal-dialog" style="width: 70%; height: 50%;">
			    <% end %>
			      <div class="modal-content video_model_content">
		        	<div class="modal-header" style="padding: 0 4px 0 0; min-height: none; border: none;">
								<button type="button" class="close modal-close" style=""data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							</div>
	            <div class="modal-body p-none modal-lg">
	            
	            <!-- ../eh5v.files/html5video/E-info_V3.m4v -->
	                		<!-- Start EasyHtml5Video.com BODY section -->
<!-- <style type="text/css">.easyhtml5video .eh5v_script{display:none}</style>
<div class="easyhtml5video" style="position:relative;">
<video controls="controls"  autoplay="autoplay" poster="/assets/E-info_V3.jpg" style="width:100%" title="E-info_V3">
<source src="/assets/E-info_V3.m4v" type="video/mp4" />
<source src="/assets/E-info_V3.webm" type="video/webm" />
<source src="/assets/E-info_V3.ogv" type="video/ogg" /> -->
<!-- <object type="application/x-shockwave-flash" data="/assets/flashfox.swf" width="854" height="480" style="position:relative;">
<param name="movie" value="/assets/flashfox.swf" />
<param name="allowFullScreen" value="true" />
<param name="flashVars" value="autoplay=true&controls=true&fullScreenEnabled=true&posterOnEnd=true&loop=false&poster=../eh5v.files/html5video/E-info_V3.jpg&src=E-info_V3.m4v" />
 <embed src="/assets/flashfox.swf" width="854" height="480" style="position:relative;"  flashVars="autoplay=true&controls=true&fullScreenEnabled=true&posterOnEnd=true&loop=false&poster=/assets/E-info_V3.jpg&src=E-info_V3.m4v"	allowFullScreen="true" wmode="transparent" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer_en" />
<img alt="E-info_V3" src="/assets/E-info_V3.jpg" style="position:absolute;left:0;" width="100%" title="Video playback is not supported by your browser" />
</object> -->
<!-- </video> -->
<!-- <div class="eh5v_script"><a href="http://easyhtml5video.com">html 5 video tag</a> by EasyHtml5Video.com v3.5</div></div> -->
<!-- <script src="/assets/html5ext.js" type="text/javascript"></script> -->
<!-- End EasyHtml5Video.com BODY section -->

		
	            </div>
			       </div>
			    </div>
			</div>
			<!-- video modal ends here -->
<!-- End of Banner and Login part -->
<div class="clearfix"></div>

<!-- <style type="text/css">
	.easyhtml5video .eh5v_script{display:none}
</style> -->




<!-- <script type="text/javascript">
	var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/player_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var player;
        function onYouTubePlayerAPIReady() {
            player = new YT.Player('ytplayer', {
                height:'390',
                width:'640',
                videoId:'BBimem5o5G4',
                playerVars :{
                    'showinfo':0,
                    'AdSense':0
                },
                events:{
                    'onReady':onPlayerReady,
                    'onStateChange':onPlayerStateChange
                }
            });
        }

        function onPlayerReady(event) {
            _isPlayerReady = true;
        }
        function onPlayerStateChange(event) {
            switch (event.data) {
                case YT.PlayerState.ENDED:
                $j  = jQuery.noConflict();
                $j(".vid-flow").hide();
                ShowCustomDialog();
                    break;
                case YT.PlayerState.PLAYING:
                    break;
                case YT.PlayerState.PAUSED:
                    break;
                case YT.PlayerState.BUFFERING:
                    break;
                case YT.PlayerState.CUED:
                    break;
                default:
                    break;
            }
        }
</script> -->
<!-- <script type="text/javascript">    
  $(document).ready(function(){ 
    $("#how-it-works").click(function(){
      $('#myvid').get(0).play()
    });
  });
</script> -->