<div class="mail_popup_float">
    <div class="slider_float">
      <span id="closebox">X</span>
      <h4>Subscribe to our Newsletter</h4>
      <p>Stay informed with our eNewsletter.</p>
      <div class="mail-content-form">
      	<div id="subscription-notice" style="color:#4F8A10"></div>
      <%= form_for Subscriber.new, remote: true do |f| %>
        <%= f.email_field :email, placeholder: "Enter your Email Address", required: true %>
        <%= f.submit "Subscribe Now!", class: "popup_btn_float" %>
      <% end %>
      </div>
    </div>
  </div>