// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
 //
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "jquery.fileupload-ui";
@import "jplayer.blue.monday";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   body.active_admin {
//      .status_tag { background: #6090DB; }
//   }
//
// Notice that Active Admin CSS rules are nested within a
// 'body.active_admin' selector to prevent conflicts with
// other pages in the app. It is best to wrap your changes in a
// namespace so they are properly recognized. You have options
// if you e.g. want different styles for different namespaces:
//
// .active_admin       applies to any Active Admin namespace
// .admin_namespace    applies to the admin namespace (eg: /admin)
// .other_namespace    applies to a custom namespace named other (eg: /other)
body.active_admin #header {
  background: #144775;
  height: 30px;
}

body.active_admin #header h1 {
  color: white;
  font-size: 2em;
}

body.active_admin #header ul.tabs {
  color: white;
  font-size: 1.2em;
  padding-top: 4px;
}

body.active_admin #title_bar h2 {
  color: rgb(42, 42, 92);
}

body.active_admin .breadcrumb a:hover {
  font-size: 1.6em;
}

body.active_admin .breadcrumb a {
  font-size: 1.3em;
}

body.active_admin #header ul.tabs > li.current > a {
  color: white;
}
body.active_admin #header ul.tabs > li > a {
  color: white;
}

body.active_admin #header ul.tabs > li.current > a {
  background: rgb(14, 20, 54);
}

body.active_admin #title_bar .action_items a {
  background: #03112E;
  color: white;
  padding: 11px 19px;
  font-size: 17.5px;
  -webkit-border-radius: 90px;
  line-height: 20px;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body.active_admin #title_bar .action_items a:not(.disabled):hover {
  background: #0044cc;
}

body.active_admin form input{
  align-items: baseline;
  color: inheritant;
  text-align: start;
  font-size: 1.0em;
}

//*****Video Page

#stepline{ font-size: 1.5em; }


//*****Progress Bar

  .progress {
    border-radius: 10px;
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 4px;
    background-color: #1D0052;
  }
  .progress .bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    color: #fff;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #0e90d2;
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    box-sizing: border-box;
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
}

//*****Procedure


  body.active_admin table {
    margin-bottom: 1.4em;
    width: 100%;
  }
  table.gridtable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
  }
  table.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
    text-align: center;
  }
  table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
  }
  
  .has_paid {
    color: green !important;
  }
  .has_not_paid {
    color: red !important;
  }