/* css for select_plan/new.html.erb */

  .my-main { font-size: 12px; color: black; }
  .payment-button { padding-left: 5em;}
  .image-payment { margin-left: 7em; clear: both; }
  #payment-stylized { border: solid 2px #b7ddf2; padding: 5em;}
  .payment-myform { margin: 0 auto; width: 400px; padding: 14px; }
  #payment-stylized span { font-size: 14px; font-weight: bold; margin-bottom: 8px; }
  #payment-stylized p { font-size: 11px; color: #666666; margin-bottom: 20px; border-bottom: solid 1px #b7ddf2; padding-bottom: 10px; }
  #payment-stylized label { display: block; font-weight: bold; width: 140px; float: left; padding-top: 6px; }
  form { margin-bottom: 1em; display: block; margin-top: 0em; }
  #payment-stylized input { float: left; font-size: 12px; padding: 2px 2px; border: solid 1px #aacfe4; margin: 2px 0 20px 10px; box-shadow: 0 0 5px rgba(0,0,0,.3); }
  #payment-stylized button { clear: both; margin-left: 150px; width: 125px; height: 31px; background: #666666 url(img/button.png) no-repeat; text-align: center; line-height: 31px; color: #FFFFFF; font-size: 11px; font-weight: bold; }
  #payment-stylized .payment-small { color: #666666; display: block; font-size: 11px; font-weight: normal; text-align: right; width: 140px; }
  .payment-btn-primary { background-image: none; border-radius: 0px; color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,0.25); background-color: #006dcc; margin: 0; width: 8em; font-size: 15px; padding-left: 11em; }
  .payment-spacer { padding-left: 12em; }
  #line { border-bottom: #828282 1px solid; }
