.custom-notice
{
  color: #ff0000;
  font-size: 15px;
}
.login-error
{
  position: relative;
}
.link_look
{
  color :#4315C2;
  text-decoration: underline;
}
.error{
  color: #ff0000;
}

.login-error span
{
  color: #ff0000;
  position: absolute;
  right: 0;
  text-align: right;
  top: 60px;
  font-size: 12px;
}
.blue_btn {
  -webkit-border-radius: 16px !important;
  -moz-border-radius: 16px !important;
  -ms-border-radius: 16px  !important;
  -o-border-radius: 16px  !important;
  background-color: #0f97d1 !important;
  box-shadow: inset 10px -8px 29px rgba(0,0,0,0.16) !important;
  -moz-box-shadow: inset 10px -8px 29px rgba(0,0,0,.16) !important;
  -webkit-box-shadow: inset 10px -8px 29px rgba(0,0,0,.16) !important;
  -ms-box-shadow: inset 10px -8px 29px rgba(0,0,0,.16) !important;
  -o-box-shadow: inset 10px -8px 29px rgba(0,0,0,.16) !important;
}

.black_btn {
color: #ffffff !important;
border-radius: 16px !important;
border: none !important;
-webkit-border-radius: 16px !important;
background-color: #676767 !important;
box-shadow: inset 10px -8px 29px rgba(0,0,0,0.16) !important;
-webkit-box-shadow: inset 10px -8px 29px rgba(0,0,0,0.16) !important;
}
.e_msg{
   color: #ff0000 !important;
}

.large_vid {
  width: 70% !important;
  margin: 10px auto;
}

.js_error {
  padding-top: 15px;
}