/*
 * This is a manifest file that'll ` compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.

*= require bootstrap
*= require style
*= require custom_style
*= require jplayer.blue.monday.min
*= require_self
 */


/* Set plan table text */
.set-table-text{
  margin-bottom: 0 !important;
  text-align: center;
}
.success-header-color-under-form .panel-heading{
	color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.primary-header-color-under-form .panel-heading{
	color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
}

.reg-success-select-plan {
	font-size: 15px;
	/*color: green;*/
	/*padding-top: 3px;*/
	/*text-transform: initial;*/
}