@font-face {
	font-family: 'MyriadProSemibold';
	src:url('/assets/myriadpro-semibold_1.eot');
	src:url('/assets/myriadpro-semibold_1.eot') format('embedded-opentype'),
		url('/assets/myriadpro-semibold_1.woff') format('woff'),
		url('/assets/myriadpro-semibold_1.ttf') format('truetype'),
		url('/assets/myriadpro-semibold_1.svg#MyriadProSemibold') format('svg');
		font-weight: normal;
		font-style: normal;
}
@font-face {
    font-family: 'MyriadProRegular';
    src: url('/assets/myriadpro-regular_1.eot');
    src: url('/assets/myriadpro-regular_1.eot') format('embedded-opentype'),
         url('/assets/myriadpro-regular_1.woff') format('woff'),
         url('/assets/myriadpro-regular_1.ttf') format('truetype'),
         url('/assets/myriadpro-regular_1.svg#MyriadProRegular') format('svg');
		font-weight: normal;
		font-style: normal;
}
@font-face {
    font-family: 'MyriadProBold';
    src: url('/assets/myriadpro-bold_1.eot');
    src: url('/assets/myriadpro-bold_1.eot') format('embedded-opentype'),
         url('/assets/myriadpro-bold_1.woff') format('woff'),
         url('/assets/myriadpro-bold_1.ttf') format('truetype'),
         url('/assets/myriadpro-bold_1.svg#MyriadProBold') format('svg');
		font-weight: normal;
		font-style: normal;
}
@font-face {
    font-family: 'MyriadProItalic';
    src: url('/assets/myriadpro-it_1.eot');
    src: url('/assets/myriadpro-it_1.eot') format('embedded-opentype'),
         url('/assets/myriadpro-it_1.woff') format('woff'),
         url('/assets/myriadpro-it_1.ttf') format('truetype'),
         url('/assets/myriadpro-it_1.svg#MyriadProItalic') format('svg');
		font-weight: normal;
		font-style: normal;
}
@font-face {
    font-family: 'MyriadProBoldItalic';
    src: url('/assets/myriadpro-boldit_1.eot');
    src: url('/assets/myriadpro-boldit_1.eot') format('embedded-opentype'),
         url('/assets/myriadpro-boldit_1.woff') format('woff'),
         url('/assets/myriadpro-boldit_1.ttf') format('truetype'),
         url('/assets/myriadpro-boldit_1.svg#MyriadProBoldItalic') format('svg');
		font-weight: normal;
		font-style: normal;
}
@font-face {
    font-family: 'CalibriRegular';
    src: url('/assets/calibri-webfont.eot');
    src: url('/assets/calibri-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/calibri-webfont.woff') format('woff'),
         url('/assets/calibri-webfont.ttf') format('truetype'),
         url('/assets/calibri-webfont.svg#CalibriRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CalibriBold';
    src: url('/assets/calibrib-webfont.eot');
    src: url('/assets/calibrib-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/calibrib-webfont.woff') format('woff'),
         url('/assets/calibrib-webfont.ttf') format('truetype'),
         url('/assets/calibrib-webfont.svg#CalibriBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SignericaThinRegular';
    src: url('/assets/signerica_thin.eot');
    src: url('/assets/signerica_thin.eot') format('embedded-opentype'),
         url('/assets/signerica_thin.woff') format('woff'),
         url('/assets/signerica_thin.ttf') format('truetype'),
         url('/assets/signerica_thin.svg#SignericaThinRegular') format('svg');
}
@font-face {
    font-family: 'SignericaMediumRegular';
    src: url('/assets/signerica_medium.eot');
    src: url('/assets/signerica_medium.eot') format('embedded-opentype'),
         url('/assets/signerica_medium.woff') format('woff'),
         url('/assets/signerica_medium.ttf') format('truetype'),
         url('/assets/signerica_medium.svg#SignericaMediumRegular') format('svg');
}
@font-face {
    font-family: 'SignericaFatRegular';
    src: url('/assets/signerica_fat.eot');
    src: url('/assets/signerica_fat.eot') format('embedded-opentype'),
         url('/assets/signerica_fat.woff') format('woff'),
         url('/assets/signerica_fat.ttf') format('truetype'),
         url('/assets/signerica_fat.svg#SignericaFatRegular') format('svg');
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}
.container {
  max-width: 1000px;
	padding:0;
}
video {
	width: 100% !important;
	height: auto !important;


}
body {
	background-color:#fff;
	height: 100%;
	color:#606060;
	font-family: 'MyriadProRegular', Arial, Helvetica, sans-serif;

}
a { outline:none !important; }
a:hover { text-decoration:none; }
textarea:focus, input:focus{ outline: none !important; }

.header_wrap {
	margin-top:10px;
}
.header_contact span {
	float:right;
	margin-top:5px;
	color:#606060;
	font-size:17px;
	font-family:'MyriadProSemibold';
}
.header_contact span img {
	margin-right:5px;
	margin-top:-3px;
}
.header_contact span a {
	color:#606060;
}
.header_btns {
	clear:both;
	float:right;
	margin-top:10px;
}
.header_btns a {
	margin-right:5px;
}
.blue_btn {
	font-size:17px;
	font-size:14px/9;
	color:#ffffff;
	font-family: 'MyriadProRegular';
	padding:5px 20px;
	padding:5px 18px\9;
	border-radius: 16px;
	border:none;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	-ms-border-radius: 16px;
	-o-border-radius: 16px;
	background-clip: padding-box;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	-ms-background-clip: padding-box;
	-o-background-clip: padding-box;
	background-color: #0f97d1;
	box-shadow: inset 10px -8px 29px rgba(0,0,0,.16);
	-moz-box-shadow: inset 10px -8px 29px rgba(0,0,0,.16);
	-webkit-box-shadow: inset 10px -8px 29px rgba(0,0,0,.16);
	-ms-box-shadow: inset 10px -8px 29px rgba(0,0,0,.16);
	-o-box-shadow: inset 10px -8px 29px rgba(0,0,0,.16);

}
.blue_btn:hover {
	color:#fff;
	text-decoration:none;
	background-color:#097fb2;
}
.blue_btn:focus {
	color:#fff;
	text-decoration:none;
}
.blue_btn:active {
	box-shadow: inset 3px 3px 2px rgba(0,0,0,.16);
	-moz-box-shadow: inset 3px 3px 2px rgba(0,0,0,.16);
	-webkit-box-shadow: inset 3px 3px 2px rgba(0,0,0,.16);
	-ms-box-shadow: inset 3px 3px 2px rgba(0,0,0,.16);
	-o-box-shadow: inset 3px 3px 2px rgba(0,0,0,.16);
}
.black_btn {
	font-size:17px;
	color:#ffffff;
	font-family: 'MyriadProRegular';
	padding:5px 20px;
	border-radius: 16px;
	border:none;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	-ms-border-radius: 16px;
	-o-border-radius: 16px;
	background-clip: padding-box;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	-ms-background-clip: padding-box;
	-o-background-clip: padding-box;
	background-color: #676767;
	box-shadow: inset 10px -8px 29px rgba(0,0,0,.16);
	-moz-box-shadow: inset 10px -8px 29px rgba(0,0,0,.16);
	-webkit-box-shadow: inset 10px -8px 29px rgba(0,0,0,.16);
	-ms-box-shadow: inset 10px -8px 29px rgba(0,0,0,.16);
	-o-box-shadow: inset 10px -8px 29px rgba(0,0,0,.16);
}
.black_btn:hover {
	color:#fff;
	text-decoration:none;
	background-color:#464646;
}
.black_btn:focus {
	color:#fff;
	text-decoration:none;
}
.black_btn:active {
	box-shadow: inset 3px 3px 2px rgba(0,0,0,.16);
	-moz-box-shadow: inset 3px 3px 2px rgba(0,0,0,.16);
	-webkit-box-shadow: inset 3px 3px 2px rgba(0,0,0,.16);
	-ms-box-shadow: inset 3px 3px 2px rgba(0,0,0,.16);
	-o-box-shadow: inset 3px 3px 2px rgba(0,0,0,.16);
}

.navbar {
	margin-bottom:0;
	margin-top:20px;
}
.navbar-brand {
	display:none;
}
.navbar-default {
	background-color:#fff;
	border-radius:0;
	border-top:1px dashed #ccc;
	border-bottom:1px dashed #ccc;
	border-left:none;
	border-right:none;
}
.navbar-collapse {
	padding-left:0;
	padding-right: 0px !important;
}
.navbar-nav > li > a {
	padding-top:15px;
	padding-bottom:15px;
	font-size:16px;
	color:#5b6063;
	font-family:'MyriadProBold';
	text-transform:uppercase;
}
.nav > li > a {
	padding-left:15px !important;
	padding-right:15px !important;
	padding-left:16px\9;
	padding-right:16px\9;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color:#fff;
	color:#0e8bc2;
}
.nav > li > a:hover {
	background-color:#f8f8f8 !important;
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}

.home_page_container {
	float:left;
	width:100%;
	background-color: #13417b;
	box-shadow: inset -5px -21px 152px rgba(0,1,1,.5);
	-moz-box-shadow: inset -5px -21px 152px rgba(0,1,1,.5);
	-webkit-box-shadow: inset -5px -21px 152px rgba(0,1,1,.5);
	-ms-box-shadow: inset -5px -21px 152px rgba(0,1,1,.5);
	-o-box-shadow: inset -5px -21px 152px rgba(0,1,1,.5);
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDQ4OCAxNDgiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSI1Mi4xNTA1NjQwNjIyMzEyJSIgY3k9Ii01LjcxNTM4NTU1MDQ2OCUiIHI9Ijc1JSIgPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNTdhZmU1IiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMTk3M2MzIiBzdG9wLW9wYWNpdHk9IjEiLz4KPC9yYWRpYWxHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSI0ODgiIGhlaWdodD0iMTQ4IiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=);
	background-image: -moz-radial-gradient(52% -6%, circle, #57afe5 0%, #1973c3 100%);
	background-image: -o-radial-gradient(52% -6%, 222px 222px, #57afe5 0%, #1973c3 100%);
	background-image: -webkit-radial-gradient(52% -6%, 222px 222px, #57afe5 0%, #1973c3 100%);
	background-image: radial-gradient(52% -6%, 222px 222px, #57afe5 0%, #1973c3 100%);
}
.home_login_wrap h3 {
	color:#fff;
	text-transform:uppercase;
	font-size:25px;
	font-family: 'MyriadProBold';
	letter-spacing:1px;
	text-align:right;
}
.home_login_wrap form {
	padding-left:45px;
}
.home_login_wrap label {
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
}
.input_txt {
	border: 1px solid #ddd;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	background-clip: padding-box;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	-ms-background-clip: padding-box;
	-o-background-clip: padding-box;
	background-color: #fff;
	box-shadow: inset 0 -6px 0 rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 -6px 0 rgba(0,0,0,.05);
	-webkit-box-shadow: inset 0 -6px 0 rgba(0,0,0,.05);
	height:35px;
}
.forgot_pw {
	color:#fff;
	margin:6px 0 0 4px;
	font-size:13px;
	float:left;
	text-decoration:underline;
}
.forgot_pw:hover {
	color:#fff;
}
.hp_banner_btn {
	color:#fff;
	font-size:17px;
	font-family:Arial, Helvetica, sans-serif;
	padding:11px 30px;
	border: 1px solid #013070;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	background-clip: padding-box;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	-ms-background-clip: padding-box;
	-o-background-clip: padding-box;
	background-color: #33373b;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.16);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.16);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.16);
	-ms-box-shadow: inset 0 1px 0 rgba(255,255,255,.16);
	-o-box-shadow: inset 0 1px 0 rgba(255,255,255,.16);
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDE3MyA0NyIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDA2OGZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMmE5YmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxNzMiIGhlaWdodD0iNDciIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
	background-image: -moz-linear-gradient(bottom, #0068ff 0%, #2a9bff 100%);
	background-image: -o-linear-gradient(bottom, #0068ff 0%, #2a9bff 100%);
	background-image: -webkit-linear-gradient(bottom, #0068ff 0%, #2a9bff 100%);
	background-image: linear-gradient(bottom, #0068ff 0%, #2a9bff 100%);

}
.hp_banner_btn:hover {
	box-shadow: inset 0 1px 0 rgba(255,255,255,.16);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.16);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.16);
	-ms-box-shadow: inset 0 1px 0 rgba(255,255,255,.16);
	-o-box-shadow: inset 0 1px 0 rgba(255,255,255,.16);
	background-color: #33373b;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDE3MyA0NyIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMmE5YmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDA2OGZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxNzMiIGhlaWdodD0iNDciIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
	background-image: -moz-linear-gradient(bottom, #2a9bff 0%, #0068ff 100%);
	background-image: -o-linear-gradient(bottom, #2a9bff 0%, #0068ff 100%);
	background-image: -webkit-linear-gradient(bottom, #2a9bff 0%, #0068ff 100%);
	background-image: linear-gradient(bottom, #2a9bff 0%, #0068ff 100%);
}
.hp_banner_btn:active {
	box-shadow: inset 1px 1px 2px #000;
	-moz-box-shadow: inset 1px 1px 2px #000;
	-webkit-box-shadow: inset 1px 1px 2px #000;
	-ms-box-shadow: inset 1px 1px 2px #000;
	-o-box-shadow: inset 1px 1px 2px #000;
}
.new_subscriber_title {
	text-transform:capitalize !important;
	text-align:center !important;
	font-family: 'MyriadProSemibold'!important;
	font-size:30px !important;
	margin-bottom:30px;
}
.banner_subscribe {
	color:#0e8dc4;
	font-size:28px;
	text-decoration:none;
	text-transform:uppercase;
	font-family:Arial, Helvetica, sans-serif;
	padding:12px 25px;
	border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	-webkit-border-radius:10px;
	-ms-border-radius:10px;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-background-clip: padding-box;
	-ms-background-clip: padding-box;
	-o-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-color: #fff;
	box-shadow: 0 3px 1px 1px rgba(0,0,1,.17), inset 0 13px 29px rgba(0,0,0,.16);
	-moz-box-shadow: 0 3px 1px 1px rgba(0,0,1,.17), inset 0 13px 29px rgba(0,0,0,.16);
	-webkit-box-shadow: 0 3px 1px 1px rgba(0,0,1,.17), inset 0 13px 29px rgba(0,0,0,.16);
	-ms-box-shadow: 0 3px 1px 1px rgba(0,0,1,.17), inset 0 13px 29px rgba(0,0,0,.16);
	-o-box-shadow: 0 3px 1px 1px rgba(0,0,1,.17), inset 0 13px 29px rgba(0,0,0,.16);
	text-align:center;
}
.banner_subscribe:hover {
	color:#0e8dc4;
	text-decoration:none;
	box-shadow: 0 3px 1px 1px rgba(0,0,1,.17), inset -10px 9px 29px rgba(0,0,0,.16);
	-moz-box-shadow: 0 3px 1px 1px rgba(0,0,1,.17), inset -10px 9px 29px rgba(0,0,0,.16);
	-webkit-box-shadow: 0 3px 1px 1px rgba(0,0,1,.17), inset -10px 9px 29px rgba(0,0,0,.16);
	-ms-box-shadow: 0 3px 1px 1px rgba(0,0,1,.17), inset -10px 9px 29px rgba(0,0,0,.16);
	-o-box-shadow: 0 3px 1px 1px rgba(0,0,1,.17), inset -10px 9px 29px rgba(0,0,0,.16);
}
.banner_subscribe:active {
	color:#0e8dc4;
	box-shadow: inset 2px 3px 7px rgba(0,0,0,.53);
	-moz-box-shadow: inset 2px 3px 7px rgba(0,0,0,.53);
	-webkit-box-shadow: inset 2px 3px 7px rgba(0,0,0,.53);
	-ms-box-shadow: inset 2px 3px 7px rgba(0,0,0,.53);
	-o-box-shadow: inset 2px 3px 7px rgba(0,0,0,.53);
	text-decoration:none;
}
.hp_content_wrap {
	background-color:#f0f0f0;
	padding-bottom:25px;
	box-shadow: inset 8px -3px 24px rgba(0,1,1,.17);
	-moz-box-shadow: inset 8px -3px 24px rgba(0,1,1,.17);
	-webkit-box-shadow: inset 8px -3px 24px rgba(0,1,1,.17);
	-ms-box-shadow: inset 8px -3px 24px rgba(0,1,1,.17);
	-o-box-shadow: inset 8px -3px 24px rgba(0,1,1,.17);
}
.hp_box_wrap {
	position:relative;
	min-height:336px;
	margin-top:-35px;
	height:auto;
	background-color: #fff;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMDAgMzM2IiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImhhdDAiIGdyYWRpZW50VW5pdHM9Im9iamVjdEJvdW5kaW5nQm94IiB4MT0iNTAlIiB5MT0iMTAwJSIgeDI9IjUwJSIgeTI9Ii0xLjQyMTA4NTQ3MTUyMDJlLTE0JSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNlZmVmZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMDAiIGhlaWdodD0iMzM2IiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=);
	background-image: -moz-linear-gradient(bottom, #efefef 0%, #fff 100%);
	background-image: -o-linear-gradient(bottom, #efefef 0%, #fff 100%);
	background-image: -webkit-linear-gradient(bottom, #efefef 0%, #fff 100%);
	background-image: linear-gradient(bottom, #efefef 0%, #fff 100%);
}
.left_shadow {
	position:absolute;
	left:-18px;
	top:-1px;
}
.right_shadow {
	position:absolute;
	right:-18px;
	top:-1px;
}
.hp_box_wrap h2 {
	margin-top:8px;
	margin-bottom:0;
	font-size:25px;
	font-family:'MyriadProRegular';
	font-weight:bold;
	text-transform:uppercase;
}
.hp_box {
	min-height:350px;
	margin-top:16px;
	border: 1px solid #d8d8d8;
	background-color: #efefef;
	box-shadow: inset 0 0 5px rgba(255,255,255,.63);
	-moz-box-shadow: inset 0 0 5px rgba(255,255,255,.63);
	-webkit-box-shadow: inset 0 0 5px rgba(255,255,255,.63);
	-ms-box-shadow: inset 0 0 5px rgba(255,255,255,.63);
	-o-box-shadow: inset 0 0 5px rgba(255,255,255,.63);
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDIyNiAzNTMiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iNDYlIiBzdG9wLWNvbG9yPSIjZTdlN2U3IiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmFmYWZhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIyMjYiIGhlaWdodD0iMzUzIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=);
	background-image: -moz-linear-gradient(bottom, #f9f9f9 0%, #e7e7e7 45.65%, #fafafa 100%);
	background-image: -o-linear-gradient(bottom, #f9f9f9 0%, #e7e7e7 45.65%, #fafafa 100%);
	background-image: -webkit-linear-gradient(bottom, #f9f9f9 0%, #e7e7e7 45.65%, #fafafa 100%);
	background-image: linear-gradient(bottom, #f9f9f9 0%, #e7e7e7 45.65%, #fafafa 100%);

}
.box_round_icon {
	width: 115px;
	height: 115px;
	margin-top:20px;
	margin-bottom:10px;
	border-radius: 57px / 58px;
	-moz-border-radius: 57px / 58px;
	-webkit-border-radius: 57px / 58px;
	-ms-border-radius: 57px / 58px;
	-o-border-radius: 57px / 58px;
	background-clip: padding-box;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	-ms-background-clip: padding-box;
	-o-background-clip: padding-box;
	background-color: #017dad;
	box-shadow: inset 0 -3px 0 #adcfe5;
	-moz-box-shadow: inset 0 -3px 0 #adcfe5;
	-webkit-box-shadow: inset 0 -3px 0 #adcfe5;
	-ms-box-shadow: inset 0 -3px 0 #adcfe5;
	-o-box-shadow: inset 0 -3px 0 #adcfe5;
	position:relative;
	-webkit-transition: all 900ms ease;
	-moz-transition: all 900ms ease;
	-ms-transition: all 900ms ease;
	-o-transition: all 900ms ease;
	transition: all 900ms ease;

}
.box_round_icon:hover {
	background-clip: padding-box;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-color: #006e98;
	-webkit-transition: all 900ms ease;
	-moz-transition: all 900ms ease;
	-ms-transition: all 900ms ease;
	-o-transition: all 900ms ease;
	transition: all 900ms ease;
	box-shadow: inset 3px 2px 4px #025a7c;
	-moz-box-shadow: inset 3px 2px 4px #025a7c;
	-webkit-box-shadow: inset 3px 2px 4px #025a7c;
	-ms-box-shadow: inset 3px 2px 4px #025a7c;
	-o-box-shadow: inset 3px 2px 4px #025a7c;
}
.box_round_icon img {
	position:absolute;
	top:50%;
	margin-top:-25px;
	left:50%;
	margin-left:-25px;
}
.hp_box span {
	font-family:'MyriadProRegular';
	font-weight:bold;
	font-size:18px;
	line-height:18px;
	color:#606363;
}
.hp_box p {
	font-family:'MyriadProRegular';
	font-size:14px;
	color:#606363;
	line-height:17px;
}
.testimonials_wrap {
	background:url(/assets/map_bg.png) no-repeat center center #fff;
	min-height:310px;
	height:auto;
}
.testimonials_box {
	margin-top:20px;
}
.testimonials_box h2 {
	font-family:'MyriadProRegular';
	margin-top:0;
	font-weight:bold;
	font-size:24px;
	color:#616161;
	text-transform:uppercase;
}
.testimonials_devider {
	border-right:1px solid #ccc;
}
.testimonials_box p {
	font-family:'MyriadProItalic';
	font-size:16px;
	color:#616161;
	line-height:24px;
}
.testimonials_box p:before {
	content:url(/assets/testimonials_icon.png);
}
.testimonials_box div {
	text-align:right;
	font-family: 'MyriadProBoldItalic';
	font-size:17px;
	color:#616161;
	width:100%;
}
.footer_wrap {
	background-color:#444444;
	min-height:95px;
	height:auto;
	margin-top:20px;
}
.footer_nav {
	color:#e4e4e4;
	font-size:14px;
	font-family:'MyriadProRegular';
	/*margin-top:30px;*/
	position: relative !important;
}
.footer_nav a {
	color:#e4e4e4;
	font-family:'MyriadProRegular';
}
.footer_nav a:hover {
	text-decoration:none !important;
}
.footer_nav a:focus {
	text-decoration:none;
}
.footer_nav span {
	width: 25% !important;
	float: left;
	text-align: center;
	position: absolute;
	right: 0;
	left: inherit !important;
	top: 30px;
}
.footer_nav a {
	position: absolute;
	left: 0;
	top: 30px;
}
.user_header_wrap {
	padding:10px 0;
	background-color: #f3f3f3;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDIzOSA3MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZTNlM2UzIiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjNmM2YzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIyMzkiIGhlaWdodD0iNzAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
	background-image: -moz-linear-gradient(bottom, #e3e3e3 0%, #f3f3f3 100%);
	background-image: -o-linear-gradient(bottom, #e3e3e3 0%, #f3f3f3 100%);
	background-image: -webkit-linear-gradient(bottom, #e3e3e3 0%, #f3f3f3 100%);
	background-image: linear-gradient(bottom, #e3e3e3 0%, #f3f3f3 100%);
}
.user_header_wrap img {
	float:left;
}
.user_sub_header {
	background-color:#098dba;
	color:#fff;
	font-family:Tahoma, Geneva, sans-serif;
}
.user_sub_header span {
	font-size:22px;
}
.user_sub_header p {
	font-size:14px;
}
.user_sub_header a {
	color:#fff;
	text-decoration:none;
}
.user_sub_header a:hover {
	color:#fff;
	text-decoration:underline;
}
.sub_header_left {
	float:left;
	text-align:left;
}
.sub_header_right {
	width:250px;
	float:right;
	text-align:left;
}
.user_container {
	background:url(/assets/patient_login_bg.jpg) no-repeat center center #fff;
	background-size:cover;
	min-height:640px;
	height:auto;
}
.patient_login_box {
	float:right;
	background:url(/assets/semi_transparent_bg.png) repeat;
	margin-top:80px;
	min-width:408px;
	min-height:320px;
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	-ms-border-radius: 9px;
	-o-border-radius: 9px;
	background-clip: padding-box;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	-ms-background-clip: padding-box;
	-o-background-clip: padding-box;
}
.patient_login_box h1 {
	font-family: 'CalibriRegular';
	font-size:45px;
	font-weight:bold;
	color:#ffffff;
	text-align:center;
	text-transform:uppercase;
	border-bottom:3px solid #fff;
	margin-top:0px;
	box-shadow: 0 1px 0px rgba(0,0,0,.65);
	-moz-box-shadow: 0 1px 0px rgba(0,0,0,.65);
	-webkit-box-shadow: 0 1px 0px rgba(0,0,0,.65);
	-ms-box-shadow: 0 1px 0px rgba(0,0,0,.65);
	-o-box-shadow: 0 1px 0px rgba(0,0,0,.65);
	text-shadow: 0 0px 3px rgba(0,0,0,.75);
	-moz-text-shadow: 0 2px 3px rgba(0,0,0,.75);
	-webkit-text-shadow: 0 2px 3px rgba(0,0,0,.75);
	-ms-text-shadow: 0 2px 3px rgba(0,0,0,.75);
	-o-text-shadow: 0 2px 3px rgba(0,0,0,.75);
}
.user_footer {
	margin-top:0;
}
.patient_login_box p {
	font-family: 'CalibriRegular';
	font-size:26px;
	font-weight:bold;
	color:#ffffff;
	text-align:center;
	text-shadow: 0 2px 0 rgba(0,0,0,.27);
	-moz-text-shadow: 0 2px 0 rgba(0,0,0,.27);
	-webkit-text-shadow: 0 2px 0 rgba(0,0,0,.27);
	-ms-text-shadow: 0 2px 0 rgba(0,0,0,.27);
	-o-text-shadow: 0 2px 0 rgba(0,0,0,.27);
	margin-top:30px;
}
.patient_login_box form {
	padding:0 20px;
}
.patient_login_box input {
	border-radius:0;
	margin-top:20px;
	height:40px;
	font-family:'CalibriRegular';
	font-weight:bold;
	font-size:18px;
	color:#848484;
}
.login_leave_btn {
	float:left;
	color:#098dba !important;
	font-size:24px !important;
	font-family:'CalibriRegular';
	font-weight:bold;
	width:120px;
	padding:5px 20px;
	border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	-webkit-border-radius: 4px !important;
	-ms-border-radius: 4px !important;
	-o-border-radius: 4px !important;
	background-clip: padding-box;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	-ms-background-clip: padding-box;
	-o-background-clip: padding-box;
	background-color: #fff;
	box-shadow: 0 3px 1px 1px rgba(0,0,1,.17), inset 0 13px 29px rgba(0,0,0,.16);
	-moz-box-shadow: 0 3px 1px 1px rgba(0,0,1,.17), inset 0 13px 29px rgba(0,0,0,.16);
	-webkit-box-shadow: 0 3px 1px 1px rgba(0,0,1,.17), inset 0 13px 29px rgba(0,0,0,.16);
	-ms-box-shadow: 0 3px 1px 1px rgba(0,0,1,.17), inset 0 13px 29px rgba(0,0,0,.16);
	-o-box-shadow: 0 3px 1px 1px rgba(0,0,1,.17), inset 0 13px 29px rgba(0,0,0,.16);
}
.login_go_btn {
	float:right;
	color:#fff !important;
	font-size:24px !important;
	font-family:'CalibriRegular';
	font-weight:bold;
	width:120px;
	padding:5px 20px;
	border-color:transparent;
	border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	-webkit-border-radius: 4px !important;
	-ms-border-radius: 4px !important;
	-o-border-radius: 4px !important;
	background-clip: padding-box;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	-ms-background-clip: padding-box;
	-o-background-clip: padding-box;
	background-color: #0f97d1;
	box-shadow: 0 3px 1px 1px rgba(0,0,1,.17), inset 0 13px 29px rgba(0,0,0,.16);
	-moz-box-shadow: 0 3px 1px 1px rgba(0,0,1,.17), inset 0 13px 29px rgba(0,0,0,.16);
	-webkit-box-shadow: 0 3px 1px 1px rgba(0,0,1,.17), inset 0 13px 29px rgba(0,0,0,.16);
	-ms-box-shadow: 0 3px 1px 1px rgba(0,0,1,.17), inset 0 13px 29px rgba(0,0,0,.16);
	-o-box-shadow: 0 3px 1px 1px rgba(0,0,1,.17), inset 0 13px 29px rgba(0,0,0,.16);
	text-shadow: 0 1px 1px #04377d;
	-moz-text-shadow: 0 1px 1px #04377d;
	-webkit-text-shadow: 0 1px 1px #04377d;
	-ms-text-shadow: 0 1px 1px #04377d;
	-o-text-shadow: 0 1px 1px #04377d;
}
.disclaimer_container {
	background:url(/assets/disclaimer_bg.jpg) no-repeat center center #fff;
	background-size:cover;
	min-height:760px;
	height:auto;
}
.disclaimer_wrap {
	/*border:1px solid #ccc;*/
	margin-top: 15px;
}
.disclaimer_title {
	position:relative;
	font-family:'CalibriRegular';
	font-weight:bold;
	color:#fff;
	text-transform:uppercase;
	line-height:42px;
	text-indent:20px;
	font-size:17px;
	height: 44px;
	background-color: #298b43;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDIwNSA0NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMGY5NWM1IiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMTNiZmRkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIyMDUiIGhlaWdodD0iNDQiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
	background-image: -moz-linear-gradient(bottom, #0f95c5 0%, #13bfdd 100%);
	background-image: -o-linear-gradient(bottom, #0f95c5 0%, #13bfdd 100%);
	background-image: -webkit-linear-gradient(bottom, #0f95c5 0%, #13bfdd 100%);
	background-image: linear-gradient(bottom, #0f95c5 0%, #13bfdd 100%);
}
.down_arrow {
	position:absolute;
	top:25px;
	left:5px;
}
.disclaimer_box {
	background:url(/assets/white_semi_transparent.png) repeat;
	height:590px;
	overflow-y:scroll;
	border:1px solid #ccc;
}
.disclaimer_box p {
	color:#000;
	padding:0 20px;
	line-height:24px;
	font-size:16px;
	font-family:'CalibriRegular';
	font-weight:normal;
	text-align:justify;
	margin-top:20px;
	text-transform:none;
}
.agree_btn {
	margin-left:10px;
}
.patient_info_container {
	background:url(/assets/patient_info_bg.jpg) no-repeat center center #fff;
	background-size:cover;
	min-height:600px;
	height:auto;
}
.patient_info_left {
	font-size:27px;
	font-family:'CalibriRegular';
	font-weight:bold;
	color:#000000;
	text-align:left;
	margin-top:80px;
}
.patient_info_right {
	margin-top:40px;
	margin-bottom:30px;
}
.patient_info_title {
	background-color: #098db9;
	height:50px;
	color:#fff;
	text-align:center;
	font-family:'CalibriRegular';
	font-weight:bold;
	font-size:28px;
	text-transform:uppercase;
	line-height:46px;
	border-radius:1px 1px 0 0;
	-moz-border-radius:1px 1px 0 0;
	-webkit-border-radius:1px 1px 0 0;
	-ms-border-radius:1px 1px 0 0;
	-o-border-radius:1px 1px 0 0;
	border-left:2px solid #098dba;
	border-right:2px solid #098dba;
	border-top:2px solid #098dba;
}
.patient_info_box {
	background:url(/assets/white_semi_transparent.png) repeat;
	min-height:370px;
	height:100%;
	border-radius:0 0 1px 1px;
	-moz-border-radius:0 0 1px 1px;
	-webkit-border-radius:0 0 1px 1px;
	-ms-border-radius:0 0 1px 1px;
	-o-border-radius:0 0 1px 1px;
	border-left:2px solid #098dba;
	border-right:2px solid #098dba;
	border-bottom:2px solid #098dba;
}
.patient_info_line {
	padding-top:15px;
	font-family:'CalibriRegular';
	font-weight:normal;
	font-size:18px;
	color:#098dba;
}
.patient_info_line span {
	color:#000000;
	font-weight:normal;
}
.patient_info_line > div {
	margin-left:25px;
}
.patient_info_line input {
	margin-top:5px;
}
.confirmation_msg_container {
	min-height:400px;
	height:auto;
}
.modal {
	overflow-y:auto;
}
.modal-open {
	overflow-y:scroll;
}
.esignature_container {
	background:#fff;
	min-height:500px;
	height:auto;
}
.esignature_box {
	border:1px solid #ccc;
	min-height:420px;
	height:auto;
}
.esignature_title {
	margin:20px 0 0 20px;
	font-family:'CalibriRegular';
	font-size:24px;
	color:#098dba;
}
.signature_img {
	margin-top:20px;
}
.esignature_chkbox {
	font-family:'CalibriRegular';
	font-size:18px;
	color:#098dba;
	margin:30px 0 50px 0;
}
.signature_txtbox {
	border: 1px solid #cbcbcb;
	background-color: #ebebeb;
	box-shadow: inset 0 1px 5px rgba(1,2,2,.3);
	-moz-box-shadow: inset 0 1px 5px rgba(1,2,2,.3);
	-webkit-box-shadow: inset 0 1px 5px rgba(1,2,2,.3);
	-ms-box-shadow: inset 0 1px 5px rgba(1,2,2,.3);
	-o-box-shadow: inset 0 1px 5px rgba(1,2,2,.3);
	border-radius:0;
}
.sign_preview_wrap {
	background-color:#fff;
	border:5px solid #0F96C7;
	font-family: 'SignericaFatRegular';
	font-size: 30px;

}
.sign_preview_wrap label {
	margin-top:-30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#626262;
	font-weight:normal;
	text-align:center;
	width:100%;
	position: absolute;
}
.sign_preview {
	border:2px solid #0f96c7;
	background-color:#fff;
	padding:0 10px;
}
.sign_btns {
	float:right;
	margin-top:40px;
}
.sign_btns input, .sign_btns a {
	float:right;
	padding-left:50px;
	padding-right:50px;
	margin-left:10px;
}
.patient_info_line textarea {
	resize:none;
}
.info_radio {
	margin-top:0;
	margin-bottom:0;
}
.info_f_name {
	padding-left:0;
}
.info_l_name {
	padding-left:0;
	padding-right:0;
}
.dashboard_menu_wrap, .add_new_consent_wrap {
	padding-top: 20px;
}
.dashboard_menu_wrap a {
	height: 100px;
	border: 1px solid #c5c3c3;
	background-color: #25413b;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDUwIDYyIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImhhdDAiIGdyYWRpZW50VW5pdHM9Im9iamVjdEJvdW5kaW5nQm94IiB4MT0iNTAlIiB5MT0iMTAwJSIgeDI9IjUwJSIgeTI9Ii0xLjQyMTA4NTQ3MTUyMDJlLTE0JSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNlN2U3ZTciIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjUwIiBoZWlnaHQ9IjYyIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=);
	background-image: -moz-linear-gradient(bottom, #e7e7e7 0%, #f3f3f3 100%);
	background-image: -o-linear-gradient(bottom, #e7e7e7 0%, #f3f3f3 100%);
	background-image: -webkit-linear-gradient(bottom, #e7e7e7 0%, #f3f3f3 100%);
	background-image: linear-gradient(bottom, #e7e7e7 0%, #f3f3f3 100%);
	color: #4d4d4d;
	border-right: 4px solid #098DBA;
	text-transform: uppercase;
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.dashboard_menu_wrap a img {
	width: 45px;
	margin: 8px auto 0;
	float: none;
}
.dashboard_menu_wrap a:hover {
	text-decoration: none;
}
.dashboard_menu_wrap a p {
	font-size: 14px !important;
	font-family: 'MyriadProRegular';
	text-align: center;
	color: #4d4d4d;
	margin-top: 3px;
	line-height: 18px;
}
.clear_hide {
	display: none;
}
.dashboard_menu_active p {
	color: #098dba !important;
}
.dashboard_title {
	position:relative;
	font-family:'CalibriRegular';
	font-weight:bold;
	color:#fff;
	text-transform:uppercase;
	line-height:42px;
	text-indent:20px;
	font-size:17px;
	height: 45px;
	background-color: #25413b;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDg0IDU2IiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImhhdDAiIGdyYWRpZW50VW5pdHM9Im9iamVjdEJvdW5kaW5nQm94IiB4MT0iNTAlIiB5MT0iMTAwJSIgeDI9IjUwJSIgeTI9Ii0xLjQyMTA4NTQ3MTUyMDJlLTE0JSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMyZjM5NDEiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MzRmNWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9Ijg0IiBoZWlnaHQ9IjU2IiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=);
	background-image: -moz-linear-gradient(bottom, #2f3941 0%, #434f5b 100%);
	background-image: -o-linear-gradient(bottom, #2f3941 0%, #434f5b 100%);
	background-image: -webkit-linear-gradient(bottom, #2f3941 0%, #434f5b 100%);
	background-image: linear-gradient(bottom, #2f3941 0%, #434f5b 100%);
}
.normal_tbl_wrap {
	border: 1px solid #b9b9b9;
	background-color: #fff;
	box-shadow: 0 0 4px rgba(0,0,0,.08);
	-moz-box-shadow: 0 0 4px rgba(0,0,0,.08);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,.08);
	-ms-box-shadow: 0 0 4px rgba(0,0,0,.08);
	-o-box-shadow: 0 0 4px rgba(0,0,0,.08);
	min-height: 400px;
	height: auto;
	margin: 20px 0;
	padding-left: 0;
	padding-right: 0;
}
.normal_tbl_content {
	border-left: none;
	border-right: none;
	margin-top: 20px;
}
.normal_tbl_content tr {
	border: 1px solid #ccc;
}
.normal_tbl_content tr td {
	font-size: 16px;
}
.normal_tbl_content thead {
	font-size: 16px;
	font-family:'CalibriRegular';
}
.tbl_btns {
	color: #606060;
}
.tbl_btns input {
	border: none;
	padding: 0;
	background: transparent;
	color: #606060;
}
.timeout_error {
	text-align: left;
	font-family:'CalibriRegular';
	font-size: 18px;
}
.popup_close_btn {
	padding: 4px 6px !important;
	margin: 7px 5px 0 0 !important;
	color: #fff !important;
	background-color: rgba(0,0,0,.6) !important;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.75), inset 0 1px 0 rgba(16,16,17,.27);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.75), inset 0 1px 0 rgba(16,16,17,.27);
	box-shadow: 0 1px 0 rgba(255,255,255,.75), inset 0 1px 0 rgba(16,16,17,.27);
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
}
.popup_title {
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-ms-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-ms-border-radius: 5px 5px 0 0;
}
.profile_edit_wrap input, .profile_edit_wrap textarea {
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #ccc;
}
.profile_edit_wrap textarea {
	resize:none;
}
.signup_wrap {
	padding-bottom: 20px;
}
.register_title {
	font-size: 30px;
	font-family: 'MyriadProRegular';
	font-weight: bold;
	color: #5b6063;
	text-align: center;
	margin: 10px 0;
}
.step_no {
	width: 53px;
	height: 53px;
	border-radius: 27px;
	-moz-border-radius: 27px;
	-webkit-border-radius: 27px;
	-ms-border-radius: 27px;
	-o-border-radius: 27px;
	background-clip: padding-box;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	-ms-background-clip: padding-box;
	-o-background-clip: padding-box;
	background-color: #f6f6f6;
	box-shadow: inset 0 -3px 0 #bbb;
	-moz-box-shadow: inset 0 -3px 0 #bbb;
	-webkit-box-shadow: inset 0 -3px 0 #bbb;
	-ms-box-shadow: inset 0 -3px 0 #bbb;
	-o-box-shadow: inset 0 -3px 0 #bbb;
	text-align: center;
	font-family:'CalibriRegular';
	font-weight: bold;
	font-size: 38px;
	color: #a7a7a7;
	margin-top: 10px;
}
.step_no_txt {
	font-family: 'MyriadProRegular';
	font-weight: bold;
	font-size: 24px;
	color: #a7a7a7;
	text-align: center;
	width: 100%;
	margin: 5px 0 10px 0;

}
.active_step div {
	color: #0e8bc1 !important;
}
.step_wrap {
	position: relative;
}
.step_wrap:after {
	content: url(/assets/step_arrow.png);
	position: absolute;
	top: 30px;
	right: 0;
}
.agree_btn_wrap {
	margin-top: 20px;
}
.step_no img {
	text-align: center;
	width: 28px;
	margin: 0 auto;
	padding-top: 10px;
}
.second_step {
	padding-top: 40px;
	min-height: 120px !important;
	height: auto;
}
.signup_form, .signup_form_wrap {
	margin-top: 20px;
}
.signup_form label, .signup_form_wrap {
	font-family: 'CalibriRegular';
	font-weight: bold;
	font-size: 18px;
	color: #3a3938;
	text-transform: uppercase;
}
.signup_form input, .signup_form textarea {
	border: 1px solid #cbcbcb;
	background-color: #ebebeb;
	box-shadow: inset 1px 1px 4px rgba(0,0,0,.09);
	-moz-box-shadow: inset 1px 1px 4px rgba(0,0,0,.09);
	-webkit-box-shadow: inset 1px 1px 4px rgba(0,0,0,.09);
	-moz-box-shadow: inset 1px 1px 4px rgba(0,0,0,.09);
	-o-box-shadow: inset 1px 1px 4px rgba(0,0,0,.09);
	border-radius: 0;
}
.signup_form label em, .signup_form_wrap em {
	font-family: 'CalibriRegular';
	font-weight: normal;
	font-style: normal !important;
	font-size: 18px;
	color: #ff0000;
}
.signup_form textarea, .signup_form_wrap textarea {
	resize:none;
	height: 124px;
}
.signup_chkbox {
	font-weight: normal !important;
	text-transform: none !important;
	font-size: 14px !important;
}
.presentation_tabs_wrap {
	margin: 30px 20px 20px 20px;
}
.presentation_tabs_wrap ul li a {
	background-color: #eeeeee;
	color: #098DBA;
	font-size: 16px;
	font-family: 'MyriadProRegular';
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 0;
	height: 50px;
}
.presentation_tabs_wrap ul li.active a {
	background-color: #098dba;
	color: #fff;
	font-size: 16px;
	font-family: 'MyriadProRegular';
	font-weight: bold;
	text-transform: uppercase;
}
.presentation_tabs_wrap ul li {
	padding-left: 0;
	padding-right: 0;
}
.custom_tabs {
	border-bottom: 4px solid #036a8d;
}
.custom_tabs > li.active > a, .custom_tabs > li.active > a:focus {
	background-color: #098dba;
	color: #fff;
}
.custom_tabs > li > a:hover {
	background: #ededed!important;
}
.custom_tabs > li.active > a:hover {
	background: #000!important;
}
#add_patient, #select_menu, #create_code {
	background-color: #fafafa;
}
.tab_content {
	border: 1px solid #ccc;
	min-height: 375px;
	height: auto;
}
.form_devider {
	margin: 20px 0;
}
.patient_option h3 {
	font-family: 'MyriadProRegular';
	font-weight: bold;
	font-size: 28px;
	color: #0e8bc1;
	text-transform: uppercase;
}
.patient_option select {
	margin: 10px 0 20px 0;
}
.tab_form {
	margin: 10px 0 20px 0;
}
.tab_form label em {
	color: #f00;
}
.tablist_sub {
	padding-left: 2px;
}
.tablist_sub li {
	list-style: none;
}
.patient_code_box {
	margin-top: 20px;
	min-height: 200px;
	border: 2px solid #098dba;
}
.patient_code_box > .disclaimer_title {
	font-size: 26px;
}
.code_view {
	margin: 50px 0;
	padding: 5px 0;
	border-top: 1px dashed #ccc;
	border-bottom: 1px dashed #ccc;
	font-family: 'MyriadProRegular';
	font-weight: bold;
	font-size: 28px;
	background-color: #fff;
}
.patient_code_box h4 {
	font-family: 'MyriadProRegular';
	font-weight: bold;
	font-size: 28px;
	text-transform: uppercase;
	color: #098dba;
}
#select_menu h4 {
	margin-left: 20px;
	font-family: 'MyriadProRegular';
}
.presentation_wrap {
	background: url(/assets/presentation_bg.jpg) no-repeat #fafafa;
	min-height: 597px;
	height: auto;
	background-size: cover;
}
.presentation_wrap h2 {
	font-family: 'MyriadProRegular';
	font-size: 32px;
	text-align: center;
}
.presentation_wrap img {
	margin-bottom: 20px;
}
.questions_wrap {
	background: #7ab207;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM3YWIyMDciIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMTY3NzA0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(top, ellipse cover, #7ab207 -12%, #167704 100%);
	background: -webkit-gradient(radial, top top, 0px, top top, 100%, color-stop(0%, #7ab207), color-stop(100%, #167704));
	background: -webkit-radial-gradient(top, ellipse top, #7ab207 0%, #167704 100%);
	background: -o-radial-gradient(top, ellipse top, #7ab207 0%, #167704 100%);
	background: -ms-radial-gradient(top, ellipse top, #7ab207 0%, #167704 100%);
	background: radial-gradient(ellipse at top, #7ab207 0%, #167704 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ab207', endColorstr='#167704', GradientType=1 );
	height: auto;
	min-height: 150px;
	margin-top: 20px;
}
.questions_wrap h2 {
	font-family: 'MyriadProRegular';
	font-weight: bold;
	font-size: 28px;
	color: #fff;
	text-transform: uppercase;
}
.questions_wrap p {
	font-family: 'Tahoma';
	font-size: 16px;
	color: #fff;
}
.question_input {
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 10px;
}
.add_more_questions {
	padding-left: 0;
}
.add_more_questions a {
	color: #fff;
}
.questions_btns {
	float: right;
	margin: 10px 0;
}
.questions_btns a {
	margin-right: 10px;
}
.questions_wrap ul {
	margin-top: 10px;
}
.datepicker {
	z-index: 9999;
}


.panel {
	text-align: center;
}
.panel:hover {
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 5px rgba(130, 130, 130, 0.35);
}
.panel-body {
	padding: 0px;
	text-align: center;
}
.the-price {
	background-color: rgba(220,220,220,.17);
	box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #fff;
	padding: 20px;
	margin: 0;
}
.the-price h1 {
	line-height: 1em;
	padding: 0;
	margin: 0;
}
.subscript {
	font-size: 25px;
}
.panel-heading h3 {
	font-family: 'MyriadProRegular';
	font-weight: bold;
	font-size: 28px;
	margin-top: 10px !important;
}

/* CSS-only ribbon styles */
.cnrflash {
	position: absolute;
	top: -9px;
	right: 4px;
	z-index: 1;
	overflow: hidden;
	width: 100px;
	height: 100px;
	border-radius: 3px 5px 3px 0;
}
.cnrflash-inner {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 145px;
	height: 145px;
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-webkit-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.1) 50%), linear-gradient(0deg, transparent 0%, rgba(1,1,1,.2) 50%);
	background-size: 4px,auto, auto,auto;
	background-color: #aa0101;
	box-shadow: 0 3px 3px 0 rgba(1,1,1,.5), 0 1px 0 0 rgba(1,1,1,.5), inset 0 -1px 8px 0 rgba(255,255,255,.3), inset 0 -1px 0 0 rgba(255,255,255,.2);
}
.cnrflash-inner:before, .cnrflash-inner:after {
	content: " ";
	display: block;
	position: absolute;
	bottom: -16px;
	width: 0;
	height: 0;
	border: 8px solid #800000;
}
.cnrflash-inner:before {
  left: 1px;
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.cnrflash-inner:after {
  right: 0;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.cnrflash-label {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  padding-bottom: 5px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(1,1,1,.8);
  font-size: 0.95em;
  font-weight: bold;
  text-align: center;
}
.plan_wrap {
	margin-top: 40px;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.plan_wrap h3 {
	margin-top: 10px;
}
.contact_btn {
	margin-right: 15px;
}
.contact_box {
	margin: 20px 0;
	padding-bottom: 20px;
}
.contact_btn input[type="button"] {
	font-size:17px;
	color:#ffffff;
	font-family: 'MyriadProRegular';
	padding:5px 20px;
	border-radius: 16px;
	border:none;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	-ms-border-radius: 16px;
	-o-border-radius: 16px;
	background-clip: padding-box;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	-ms-background-clip: padding-box;
	-o-background-clip: padding-box;
	background-color: #0f97d1;
	box-shadow: inset 10px -8px 29px rgba(0,0,0,.16);
	-moz-box-shadow: inset 10px -8px 29px rgba(0,0,0,.16);
	-webkit-box-shadow: inset 10px -8px 29px rgba(0,0,0,.16);
	-ms-box-shadow: inset 10px -8px 29px rgba(0,0,0,.16);
	-o-box-shadow: inset 10px -8px 29px rgba(0,0,0,.16);
}
.how_word_wrap {
	background: url(/assets/how_work_bg.jpg) no-repeat;
	background-size: cover;
}
.how_work_content {
	margin: 35px 25px 10px 25px;
}
.how_work_content div {
	font-family: 'MyriadProRegular';
	font-weight: bold;
	font-size: 23px;
	color: #606363;
	margin: 20px 0;
}
.how_work_content span {
	font-family: 'MyriadProRegular';
	font-weight: bold;
	font-size: 23px;
	color: #fff;
	padding: 5px 12px;
	background-color: #8d8d8d;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	margin-right: 10px;
}
.how_work_content p {
	font-family: 'MyriadProRegular';
	font-weight: normal;
	font-size: 18px;
	color: #606363;
	margin-top: 15px;
}
.service_box {
	border:1px solid #ccc;
	padding:10px 10px 10px 25px;
	margin-top: 8px;
	border-radius:7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	background-color:#efefef;
	background-image:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDk2MCAxMzAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iOTYwIiBoZWlnaHQ9IjEzMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
	background-image:-moz-linear-gradient(bottom, #e5e5e5 0%, #f8f8f8 100%);
	background-image:-o-linear-gradient(bottom, #e5e5e5 0%, #f8f8f8 100%);
	background-image:-webkit-linear-gradient(bottom, #e5e5e5 0%, #f8f8f8 100%);
	background-image:linear-gradient(bottom, #e5e5e5 0%, #f8f8f8 100%);
	font-family: 'CalibriRegular';
	font-size: 17px;
	color: #5b6063;
}
.service_box_wrap {
	padding-left: 20px;
	padding-right: 20px;
	margin: 30px 0;
}
.service_box ul {
	padding-left: 5px;
	margin-top: 10px;
}
.service_box ul li {
	list-style: none;
	background: url(/assets/sml_right_arrow.png) no-repeat 2px 10px;
	padding-left: 30px;
	line-height: 30px;
}
.services_btns {
	margin-right: 20px;
}
.services_btns input {
	margin-bottom: 20px;
}
.registration_msg_wrap {
	margin: 30px 0 0 0;
}
.card_no_wrap div {
	padding-left: 0;
	padding-right: 0;
}
.payment_btn input {
	margin-left: 20px;
}
.login_popup_wrap {
	padding: 0px;
}
.login_popup_footer {
	margin-top: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}
.error_wrap {
	background: url(/assets/404_bg.png) repeat;
	min-height: 500px;
}
.error-template {
	padding: 40px 15px;
	text-align: center;
}
.error-actions {
	margin-top:15px;
	margin-bottom:15px;
}
.error-actions .btn {
	margin-right:10px;
}
.about_box_wrap {
	margin-top: 20px;
}
.about_box_wrap p, .about_sub_txt {
	font-family: 'CalibriRegular';
	font-size: 17px;
	color: #5b6063;
	text-align: justify;
}
.about_sub_txt {
	margin-top: 20px;
}
.about_sub_txt p {
	text-align: justify;
}
.about_content {
	margin-top: 20px;
}
.about_content span {
	font-family: 'CalibriRegular';
	font-weight: bold;
	font-size: 17px;
	color: #5b6063;
	text-transform: uppercase;
}
.about_content ul {
	margin-left: 0;
	margin-top: 10px;
	padding-left: 0;
	font-style: normal;
	font-weight: normal;
}
.about_content ul li {
	list-style: none;
	line-height: 40px;
	font-size: 17px;
	background: url(/assets/about_bullet.jpg) no-repeat 0px 6px;
	padding-left: 40px;
	margin-left: 0;
}
.about_content div {
	font-style: italic;
	font-weight: bold;
}
.forgot_pw_form {
	margin-top: 10px;
}
.pw_btns {
	margin-top: 0;
}
.forgot_pw_wrap {
	min-height: 300px;
	height: auto;
}
.pw_links {
	margin: 0px 0 20px 0;
}
.questions_close {
	color: #f00;
	opacity:1;
}
.questions_close:hover {
	color: #f00;
}
.for_ie {
	display: none\9;
}


.custom_well
	{
		border: none;
		box-shadow: none;
	}
	.custom_links
	{
		border: none;
		border-radius: 0px;
		margin-bottom: 0px;
		padding:0px;
		float: left;
	}
	.pre_link
	{
		padding-top: 10px;
	}
	.pre_link a
	{
		background-color: #4cae4c;
		color: #fff !important;
		padding-top: 5px !important;
		padding-bottom: 5px !important;
		border-radius: 4px;
		max-width: 192px;
	}
	 .pre_link a:focus
	{
		background-color: #4cae4c !important;
		color: #fff !important;
	}
	.nav .pre_link a:hover
	{
		color: #fff !important;
		background-color: #228922 !important;
	}
	
	.custom_links > div
	{
		width: 23%;
		display: inline-table;
		margin-left: 1%;
		font-family: "MyriadProRegular";
		margin-bottom: 15px;
	}
	.close_btn button
	{
		float: right;
	}
	.presentaion_menu > div > div
	{
		padding:0px !important;
	}
	.custom_links > div:first-child
	{
		
		margin-left: 3%;
	}
	.custom_links > div h5
	{
		color: #0E98D1;
		font-family: "MyriadProBold";
		margin-top: 0px;
	}

	.custom_links > div ul li 
	{
		list-style:none;
		margin-left: -37px;
		margin-top: 3px;
	}
	.custom_links > div ul li a
	{
		
		color: #777777;
		font-weight: 100;
		
	}
	.presentaion_menu
	{
		background-color: #f7f7f7;
	}
	.close_btn
	{
		width: 100%;
	}
	.close_presentaion
	{
		position: absolute;
		top: 15px;
		font-size: 20px;
		cursor: pointer;
		right: 40px;
	}

/*---- homepage video css starts here ----*/
.full-container{
	width: 100% !important;
	float: left;
}
.p-l-none{
	padding-left: 0 !important;
}
.p-r-none{
	padding-right: 0 !important;
}
.p-b-none{
	padding-bottom: 0 !important;
}
.p-t-none{
	padding-top: 0 !important;
}
.p-none{
	padding: 0 !important;
}
.btn-wrap{
	position: relative;
}
.btn-vertical{
	z-index: 1;
	position: fixed;
	left: 0;
	top: 250px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	border-color: 1px solid #013070;
	background-image: -moz-linear-gradient(bottom, #11538b 0%, #0b487f 100%);
	background-image: -o-linear-gradient(bottom, #11538b 0%, #0b487f 100%); 
	background-image: -webkit-linear-gradient(bottom, #11538b 0%, #0b487f 100%); 
	background-color: #0b487f;
}
.link-video{
	float: left;
	font-weight: bold;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
}
.link-video:hover , .link-video:focus{
	text-decoration: none;
	color: #fff;
}
.link-video span{
	display: block;
	clear: both;
}
.link-video .glyphicon{
	font-size: 22px;
	padding-bottom: 10px; 
}
.video-btn-hr{
	padding: 9px 4px 4px 4px;
	margin-top: 15px;
	max-width: 162px;
	border-top-left-radius: 7px; 
	border-top-right-radius: 7px; 
	border-color: 1px solid #013070;
	background-image: -moz-linear-gradient(bottom, #11538b 0%, #0b487f 100%);
	background-image: -o-linear-gradient(bottom, #11538b 0%, #0b487f 100%); 
	background-image: -webkit-linear-gradient(bottom, #11538b 0%, #0b487f 100%); 
	display: none;
}
.video-btn-hr a{
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}
.video-btn-hr a:hover, .video-btn-hr a:focus{
	color: #fff;
	text-decoration: none;
}
.video-btn-hr a span{
	margin-right: 6px;
}

/*---- homepage video css ends here ----*/


/*---- subscribe newsletter popup css starts here ---- */

.popup_wrap_float {
  position: relative;
}
.slider_float
{
  position: absolute;
  /*top: 200px;*/
  left:0px;
  width: 300px;
  height: 182px;
  background-color: #fcf9f4;
  border: 1px solid #857c6b;
  border-radius: 5px;
  padding: 10px 25px;
}
.mail_popup_float {
  position: fixed;
  right: -430px;
  bottom: 0;
  width: 340px;
  height: 182px;
  z-index:1000;
}
.mail_popup_float h1 {
  font-family: arial;
  color: #5c5850;
  font-size: 22px;
  margin-top: 0;
}
.mail_popup_float p {
  font-size: 12px;
  font-family: arial;
	padding: 0;
}
.mail_popup_float input {
  height: 30px;
  width: 254px !important;
  background-color: #fff;
  border: 1px solid #857c6b;
  padding: 5px;
  font-family: arial;
}
.popup_btn_float {
  background-color: #0f97d1 !important;
  color: #fff !important;
  font-size: 20px !important;
  padding: 5px !important;
  height: 40px !important;
  width: 300px !important;
  margin-top: 10px !important;
  cursor: pointer
}
.mail_popup_float span {
  position: absolute;
  font-family: arial;
  color: #857c6b;
  right: 20px;  
  cursor: pointer;
}

.free_btn {
	padding-top: 25px;
}
.or-border {
	height: 30px;
	border-bottom: 1px dashed #ccc;
}
.border-middle-content {
	color: #0f97d1;
	font-size: 45px;
	text-align: center;
}
.cancel-trial {
	font-size: large;
	text-align: right;
  padding-right: 3%;
}

#doctor_trial_period_input {
	width: 50%;
	float: left
}
#doctor_trial_period_input label {
	width: 39.5%;
}
.modal-body {
	font-size: large;
  color: #b94a48;
}
.free-trial {
	padding-right: 10px;
}

/*---- subscribe newsletter popup css ends here ---- */

/*---- Signup Acceptance Checkbox starts here ----*/

.signup_chkbox span{
	position: absolute;
	top: 26px;
	left:15px;
}

.video_model_content
{
	width: 70%;
	margin: auto;
}
.ytp-title
{
	display: none !important;
}
/*---- Signup Acceptance Checkbox starts here ----*/



/* ================================================== */
	 /* #Media Queries */
/* ================================================== */

	@media only screen and (max-width: 1200px) {
		.header_contact span, .header_btns {
			float:none;
		}
		.navbar-brand {
			display:none;
		}
		.nav > li > a {
			padding-left:20px;
			padding-right:20px;
			padding-left:16px\9;
			padding-right:16px\9;
		}
		.home_login_wrap form {
			padding-left:0px;
		}
		.forgot_pw {
			float:none;
		}
		.hp_banner_btn {
			margin-top:5px;
		}
		.hp_box_wrap {
			margin-top:-8px;
		}
		.hp_box_wrap h2 {
			padding-top:15px;
		}
		.left_shadow, .right_shadow {
			display:none;
		}
		.info_f_name {
			padding-right:inherit;
		}
		.clear_hide {
			display: none;
		}
	}

	/* For iPad Potrait device */
	@media only screen and (max-width: 1024px) and (orientation: portrait){
		.pre_link
		{
			width: 100%;
		}
		.pre_link a
		{
			margin: auto;
			margin-bottom: 15px;
			text-align: center;
			padding-top: 8px !important;
		}
	}
	/* For iPad Landscape device */
	@media only screen and (max-width: 1024px) and (orientation: landscape){

	}

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 1024px) {
		.navbar-brand {
			display:none;
		}
		.nav > li > a {
			padding-left:14px;
			padding-right:14px;
			font-size:14px;
			padding-left:12px\9;
			padding-right:12px\9;
		}
		.home_login_wrap h3 {
			font-size:20px;
		}
		.new_subscriber_title {
			font-size:20px !important;
			margin-bottom:15px !important;
		}
		.banner_subscribe {
			padding:10px 24px;
			font-size:22px;
		}
		.form_wrap {
			margin-bottom:4px;
		}
		.new_subscriber_title {
			margin-top:0;
		}
		.patient_info_line > div {
			margin-left:5px;
		}
		.patient_info_box {
			background:url(/assets/white_semi_transparent.png) repeat;
			min-height:410px;
		}
		.clear_hide {
			display: block;
		}
		.dashboard_menu_wrap a {
			height: 80px;
		}
		.step_wrap:after {
			content: url(/assets/step_arrow.png);
			position: absolute;
			top: 30px;
			right: -20px;
		}
		.step_no img {
			text-align: center;
			width: 26px;
			margin: 0 auto;
			padding-top: 12px;
		}
		.presentation_tabs_wrap ul li a, .presentation_tabs_wrap ul li.active a {
			font-size: 14px;
			padding-left: 5px;
			padding-right: 5px;
		}
		.dashboard_menu_wrap a{
			width: 25%;
		}
		
	}
	/*@media only screen and (max-width: 1023px) {
		.pre_link
		{
			width: 100%;
		}
		.pre_link a
		{
			margin: auto;
			margin-bottom: 15px;
			text-align: center;
			padding-top: 8px !important;
		}
	}*/

	@media only screen and (max-width: 990px) and (max-width: 960px) {
		.nav > li > a {
			padding-left:11px !important;
			padding-right:11px !important;
			font-size:14px;
			padding-left:8px\9;
			padding-right:8px\9;
		}
		.devider {
			display:none;
		}
		.hp_banner_btn {
			margin-bottom:20px;
		}
		.hp_box {
			min-height:280px;
		}
		.hp_box_wrap h2 {
			text-align:center;
		}
		.timeout_error {
			text-align:center;
		}
		.step_wrap:after {
			content: url(/assets/step_arrow.png);
			position: absolute;
			top: 30px;
			right: -20px;
		}
		.step_no img {
			text-align: center;
			width: 22px;
			margin: 0 auto;
			padding-top: 15px;
		}
		.presentation_tabs_wrap ul li a, .presentation_tabs_wrap ul li.active a {
			font-size: 13px;
			padding-left: 10px;
			padding-right: 10px;
		}
		.presentation_wrap {
			background: url(/assets/presentation_bg.jpg) no-repeat #fafafa;
			min-height: 240px;
		}
		.dashboard_menu_wrap a{
			width: 25%;
		}

	}
	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		.navbar-brand {
			display:none;
		}
		.nav > li > a {
			padding-left:11px !important;
			padding-right:11px !important;
			font-size:15px;
			padding-left:8px\9;
			padding-right:8px\9;
			font-size:14px\9;
		}
		.home_login_wrap h3 {
			font-size:20px;
		}
		.esignature_chkbox {
			margin-top:10px;
			margin-bottom:30px;
		}
		.sign_btns {
			margin-top:20px;
		}
		.esignature_title {
			margin-left:5px;
		}
		.presentation_wrap h2 {
			font-size: 30px;
		}
		.navbar-nav {
		  margin: 7.5px 0px !important;
		}

	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.nav > li > a {
			padding-left:30px;
			padding-right:16px;
			font-size:15px;
		}
		.header_contact {
			width:326px;
			margin:10px auto 0;
		}
		.navbar-brand {
			display:block;
			font-size:20px;
			color:#7a7a7a;
			font-family:'MyriadProBold';
		}
		.navbar-collapse.in {
			overflow-y:hidden;
		}
		.home_login_wrap h3 {
			text-align:center;
		}
		.hp_banner_btn {
			margin-bottom:10px;
		}
		.banner_subscribe {
			padding:10px 25px;
			font-size:18px;
			float: left;
			margin-bottom: 3px;
		}
		.hp_banner_btn {
			font-size:14px;
			padding:8px 30px;
		}
		.hp_box {
			min-height:200px;
		}
		.testimonials_wrap {
			background-image:none;
			background-color:#fff;
		}
		.testimonials_devider {
			border-right:none;
			border-bottom:1px solid #ccc;
			padding-bottom:12px;
		}
		.footer_nav {
			/*margin-top:10px;*/
		}
		.user_header_wrap img {
			float:none;
		}
		.sub_header_left, .sub_header_right {
			width:100%;
			float:none;
			text-align:center;
		}
		.patient_login_box {
			float:none;
		}
		.sign_preview_wrap {
			margin-top:10px;
			position: relative;
		}
		.esignature_chkbox {
			margin-top:10px;
			margin-bottom:10px;
		}
		.sign_btns {
			margin-top:20px;
			margin-bottom:20px;
		}
		.esignature_title {
			margin-left:5px;
		}
		.step_wrap:after {
			content: "";
			position: absolute;
			top: 30px;
			right: -20px;
		}
		.step_no img {
			text-align: center;
			width: 22px;
			margin: 0 auto;
			padding-top: 10px;
		}
		.presentation_tabs_wrap ul li a, .presentation_tabs_wrap ul li.active a {
			font-size: 16px;
		}
		.presentation_wrap h2 {
			font-size: 28px;
		}
		.how_work_content div {
			font-size: 20px;
		}
		.how_work_content span {
			font-size: 20px;
		}
		.how_work_content p {
			font-size: 16px;
		}
		.dashboard_menu_wrap a{
			width: 50%;
		}
		.custom_links > div
		{
			width: 48%;
			margin-left: 0;
		}
		.custom_links > div:first-child
		{
			
			margin-left: 0%;
		}
		.presentaion_menu > div > div
		{
			padding:10px;
		}
		.pre_link
		{
			width: 90%;
			margin-left: 15px !important;
			margin-bottom: 15px;
		}
		.pre_link a
		{
			width: 50%;
			text-align: center;
			float: left;

			margin-bottom: 20px;
		}
		.close_presentaion
		{
			right: 20px;
		}
		.navbar-nav {
		  margin: 7.5px 0px !important;
		}

		/* -- video btn css - home page -- */
		.btn-vertical{
			display: none;
		}
		.video-btn-hr{
			display: block;
		}
		.navbar{
			margin-top: 0;
		}
					
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.navbar-brand {
			display:block;
		}
		.navbar-nav > li > a {
			padding-top:10px;
			padding-bottom:10px;
		}
		.navbar-collapse.in {
			overflow-y:hidden;
		}
		.header_contact {
			width:330px;
			margin:10px auto 0;
		}
		.esignature_title {
			margin-left:5px;
		}
		.dashboard_title {
			font-size: 12px;
		}
		.step_no_txt {
			font-size: 16px;
		}
		.step_no {
			width: 42px;
			height: 42px;
			font-size: 26px;
		}
		.signup_left {
			margin-bottom: 0 !important;
		}
		.presentation_wrap h2 {
			font-size: 24px;
		}
		.contact_btn input {
			margin-top: 20px;
		}
		.how_work_content div {
			font-size: 18px;
		}
		.how_work_content span {
			font-size: 18px;
		}
		.how_work_content p {
			font-size: 14px;
		}
		.about_box_wrap p, .about_sub_txt {
		font-size: 14px;
		}
		.about_content span {
			font-size: 14px;
		}
		.about_content ul li {
			line-height: 30px;
			font-size: 14px;
		}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		.navbar-brand {
			display:block;
		}
		.navbar-nav > li > a {
			padding-top:10px;
			padding-bottom:10px;
		}
		.blue_btn, .black_btn {
			font-size:14px;
			padding:5px 17px;
		}
		.header_contact span {
			font-size:16px;
		}
		.header_contact {
			width:281px;
			margin:10px auto 0;
		}
		.home_login_wrap h3 {
			font-size:16px;
		}
		.user_sub_header span {
			font-size:18px;
		}
		.user_sub_header p {
			font-size:12px;
		}
		.patient_login_box {
			float:none;
			margin-top:120px;
			height:auto;
			min-width:90%;
			min-height:320px;
		}
		.patient_login_box h1 {
			font-size:30px;
		}
		.patient_login_box p {
			font-size:20px;
		}
		.patient_info_line {
			font-size:14px;
		}
		.patient_info_title {
			font-size:24px;
		}
		.patient_info_left {
			font-size:24px;
		}
		.patient_info_line > div {
			margin-left:5px;
		}
		.patient_info_box {
			min-height:375px;
		}
		.patient_info_left {
			margin-top:20px;
		}
		.patient_info_right {
			margin-top:15px;
		}
		.esignature_title {
			margin-left:5px;
		}
		.esignature_chkbox {
			margin-top:10px;
			margin-bottom:10px;
		}
		.sign_btns {
			margin-top:10px;
		}
		.dashboard_title {
			font-size: 12px;
		}
		.step_no_txt {
			font-size: 16px;
			font-weight: normal;
		}
		.step_no {
			width: 42px;
			height: 42px;
			font-size: 26px;
		}
		.step_no img {
			text-align: center;
			width: 16px;
			margin: 0 auto;
			padding-top: 10px;
		}
		.signup_left {
			margin-bottom: 0 !important;
		}
		.patient_code_box > .disclaimer_title {
			font-size: 22px;
		}
		.code_view {
			font-size: 24px;
		}
		.patient_code_box h4 {
			font-size: 24px;
		}
		.presentation_wrap h2 {
			font-size: 22px;
		}
		.plan_wrap h3 {
			font-size: 16px;
		}
		.plan_wrap h4 {
			font-size: 16px;
		}
		.contact_btn input {
			margin-top: 20px;
		}
		.how_work_content div {
			font-size: 16px;
		}
		.how_work_content span {
			font-size: 16px;
		}
		.how_work_content p {
			font-size: 12px;
		}
		.about_box_wrap p, .about_sub_txt {
		font-size: 14px;
		}
		.about_content span {
			font-size: 14px;
		}
		.about_content ul li {
			line-height: 30px;
			font-size: 14px;
		}
		.custom_links > div
		{
			width: 100%;
			margin-top: 5px;
		}
			.custom_links > div
		{
			text-align: left;
		}

		.pre_link a
		{
			width: 90%;
			text-align: center;
			font-size: 14px !important;
		}
		.footer_nav a{
			position: relative;
		}
		.footer_nav span{
			position: relative;
			width: 100% !important;
			padding-top: 15px;
		}

		.btn-vertical{
			top: 215px !important;
		}
		.free_btn {
			padding-top: 30px;
		}
		.video_model_content
		{
			width: 90%;
			/*margin: auto;*/
		}
		
	}

	/* Small Mobile devices */
	@media only screen and (max-width: 350px) {
		.blue_btn, .black_btn {
			font-size:12px;
			padding:5px 14px;
		}
		.header_contact span {
			font-size:14px;
		}
		.header_contact {
			width:246px;
			margin:10px auto 0;
		}
		.home_login_wrap h3 {
			font-size:16px;
		}
		.banner_subscribe {
			padding:10px 20px;
			font-size:15px;
		}
		.user_sub_header span {
			font-size:16px;
		}
		.user_sub_header p {
			font-size:12px;
		}
		.login_leave_btn {
			float:none;
			font-size:18px !important;
			width:80px;
			padding:5px 10px;
		}
		.login_go_btn {
			float:none;
			font-size:18px !important;
			font-weight:bold;
			width:80px;
			padding:5px 10px;
		}
		.patient_login_box input {
			font-size:14px;
		}
		.disclaimer_box p {
			text-align:left;
		}
		.patient_info_line {
			font-size:12px;
		}
		.patient_info_title {
			font-size:20px;
		}
		.patient_info_left {
			font-size:20px;
		}
		.patient_info_line > div {
			margin-left:3px;
		}
		.esignature_chkbox {
			margin-top:10px;
			margin-bottom:10px;
		}
		.sign_btns {
			margin-top:10px;
		}
		.esignature_title {
			margin-left:5px;
		}
		.sign_btns input {
			margin-top:5px;
		}
		.dashboard_title {
			font-size: 12px;
		}
		.step_no_txt {
			font-size: 14px;
			font-weight: normal;
		}
		.step_no {
			width: 30px;
			height: 30px;
			font-size: 20px;
		}
		.signup_left {
			margin-bottom: 0 !important;
		}
		.patient_code_box > .disclaimer_title {
			font-size: 18px;
		}
		.code_view {
			font-size: 20px;
		}
		.patient_code_box h4 {
			font-size: 20px;
		}
		.presentation_wrap h2 {
			font-size: 20px;
		}
		.plan_wrap h3 {
			font-size: 12px;
		}
		.plan_wrap h4 {
			font-size: 12px;
		}
		.contact_btn input {
			margin-top: 20px;
		}
		.how_work_content div {
			font-size: 14px;
		}
		.how_work_content span {
			font-size: 14px;
		}
		.how_work_content p {
			font-size: 10px;
		}
		.about_box_wrap p, .about_sub_txt {
		font-size: 14px;
		}
		.about_content span {
			font-size: 14px;
		}
		.about_content ul li {
			line-height: 30px;
			font-size: 14px;
		}
		.btn-vertical{
			top: 200px !important;
		}

	}

	/* Very Small Mobile devices */
	@media only screen and (max-width: 280px) {
		.blue_btn, .black_btn {
			font-size:12px;
			padding:5px 10px;
		}
		.home_login_wrap h3 {
			font-size:14px;
		}
		.header_contact {
			width:233px;
		}
		.banner_subscribe {
			padding:8px 20px;
			font-size:15px;
		}
		.patient_info_line {
			font-size:10px;
		}
		.patient_info_title {
			font-size:18px;
		}
		.patient_info_left {
			font-size:18px;
		}
		.patient_info_line > div {
			margin-left:2px;
		}
		.esignature_chkbox {
			margin-top:10px;
			margin-bottom:10px;
		}
		.sign_btns {
			margin-top:10px;
		}
		.esignature_title {
			margin-left:5px;
		}
		.dashboard_title {
			font-size: 12px;
		}
		.step_no_txt {
			font-size: 14px;
			font-weight: normal;
		}
		.step_no {
			width: 30px;
			height: 30px;
			font-size: 20px;
		}
		.presentation_wrap h2 {
			font-size: 18px;
		}
		.contact_btn input {
			margin-top: 20px;
		}
		.how_work_content div {
			font-size: 12px;
		}
		.how_work_content span {
			font-size: 12px;
		}
		.how_work_content p {
			font-size: 10px;
		}
		.about_box_wrap p, .about_sub_txt {
		font-size: 12px;
		}
		.about_content span {
			font-size: 12px;
		}
		.about_content ul li {
			line-height: 28px;
			font-size: 12px;
		}

	}


/*.vimeoFrame {
	width:98%;
	height:98%;
	overflow:hidden;
	margin:0 auto;
}
.vimeoFrame .vimeoXtra {
	margin-top:-100px;
}*/
/*.controls{
	display: none;
}*/
.vimeoPlayer {
	float:left;
	width: 100%;
}