// Place all the styles related to the subscription controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.current-plan-detail {
	font-size: 20px;
	text-transform: initial;
}
.current-plan-detail p {
  margin-bottom: 0px;
}
.adjust-margin {
	margin-top: 29px;
}
.show-plans {
	margin-top: 25px;
}