<%= javascript_include_tag "jquery.validate.js" %>

<script type="text/javascript">
$(document).ready(function(){

  if($('#dp6').length > 0)
  {
    $('#dp6').datepicker({
      endDate: '+0d',
      autoclose: true
    });
  }
});

  $("#sign_in1").validate({
    rules: {
      current_email: {
        required: true,

        email:true

      },
      currect_zip: {
        required: true
      }
    }
  });

$( "#sign_in1" ).validate({
  rules: {
    field: {
      required: true,
      minlength: 6
    }
  }
});
</script>

<style type="text/css">
  .error{color: #ff0000 !important;}
</style>

<%#= render "/layouts/shared/login_jquery" %>


<div class="ajax">
  <div class="row patient_info_container">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 patient_info_left">
        Please review the following information,
        make changes if necessary and acknowledge
        the information is correct.
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 patient_info_right">
        <div class="patient_info_box">
          <div class=" patient_info_title">Patient Details</div>
            <%= form_for :patient,url: update_path(@patient.id), :html => {:id => "sign_in1"} ,:remote => true do |f| %>
              <div class="patient_info_box">
                <div class="patient_info_line">
                  <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                      Patient Name :
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                      <div class="row">
                        <div class="col-lg-6 info_f_name">
                          <%= f.text_field :first_name ,:class=>"form-control signature_txtbox", :placeholder => "Enter First Name" , :required => true %>
                        </div>
                        <div class="col-lg-6 info_l_name">
                          <%= f.text_field :last_name ,:class=>"form-control signature_txtbox", :placeholder => "Enter Last Name" , :required => true %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="patient_info_line">
                  <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                      Date of Birth :
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                      <%= f.text_field :birthdate,:placeholder => "Enter Date of Birth", :id=> "dp6" ,:class=>"form-control signature_txtbox",:'data-date'=>"07/22/2013",:required => true, value: "#{@patient.birthdate.strftime("%m/%d/%Y") unless @patient.birthdate.nil?}" %>
                    </div>
                  </div>
                </div>
                <div class="patient_info_line">
                  <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                      Gender :
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="radio info_radio">
                            <label>
                            <%=f.radio_button :gender, "Male"%><%= f.label "Male",:id=>"optionsRadios1"%>
                            </label>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="radio info_radio">
                            <label>
                            <%=f.radio_button :gender, "Female"%><%= f.label "Female",:id=>"optionsRadios2"%>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="patient_info_line">
                  <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                      Address :
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                      <%= f.text_field :address ,:class=>"form-control signature_txtbox", :placeholder => "Enter Address"  , :required => true %>
                      <%= f.text_field :city ,:class=>"form-control signature_txtbox", :placeholder => "Enter City" , :required => true %>
                      <%= f.text_field :state ,:class=>"form-control signature_txtbox", :placeholder => "Enter State"  , :required => true %>
                      <%= f.text_field :zip ,:class=>"form-control signature_txtbox", :placeholder => "Enter Zip"  , :required => true %>
                    </div>
                  </div>
                </div>
                <div class="patient_info_line">
                  <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                      Phone :
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                      <%= f.text_field :phone_number,:class=>"form-control signature_txtbox" , :placeholder => "Enter Phone Number"  , :required => true %>
                    </div>
                  </div>
                </div>
                <div class="patient_info_line">
                  <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                      Email :
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                      <%= f.email_field :email,:class=>"form-control signature_txtbox", :placeholder => "Enter Email" , readonly: true %>
                    </div>
                  </div>
                </div>
                <div class="patient_info_line">
                  <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" align="center">
                      <%#= button_to "Edit Details",edit_path(@report.patient_id) ,:class=>"black_btn",:remote=>true%>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" align="center">
                      <%= f.submit "Confirm and Continue" , :class => "blue_btn" %>
                    </div>
                  </div>
                </div>
                <div class="clearfix">&nbsp;</div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
   </div>
