<%#= render "/layouts/shared/login_jquery" %>

<div class="ajax">
<div class="row patient_info_container">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 patient_info_left">
        Please review the following information,
        make changes if necessary and acknowledge
        the information is correct.
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 patient_info_right">
        <div class="patient_info_box">
          <div class=" patient_info_title">Patient Details</div>
          <div class="patient_info_box">
            <div class="patient_info_line">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-5">
                  Patient Name :
                </div>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-7 p-left-none">
                  <span><%= @patient.first_name.capitalize %> <%= @patient.last_name.capitalize %></span>
                </div>
              </div>
            </div>
            <div class="patient_info_line">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-5">
                  Date of Birth :
                </div>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-7 p-left-none">
                  <span><%= @patient.birthdate.strftime("%B, %d %Y") %></span>
                </div>
              </div>
            </div>
            <div class="patient_info_line">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-5">
                  Gender :
                </div>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-7 p-left-none">
                  <span><%= @patient.gender %></span>
                </div>
              </div>
            </div>
            <div class="patient_info_line">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-5">
                  Address :
                </div>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-7 p-left-none">
                <span>
                  <%= @patient.address %>. <br>
                  <%= @patient.city %>,<br>
                  <%= @patient.state %>, <%= @patient.zip %>.
                </span>
                </div>
              </div>
            </div>
            <div class="patient_info_line">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-5">
                  Phone :
                </div>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-7 p-left-none">
                  <span><%= @patient.phone_number %></span>
                </div>
              </div>
            </div>
            <div class="patient_info_line">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-5">
                  Email :
                </div>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-7 p-left-none truncate marquee">
                <span title="<%= @patient.email %>"><%= @patient.email %></span>
                </div>
              </div>
            </div>
            <div class="patient_info_line">
              <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" align="center">
                  <%= button_to "Edit Details",edit_path(@patient) ,:class=>"black_btn",:remote=>true%>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12" align="center">
                  <% @report_menu = @report.report_menus.sort %>
                  <%= button_to "Confirm and Continue",report_questions_path(@report_menu.first.id), :method=>:get ,:class=>"blue_btn"%>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>