<div class="access_report">
<div class="ex1"><p class="leg">Patient Edit Form<p></div>

 <%= form_for :patient,url: update_path(@patient.id), :html => {:id => "sign_in1"} ,:remote => true do |f| %>
  <div class="right-patient-info">
    <div class="add"><%= f.label "Patient Name :"%> <br><%= f.text_field :correct_first_name , :placeholder => "First Name" , :class => "text-box custom_txtbox", :required => true %> <%= f.text_field :correct_last_name , :placeholder => "Last Name", :class => "text-box custom_txtbox", :required => true  %> </div></div><br>


    <div class="gen-date">Date Of Birth : <%#= @patient.correct_birthdate.strftime("%B, %d %Y") %><%= f.text_field :correct_birthdate,:placeholder => "Date of Birth", :id => "datepicker1" , :class => "text-box custom_txtbox",:required => true%><br />
      </div>
      <div class="right-patient-info">
    Gender : <%= f.label "Male"%><%=f.radio_button :correct_gender_number, "Male"%>
    <%= f.label "Female"%><%=f.radio_button :correct_gender_number, "Female"%><br /></div>

  <div class="left-patient-info">
    <div class="add1">Address</div><br /><br/>

    <div class="add2"><%#= @patient.correct_address %><%= f.text_area :correct_address, :placeholder => "Address",:class => "textarea",:required => true %>,</div><br />
    <div class="add2"><%#= @patient.phone_number%> <%= f.hidden_field :phone_code,:placeholder => "Code",:value=> "+1" , :class => "code" %> <%= f.text_field :correct_phone_number,:placeholder => "Number", :class => "text-box custom_txtbox" ,:required => true %> ,</div><br />


    <div class="city"><%#= @patient.correct_city %>    <%= f.text_field :correct_city, :placeholder => "City", :class => "text-box custom_txtbox" ,:required => true%>,</div><br />
    <div class="state"><%#= @patient.correct_state %><%= f.text_field :correct_state,:placeholder => "State", :class => "text-box custom_txtbox",:required => true%>
      ,</div><br />
    <div class="country"><%#= @patient.correct_country %><%= f.country_select :correct_country,{priority: %w(US)}, :placeholder => "Country",:class => "dropdown-box",:required => true%></div><br />
  </div>

 <p align="center" class="save_btn" >
      <%= f.submit "Save" , :class => "blue-btn popup-btn" %>
    </p>
  <% end %>
</div>
<%= javascript_include_tag "jquery.js","jquery.validate.js" %>
<script type="text/javascript">
  $("#sign_in1").validate({
    rules: {
      current_email: {
        required: true,

        correct_email:true

      },
      currect_zip: {
        required: true
      }
    }
  });

$( "#sign_in1" ).validate({
  rules: {
    field: {
      required: true,
      minlength: 6
    }
  }
});
</script>

<style type="text/css">
.error{color: #FF0000;}
</style>



