<div class="access_report">
<div class="ex1"><p class="leg">Patient Details<p></div>

  <div class="right-patient-info"><div class="add">Patient Name : <%= @patient.correct_first_name %> <%= @patient.correct_last_name %></div><br />
    <div class="gen-date">Date Of Birth : <%= @patient.correct_birthdate.strftime("%B, %d %Y") %><br />
    Gender : <%= @patient.correct_gender_number %><br /></div>
  </div>
  <div class="left-patient-info">
    <div class="add1">Address</div><br /><br/>
    <div class="add2"><%= @patient.correct_address %>,</div><br />
    <div class="city"><%= @patient.correct_city %>,</div><br />
    <div class="state"><%= @patient.correct_state %>,</div><br />
    <div class="country"><%= @patient.correct_country %></div><br />
  </div>
  <center><%= button_to "Confirm and Continue >>","#" ,:class=>"btn btn-success btn-large cnc"%>

<%= button_to "Edit Details for Corrections >>",edit_path(@patient) ,:class=>"btn btn-success btn-large cnc"%></center>

</div>