$(".ajax").remove();
<% if @patient.errors.count == 0 %>
	$('.demo').before('<%= j render("show", :patient => @patient) %>');
<%else%>
	$('.demo').before('<%= j render("edit") %>');
<% end %>
$(".marquee").marquee({
	pauseOnHover: true
})
