<%= form_for(@doctors_testimonial) do |f| %>
  <% if @doctors_testimonial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctors_testimonial.errors.count, "error") %> prohibited this doctors_testimonial from being saved:</h2>

      <ul>
      <% @doctors_testimonial.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :doctor %><br />
    <%= f.text_field :doctor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
