<h1>Listing doctors_testimonials</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Status</th>
    <th>Doctor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @doctors_testimonials.each do |doctors_testimonial| %>
  <tr>
    <td><%= doctors_testimonial.description %></td>
    <td><%= doctors_testimonial.status %></td>
    <td><%= doctors_testimonial.doctor %></td>
    <td><%= link_to 'Show', doctors_testimonial %></td>
    <td><%= link_to 'Edit', edit_doctors_testimonial_path(doctors_testimonial) %></td>
    <td><%= link_to 'Destroy', doctors_testimonial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Doctors testimonial', new_doctors_testimonial_path %>
