<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @doctors_testimonial.description %>
</p>

<p>
  <b>Status:</b>
  <%= @doctors_testimonial.status %>
</p>

<p>
  <b>Doctor:</b>
  <%= @doctors_testimonial.doctor %>
</p>


<%= link_to 'Edit', edit_doctors_testimonial_path(@doctors_testimonial) %> |
<%= link_to 'Back', doctors_testimonials_path %>
