<div class="panel">

	<h3 id="stepline">Step 1: Add information about your video.</h3>
	<div class="panel_contents">
		<% if video.new_record?%>
			<%= semantic_form_for video, :url => upload_new_admin_video_path do |f|%>
				<% if video.errors.any? %>
          <div id="error_explanation">
            <center>
            	<h2><%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:</h2>
	            <ul>
	            	<% video.errors.full_messages.each do |msg| %>
	              	<li><b><%= msg %></b></li>
	            	<% end %>
	            </ul>
          	</center>
          </div>
        <%end%>
				<table>
					<tr style="height: 38px;">
						<td><%= f.label :speciality, "Select Speciality" %></td>
						<td><%= f.collection_select :speciality_id,Speciality.all,:id,:spe_name,{:include_blank => "Please Select" }, :onchange => remote_request(:post, :change_procedure, {:speciality_id=>"$('#video_speciality_id').val()"}, :video_procedure_id) %></td>
					</tr>
					<tr style="height: 38px;">
						<td><%= f.label :procedure, "Select Procedure" %></td>
						<td><%= f.collection_select :procedure_id, [],:id, :procedure_name,{:include_blank => "Select Procedure"} %></td>
					</tr>
					<tr>
						<td><%= f.label :title, "Video Title" %></td>
						<td><%= f.text_field :title%></td>
					</tr>
					<tr>
						<td><%= f.label :description, "Video Description" %></td>
					  <td><%= f.text_field :description %></td>
					</tr>
					<tr>
						<td><%= f.label :video_status, "Visibility Status" %></td>
						<td>
							<%=f.radio_button :video_status , true  %>&nbsp<%= f.label "Publish Now" %>&nbsp
				    	<%=f.radio_button :video_status , false %>&nbsp<%= f.label "Publish Later" %>
				    </td>
					</tr>
				</table>
				<%= submit_tag "Next" %> or <%= link_to "Cancel", admin_videos_path%>
			<% end %>
		<%else%>
			<%= form_for video, :url => admin_video_path(video) do |f| %>
				<table>
				  <tr>
						<td><%= f.label :speciality %></td>
						<td><%= f.collection_select :speciality_id,Speciality.all,:id,:spe_name,{:include_blank => "Please Select" }, :onchange => remote_request(:post, :change_procedure, {:speciality_id=>"$('#video_speciality_id').val()"}, :video_procedure_id) %></td>
					</tr>
					<tr>
						<td><%= f.label :procedure %></td>
						<td><%= f.collection_select :procedure_id, [video.procedure],:id, :procedure_name%></td>
					</tr>

					<tr>
						<td><%= f.label :title %></td>
						<td><%= f.text_field :title%></td>
					</tr>
					<tr>
						<td><%= f.label :description %></td>
					  <td><%= f.text_field :description %></td>
					</tr>
					<tr>
						<td><%= f.label :video_status %></td>
						<td>
							<%=f.radio_button :video_status , true  %>&nbsp<%= f.label "Publish" %>&nbsp
				    	<%=f.radio_button :video_status , false %>&nbsp<%= f.label "Save as Draft" %>
				    </td>
					</tr>
				</table>
				<%= submit_tag "Save" %> or <%= link_to "Cancel", admin_videos_path%>
			<% end %>
		<%end%>
	</div>
</div>