<div class="panel">
	<h3>Video Details</h3>
	<div class="panel_contents">
		<div class="attributes_table">
			<table>
				<tr>
					<th>Id</th>
					<td><%= video.id%></td>
				</tr>
				<tr>
					<th>Title</th>
					<td><%= video.title%></td>
				</tr>
				<tr>
					<th>Description</th>
					<td><%= video.description%></td>
				</tr>
				<tr>
					<th>Speciality</th>
					<td><%= video.speciality_spe_name%></td>
				</tr>
				<tr>
					<th>Procedure</th>
					<td><%= video.procedure_procedure_name%></td>
				</tr>
				<tr>
					<th>Video Status</th>
						<%if video.video_status == true%>
							<td>Publish</td>
						<%else%>
							<td>Save as draft</td>
						<%end%>
				</tr>
				<tr>
					<th>Uploaded at</th>
					<td><%= video.created_at.strftime('%H:%M%p,  %d-%m-%Y')%></td>
				</tr>
				<tr>
					<th>Updated at</th>
					<td><%= video.updated_at.strftime('%H:%M%p,  %d-%m-%Y')%></td>
				</tr>
				<tr>
					<th>Video</th>
					<td><div id="myElement"></div></td>
				</tr>
			</table>
		</div>
	</div>
</div>
<script>
    jwplayer("myElement").setup({
        file: "http://www.youtube.com/watch?v=<%= video.yt_video_id %>?modestbranding=1&amp",
    });
</script>