<div class="panel">
	<h3 id="stepline" >Step 2: Upload a new video.</h3>
	<div class="panel_contents">
		<%= form_tag @upload_info[:url], :multipart => true do %>
	    <%= hidden_field_tag :token, @upload_info[:token] %>
	    <table>	
				<tr>
					<%= file_field_tag :file, :style => "font-size: 1.5em; font-style: italic", :id=> "fupload"%>
    		</tr>
	    </table>
	    <%= submit_tag "Upload video", :id => "filesave"%>
  	<% end %>
  </div>
</div>