<div id="content-header">
 <div class="widget-title">
    <span class="icon">
      <i class="icon-info-sign"></i>
    </span>
    <h5>Report For <%= patient.first_name.capitalize %></h5>
  </div>
</div>
  <div class="main">
  <div class="scrolling-procedure-box">
    <div class="procedure-list">
     <%= form_for report_menu ,:html => { :class=>"form-horizontal"} do |f| %>
      <% procedures.each do |p| %>
        <div class="procedure-title">
          <%= p.procedure_name.upcase %>
        </div>
        <ul class="checkbox-list">
          <% p.procedure_types.each do |t| %>
          <li>
             <%= check_box_tag :procedure_types_ids, t.id, p.procedure_types.include?(t),:name => 'procedure[procedure_types_ids][]' %>
              <%= t.type_name %>
            <% end %>
          </li>
        </ul>
      <% end %>
      <%= submit_tag "Send To Patient", :class => "btn btn-primary btn-primary" %>
    <% end %>
    </div>
  </div>
</div>
</div>