<% @link = video_file_link %>

<% @mp4 = @link + ".mp4"%>
<% @webm = @link + ".webm"%>
<% @ogv = @link + ".ogv"%>
<% @png = @link + ".png" %>
<% @swf = @link + ".swf" %>

<% if browser.ie8? %>
  <script src="/assets/video.js"></script>
  <div class="back">
    <script>
      player = videojs("myvideo", {}, function(){
        this.options.flash.swf =  "<%= @swf %>";
      });
    </script>

    <video id="myvideo" class="video-js vjs-default-skin" poster="/assets/perloader.gif" controls preload="none" data-setup="{}" autoplay="autoplay" preload="auto" width="100%" height="500px">

      <source src="<%= @mp4 %>" type='video/mp4' />
      <source src="<%= @webm %>" type='video/webm' />
      <source src="<%= @ogv %>" type='video/ogg' />

      <track kind="captions" src="demo.captions.vtt" srclang="en" label="English"></track><!-- Tracks need an ending tag thanks to IE9 -->
      <track kind="subtitles" src="demo.captions.vtt" srclang="en" label="English"></track><!-- Tracks need an ending tag thanks to IE9 -->
    </video>
  </div>
  <style type="text/css">
    .back
    {
      background-color:#cccccc;
      position:relative;
    }
    .overlay1
    {
      position:absolute;
      background:url('/assets/how_work_bg.jpg') center center;
      z-index: 0;
    }
  </style>
  <% elsif browser.ie9? %>
    <script src="/assets/video.js"></script>
  <div class="back">
    <script>
      videojs("myvideo", {}, function(){
        this.options.flash.swf =  "<%= @swf %>";
      });
    </script>
      <video id="myvideo" class="video-js vjs-default-skin abc" poster="/assets/perloader.gif" controls preload="none" data-setup="{}" autoplay="autoplay" preload="auto" >

      <source src="<%= @mp4 %>" type='video/mp4' />
      <source src="<%= @webm %>" type='video/webm' />
      <source src="<%= @ogv %>" type='video/ogg' />

      <track kind="captions" src="demo.captions.vtt" srclang="en" label="English"></track><!-- Tracks need an ending tag thanks to IE9 -->
      <track kind="subtitles" src="demo.captions.vtt" srclang="en" label="English"></track><!-- Tracks need an ending tag thanks to IE9 -->
    </video>
  </div>
  <style type="text/css">
    .abc{
      width: 100% !important;
      height: 500px !important;
    }
    .back
    {
      background-color:#cccccc;
      position:relative;
    }

    .overlay1
    {
      position:absolute;
      background:url('/assets/how_work_bg.jpg') center center;
      z-index: 0;
    }
  </style>
<% else %>
  <script type="text/javascript">
    var player = videojs('myvideo_one');
  </script>

  <video height="auto" autoplay="autoplay" controls id="myvideo_one" poster="/assets/perloader.gif">
    <source src="<%= @webm %>" type='video/webm' />
    <source src="<%= @mp4 %>" type='video/mp4' />
    <source src="<%= @ogv %>" type='video/ogg' />
  </video>
  <script type="text/javascript">
  $(document).ready(function () {
    var myVideo = document.getElementById("myvideo_one");

    setTimeout(function() {
      myVideo.play();
      console.log("....DONE....")
    }, 5000)
  })
  $("#myvideo_one").bind("ended", function() {
    $("#und").show();
    $("#click_me").hide();
  });

</script>
<% end %>

<style type="text/css">
  #spi {
    position: absolute;
    margin-top: 250px;
    margin-left: 250px;
    z-index: 9999999;
    color: orange;
  }
  #spi img {
    height: 50px;
  }
  #videoContainer {
    position: relative;
  }
  #und{
    display: none\9;
  }

  .vjs-default-skin.vjs-has-started .vjs-control-bar {
    visibility: hidden !important;
  }
  @media (max-width: 768px) {
    #myvideo_one {
      width: 100% !important;
    }
  }

</style>
