<div class="access_report">
<div class="ex1"><p class="leg">Patient Information<p></div>
  <div class="right-patient-info"><div class="add">Patient Name : <%= @report.patient_first_name %> <%= @report.patient_last_name %></div><br />
    <div class="gen-date">Date Of Birth : <%= @report.patient_birthdate.strftime("%b %d, %Y") %><br />
    Gender : <%= @report.patient_gender %><br /></div>
  </div>
  <div class="left-patient-info">
    <div class="add1">Address</div><br /><br/>
    <div class="add2"><%= @report.patient_address %>,</div><br />
    <div class="city"><%= @report.patient_city %>,</div><br />
    <div class="state"><%= @report.patient_state %>,</div><br />
    <div class="country"><%= @report.patient_country %></div><br />
  </div>
  <center> <%= button_to "Edit Details",edit_path(@report.patient_id) ,:class=>"gray-btn custom-btn",:remote=>true%>
                <%= button_to "Confirm and Continue",report_questions_path, :method=>:get ,:class=>"blue-btn custom-btn"%></center>
</div>
<%= render "layouts/shared/login_jquery"%>