<div class="ajax">
  <div class="row patient_info_container">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 patient_info_left">
        Please review the following information,
        make changes if necessary and acknowledge
        the information is correct.
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 patient_info_right">
        <div class="patient_info_box">
          <div class=" patient_info_title">Patient Details</div>
          <div class="patient_info_box">
            <div class="patient_info_line">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-5">
                  Patient Name :
                </div>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-7 p-left-none">
                  <span><%= @report.patient.first_name.capitalize %> <%= @report.patient.last_name.capitalize %></span>
                </div>
              </div>
            </div>
            <div class="patient_info_line">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-5">
                  Date of Birth :
                </div>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-7 p-left-none">
                  <% if !@report.patient.birthdate.blank? %>
                    <span><%= @report.patient.birthdate.strftime("%b %d, %Y") %></span>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="patient_info_line">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-5">
                  Gender :
                </div>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-7 p-left-none">
                  <span><%= @report.patient.gender %></span>
                </div>
              </div>
            </div>
            <div class="patient_info_line">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-5">
                  Address :
                </div>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-7 p-left-none">
                  <span>
                    <%= @report.patient.address %>. <br>
                    <%= @report.patient.city %>,<br>
                    <%= @report.patient.state %>, <%= @report.patient.zip %>.
                  </span>
                </div>
              </div>
            </div>
            <div class="patient_info_line">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-5">
                  Phone :
                </div>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-7 p-left-none">
                  <span><%= @report.patient.phone_number %></span>
                </div>
              </div>
            </div>
            <div class="patient_info_line">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-5">
                  Email :
                </div>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-7 p-left-none truncate marquee">
                <span title="<%= @report.patient.email %>"><%= @report.patient.email %></span>

                </div>
              </div>
            </div>
            <div class="patient_info_line">
              <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" align="center">
                  <%= button_to "Edit Details",edit_path(@report.patient_id) ,:class=>"black_btn",:remote=>true%>
                </div>

                  <% @report_menu = @report.report_menus.sort %>
                  <% @report_menu.length %>
                  <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12" align="center">
                    <%#= link_to "Confirm and Continue", report_question_path(@report_menu.first.id, :q => @report_menu.first.query_str) ,:class=>"blue_btn" %>
                    <%= button_to "Confirm and Continue",report_questions_path(@report_menu.first.id), :method=>:get ,:class=>"blue_btn"%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="demo"></div>
<%= render "layouts/shared/login_jquery"%>