<div class="row">
  <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 normal_tbl_wrap">
      <div class="dashboard_title">
        Past Reports of Dr. <%= current_doctor.doctor_name.capitalize %>
        <span class="down_arrow">
          <img src="/assets/down_arrow_black.png" alt="">
        </span>
      </div>
      <div class="clearfix"></div>

      <div class="bs-example col-lg-12 normal_tbl_content">
        <div class="table-responsive">
          <table class="table table-responsive table-hover table-bordered">
            <thead>
              <tr class="active">
                <th>Patient Name</th>
                <th>Report Created on</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @reports.each do |report| %>
                <tr>
                  <td><%= report.patient_first_name %> <%= report.patient_last_name %></td>
                  <td><%= report.created_at.strftime("%b %d, %Y") %></td>
                  <td><%= report.patient_gender %></td>
                  <td><%= report.patient_email %></td>
                  <td>
                    <% if report.status == nil || report.status == "Pending"%>
                      <%= "Report is not yet completed." %>
                    <% elsif  report.status == "Active" %>
                      <%= link_to download_as_pdf_path(report), :class=>"btn btn-primary btn-xs" do %>
                        <span class="glyphicon glyphicon-file"></span> Download PDF
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <%end%>
            </tbody>
          </table>
        </div><!-- /.table-responsive -->
       </div>
    </div>
  </div>  
</div>
<%= render "layouts/shared/login_jquery"%>