<script>
function myFunction()
{
  var a = $('#ip').val();
  $('#op').html(a);
  $("#error").hide();
}
$( document ).ready(function() {

  if($('#ip').val() ==  "")
    $('#submitButton').attr('disabled', true);
    $("#error").show('slow');


  $('#ip').keyup(function(){

    if($('#ip').val() !=  "")
      $('#submitButton').attr('disabled', false);

    else
      $("#error").show('slow');
  });
});
</script>
  <%= form_for :report, url: sig_create_path(@report) ,:html => {:class => "form"} do |f| %>
<div class="row esignature_container">
  <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="disclaimer_wrap esignature_box">
        <div class="disclaimer_title">
          E-Signature
          <span class="down_arrow">
            <img src="/assets/down_arrow.png" alt="">
          </span>
        </div>

        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 esignature_title">
            I understand the proposed treatment and considered the possible alternative treatment. I consent to proceed with the treatment Dr.  <%= @report.doctor.doctor_name.titleize %> has proposed for me.
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 signature_img" align="center">
            <img src="/assets/signature_img.png" alt="" class="img-responsive">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

              <div class="form-group form_wrap">
                <div class="checkbox esignature_chkbox">
                  <label>
                    Please provide your E-Signature here.
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group form_wrap">
                    <div class="form-group">
                      <%= f.text_field :signature,:class=>"form-control signature_txtbox", :align=>"bottom", :placeholder=>"Type Your Signature Here",:id=>"ip",:onkeyup=>"myFunction();"%>
                      <div id="error" style="color:red; display:none">Enter Your Signature</div>
                    </div>

                  </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group form_wrap sign_preview_wrap">
                    <label>Drawn Signature</label>
                    <div class="clearfix"></div>
                    <div class="sign_preview" id="op" align="center">
                      <%= @report.signature %>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-12 sign_btns">
                  <% @report_menu = @report.report_menus.sort %>
                  <% @report_menu.length %>
                   <input type="submit" class="blue_btn" value="Exit" data-toggle="modal" data-target="#myModal", id="submitButton">
                    <%= link_to  "Back",report_questions_path(@report_menu.first.id),:class=>"black_btn"%>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


 <!-- <div class="row confirmation_msg_container">
  <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <!-- Button trigger modal -->
     <!--  <div align="center">

      </div> -->

      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
          <%# if @report.signature.blank?%>
            <div class="modal-header">
            <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
            <h4 class="modal-title" id="myModalLabel">Thank You!</h4>
            </div>
            <div class="modal-body">
              Thank you for Visiting eInformedConsent.com. We will let your doctor know that you have successfully completed the Presentation.
            </div>
            <div class="modal-footer">
              <%= f.submit "Okay",:class=>"btn btn-primary" %>
            <%#= link_to "Okay", login_page_path(session[:patient_id]),:class=>"btn btn-primary"%>
            </div>
          <%# else%>

        </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    <!-- </div>
  </div>
</div> -->
 <% end %>
<%= render "layouts/shared/login_jquery"%>