<div class="row confirmation_msg_container">
  <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <!-- Button trigger modal -->
      <div align="center">
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="margin-top:15%;">
          Click on me!
        </button>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Thank You!</h4>
          </div>
          <div class="modal-body">
            Thank you for Visiting eInformedConsent.com. We will let your doctor know that you have successfully completed the Presentation.
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    </div>
  </div>
</div>