<div id="content-header">
  <div id="breadcrumb">
    <%= link_to raw("<i class='icon-home'></i><span class='text'>Home</span>"),patients_path%>
    <%= link_to raw("<i class='icon-tasks'></i><span class='text'>Show Patient Report</span>"),view_report_path%>
  </div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
      <div class="widget-box">
        <div class="widget-title">
          <span class="icon">
            <i class="icon-eye-open"></i>
          </span>
          <h5>Patient Report</h5>
        </div>
        <div class="widget-content nopadding">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td><b>First name:</b></td>
                <td><%= @report.patient_first_name %></td>
              </tr>
              <tr>
                <td><b>Last name:</b></td>
                <td><%= @report.patient_last_name %></td>
              </tr>
              <tr>
                <td><b>Email:</b></td>
                <td><%= @report.patient_email %></td>
              </tr>
              <tr>
                <td><b>Gender:</b></td>
                <td><%= @report.patient_gender %></td>
              </tr>
              <tr>
                <td><b>Selections:</b></td>
                <% @report_menu.each do |menu| %>
                  <% if @report.id == menu.report_id %>
                    <% @procedure_types.each do |p| %>
                      <% if p.id == menu.procedure_type_ids %>
                        <% if p.parent_type_id == nil%>
                          <td><%= p.type_name %></td>
                        <% else %>
                          <td><%= p.type_name %></td>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
