<div class="row disclaimer_container">
  <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="disclaimer_wrap">
        <div class="disclaimer_title">
          website disclaimer
          <span class="down_arrow">
            <img src="/assets/down_arrow.png" alt="">
          </span>
        </div>
        <div class="disclaimer_box">
          <p>
            <strong>Terms of Use</strong><br>
            WHEN YOU AGREE TO THESE TERMS AND USE THE <span style="color:blue; text-decoration:underline;">www.einformedconsent.com</span>, YOU AGREE AND ARE SUBJECT TO THE LICENSE TERMS SET FORTH BELOW (the “Agreement”). THIS AGREEMENT IS BETWEEN YOU AND CONSENT PROJECT, LLC., A FLORIDA LIMITED LIABILITY COMPANY (“CONSENT PROJECT”). YOUR ACCESS TO SIGNIFIES AND CONSTITUTES YOUR ACCEPTANCE OF THIS AGREEMENT.<br><br>
            We recommend that you print a copy of this Agreement for your records.<br>
            IF YOU DO NOT ACCEPT THESE LICENSE TERMS, YOU MUST NOT ACCESS THE SITE..<br><br>
            <strong>1. LICENSE GRANT. CONSENT PROJECT</strong><br>
            grants you a nonexclusive, non-transferable license (the “License”) to use the CONSENT PROJECT website referred to as (“Site”) in executable code form for your personal use only, and only within the United States.<br><br>
            <strong>2. RESTRICTIONS.</strong><br>
            This Agreement, the License granted hereunder, and your ability to access the Site may not be assigned, sublicensed or otherwise transferred by you. The Site contains confidential information and trade secrets of CONSENT PROJECT . You may not copy, modify, disable any licensing or control features, reverse compile or reverse assemble the Site (except and only to the extent that such activity is permitted by applicable law notwithstanding this limitation), publish, translate, transfer possessions or rent, lend, lease, or create derivative works of the Site or any part hereof. You shall not introduce or permit to be introduced through the Site, any virus, worm, trojan horse or other software routine, program or mechanism to permit unauthorized access into, to disable, to erase in whole or in part or otherwise to adversely effect the CONSENT PROJECT network, including, but not limited to, data stored on the computer’s controlled by CONSENT PROJECT or any equipment maintained or used by CONSENT PROJECT .<br><br>
            <strong>3. OWNERSHIP.</strong><br>
            The Site is patented by, patent pending or patentable by, copyrighted by, proprietary and CONSENT PROJECT is a registered trademark. All materials, including but not limited to, any and all text, graphics, images, and any multimedia content are Copyright unless otherwise noted. All rights reserved. You shall not remove any patent, trademark, copyright or other proprietary rights notices on the Site or any other materials provided by CONSENT PROJECT . This License is not a sale of the Site, or any part thereof.<br><br>
            <strong>4. CONFIDENTIALITY.</strong><br>
            This Agreement does not grant to you any proprietary interest in the Site, or any part thereof. . The License granted by this Agreement is not a sale of the Site or any part thereof. All rights to works of authorship arising under the copyright laws of the United States, including but not limited to, any and all text, screens, graphics, images and any multimedia, published on the Site and all trademark, service mark, and trade dress rights arising under the trademark and unfair competition laws of the United States, as well as those arising under the common law, shall be the property of CONSENT PROJECT . You shall not remove any patent, trademark, copyright or other proprietary rights notice of the Site or any other material provided by CONSENT PROJECT.<br><br>
            <strong>5. DATA.</strong><br>
            You agree that you will not use any robot, spider, other automatic device, or manual process to monitor or copy the information accessed by the Site (“Data”). You agree that you will not use any device, software or routine to bypass CONSENT PROJECT ’s protections on its Data and content, or to interfere or attempt to interfere with the proper working of any of the Site.<br><br>
            <strong>6. NOT AFFILIATED WITH HEALTH CARE PROVIDER. CONSENT PROJECT</strong><br>
            is simply a means to provide information to patients. The use of CONSENT PROJECT does not create a physician-patient relationship. Neither CONSENT PROJECT nor any of its staff are liable for medical decisions or treatment rendered or resulting medical liability for any doctor utilizing CONSENT PROJECT . CONSENT PROJECT is not an employer of doctors and has no affiliation in that they are all independent contractors. You are prohibited by federal law from filing a claim for reimbursement to any federal health-care agency, i.e. Medicare, Medicaid in relation to access to CONSENT PROJECT . You should not construe any information you receive from the site as medical advice.<br><br>
            <strong>7. COMPLIANCE WITH FEDERAL & STATE PRIVACY STATUTES. CONSENT PROJECT</strong><br>
            recognizes its obligations regarding disclosures of Protected Health Information, under Privacy laws and agrees to us its best efforts to comply with said obligations.<br><br>
            <strong>8. WARRANTY LIMITATIONS. CONSENT PROJECT</strong><br>
            makes no warranty regarding the Site. CONSENT PROJECT EXPRESSLY DISCLAIMS, TO THE EXTENT PERMITTED BY LAW, ALL IMPLIED WARRANTIES, INCLUDING ANY IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR PARTICULAR PURPOSE, NON-INFRINGEMENT, QUALITY, PERFORMANCE, NON-INTERFERENCE WITH INFORMATION, AND ACCURACY OF INFORMATIONAL CONTENT. SOME STATES DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES SO THESE LIMITATIONS MAY NOT APPLY TO YOU. THE WARRANTIES SET FORTH HEREIN GIVE YOU SPECIFIC LEGAL RIGHTS AND YOU MAY HAVE OTHER RIGHTS WHICH VARY FROM STATE TO STATE.<br><br>
            <strong>9. LIMITATION OF LIABILITY.</strong><br>
            UNDER NO CIRCUMSTANCES AND UNDER ANY LEGAL THEORY, INCLUDING TORT, CONTRACT, OR OTHERWISE, SHALL CONSENT PROJECT BE LIABLE TO YOU OR ANY OTHER PERSON FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES OF ANY CHARACTER, INCLUDING, WITHOUT LIMITATION, EVEN IF CONSENT PROJECT SHALL HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.<br><br>
            <strong>GENERAL</strong><br>
            In the event of a dispute that the parties have been unable to resolve in a timely manner through good faith negotiations, such dispute hereunder shall only be resolved by binding arbitration according to the rules of the American Arbitration Association. The parties shall agree upon a single arbitrator or, if the parties cannot agree upon an arbitrator within thirty (30) days, then the parties agree that a single arbitrator shall be appointed by the American Arbitration Association. During the course of the arbitration each party will bear its own costs related to any arbitration and common costs of arbitration will be shared equally, however, the arbitrator may award attorneys’ fees and costs as part of the resulting award. The award of the arbitrator shall be binding and may be entered as a judgment in any court of competent jurisdiction. The arbitrability of claims shall be determined under the laws of the State of Texas. Notwithstanding the foregoing, CONSENT PROJECT may seek injunctive relief in court to prevent imminent harm. YOU AGREE TO SUBMIT TO THE EXCLUSIVE JURISDICTION AND VENUE OF ANY AND ALL CLAIMS TO THE CIRCUIT COURT OF THE 17TH JUDICIAL CIRCUIT IN AND FOR BROWARD COUNTY, FLORIDA , IN ANY ACTION OR PROCEEDING ARISING OUT OF OR RELATING TO THIS AGREEMENT OR YOUR USE OF THIS SITE. The provisions of this Agreement shall survive the termination of this License and/or any related agreement. If any portion hereof is found to be void or unenforceable, then such provision shall be reformed without further action by the parties to the extent necessary to make such provision valid and enforceable when applied to such facts or circumstances, with the objective of achieving as nearly as legally possible the same effect. Failure to exercise or delay in the exercise of any right or remedy under this Agreement shall not operate as a waiver thereof. This Agreement and the HIPAA disclosure statement constitute the entire agreement between the parties with respect to the use of the Site. CONSENT PROJECT may occasionally change the terms of this Agreement and will post changes on the Site for your review and acceptance if changes are made. The changes will take effect as soon as you indicate acceptance. You will not be allowed to access the Site if you do not accept such new terms. All rights in the Site not specifically granted in this Agreement are reserved by CONSENT PROJECT .<br><br>
            <strong>HIPAA Disclosure Statement</strong><br>
            The parties recognize that all disclosures of Protected Health Information (“PHI”), as defined in the Health Insurance Portability and Accountability Act of 1996 and the regulations promulgated thereunder (collectively, “HIPAA”), as set forth in 45 C.F.R. Parts 160 and 164, are within the definition of “health care operations” as set forth in HIPAA. The parties also recognize that CONSENT PROJECT is serving as a “business associate” in receiving and using such PHI. You, the Patient, authorize agents and/or representatives of CONSENT PROJECT to disclose information related to your identification and medical history to the CONSENT PROJECT participating doctor(s) as specified by patient. Patient specifically authorizes CONSENT PROJECT to release all information submitted by patient to CONSENT PROJECT to the participating doctor(s) selected by patient. Patient also understands that once patient’s information is disclosed to the participating doctor(s) selected by patient that information may be subject to redisclosure by the participating doctor according to his/her own HIPAA policy. <br><br>
          </p>
        </div>
        <div class="agree_btn_wrap">
          <%= link_to "I Agree", access_rep_path(@report), :class => "blue_btn pull-right agree_btn" %>
          <%= link_to "I do not Agree", i_do_not_agree_path(@report) , :class=>"black_btn pull-right" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "layouts/shared/login_jquery"%>