<table class="gridtable">
  <tr>
    <th>Procedure Type Name</th>
    <th>Options</th>
  </tr>
  <% @procedure_type.each do |p| %>
  <tr>
    <td><%= p.type_name %></td>
    <td>
      <%= link_to image_tag('/assets/create.png', :size => '15x15'), create_subtype_path(p) %>
      <%= link_to image_tag('/assets/edit.png', :size => '15x15'), edit_admin_procedure_type_path(p) %>
      <%= link_to image_tag('/assets/close.png', :size => '15x15'), [:admin, p], :method => :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
  <% end %>
</table>