<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= render "layouts/shared/seo_header" %>

    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag params[:controller] %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag params[:controller] %>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
    <!-- // <script src="http://tpstracker.com/demo/consent/js/video.js"></script> -->
    <% if doctor_signed_in? %>
      <script type="text/javascript" src="http://tpstracker.com/demo/consent/js/menuscript.js"></script>
    <% end %>
    <!--[if lt IE 9]>
      <script src="/assets/html5shiv.js"></script>
    <![endif]-->
    <%= render "layouts/shared/footer_css" %>
  </head>
  <body>
<% if doctor_signed_in? %>
  <script type="text/javascript">
  <%@patients = current_doctor.patients.all %>
  // $(document).ready(function(){
  //   $("#patient_new").click(function(){
  //     // $(this).hide();
  //     $("#fname").blur(function(){
  //       var x = $("#fname").val();
  //       $(".symbol").removeClass('email_taken_no');
  //       $(".e_msg").hide();
  //       <% @patients.each do |value| %>
  //         if(x == "<%=value.email%>")
  //         {
  //           $(".symbol").addClass('email_taken_no');
  //           $(".e_msg").show();
  //           $("#fname").focus();
  //         }
  //       <% end %>
  //     });
  //   });
  // });
  </script>
<% end %>
<style>
  .email_taken_no{
    content: url(/assets/email_taken.png);
  }
</style>
  <div class="page-wrap">
    <%= render :partial => "/layouts/shared/header" %>
    <%= render :partial => "/layouts/shared/menu" %>
    <div class="my_main">
      <%= render 'layouts/shared/flash_message' %>
      <!-- <div class="wrapper-dashboard">
        <center><div style="color:red;"><%#= notice %><%#= alert %></div></center>
      </div> -->
      <%= yield %>
    </div>
  </div>
  <%= render :partial => "/layouts/shared/presentation_modal" %>
  <footer class="site-footer">
    <%= render :partial => "/layouts/shared/footer" %>
  </footer>
  <% if doctor_resource?  %>
    <%= render "/subscribers/new" %>
  <% end %>
  </body>
</html>