<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <%= render "layouts/shared/seo_header" %>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "home", :media => "all" %>
    <%= csrf_meta_tags %>
    <!-- <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'> -->
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <%= javascript_include_tag "home" %>
    <%= render "layouts/shared/footer_css" %>
  </head>
  <body>

  <div class="page-wrap">
    <div id="root">
     <CENTER><div class="custom-notice"  style="color: #ff0000;"><%= notice %><%= alert %></div> </CENTER>
      <%= render "/layouts/shared/frontpage_header"%>
        <%= yield %>
    </div>
  </div>

  <footer class="site-footer">
    <%= render "/layouts/shared/frontpage_footer"%>
  </footer>

  </body>
</html>

<style type="text/css">
  .set_loading{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .loading_text{
    font-size: 20px;
  }
</style>