<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>eInformed Consent :: 500 Error</title>

    <link href="/assets/bootstrap.css" rel="stylesheet">
    <link href="/assets/style.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="/assets/html5shiv.js"></script>
    <![endif]-->
    <%= render "layouts/shared/footer_css" %>
  </head>

<body>
<div class="page-wrap">
  <!-- Header Start -->
  <div class="row">
    <div class="container header_wrap">
      <div class="col-lg-4 col-md-4 col-sm-4" align="center">
        <a href="#">
          <img src="/assets/logo.png" alt="" class="img-responsive">
        </a>
      </div>
     <!--  <div class="col-lg-8  header_contact" align="right">
        <span>
          <img src="/assets/email_icon.png" alt="">
          <a href="mailto:info@einformedconsent.com">info@einformedconsent.com</a>
        </span>
        <div class="header_btns">
          <a href="#" class="blue_btn">Doctor Login</a>
          <a href="#" class="blue_btn">SubScribe Here</a>
        </div>
      </div> -->
    </div>
  </div>
  <!-- end of Header -->

  <!-- Menu Start -->
  <!-- <div class="row">
    <div class="container">
      <div class="bs-example">
        <nav role="navigation" class="navbar navbar-default">
          <div class="navbar-header">
            <button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Menu</a> </div>
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
              <li><a href="index.html">Home</a></li>
              <li><a href="how_it_works.html">How it works</a></li>
              <li><a href="services.html">Services</a></li>
              <li><a href="#">Advantages</a></li>
              <li><a href="subscription_plans_tab.html">Subscription Plans</a></li>
              <li><a href="contact.html">Contact Us</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div> -->
  <!-- End of Menu -->

  <div class="row error_wrap">
  <div class="container">
    <div class="col-lg-12">
      <div class="error-template">
          <h1>
              Oops!</h1>
          <h2>
              404 Not Found</h2>
          <div class="error-details">
              Sorry, an error has occured, Requested page not found!
          </div>
          <div class="error-actions">
            <% if doctor_signed_in? %>
              <a href="<%= root_url %>" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                  Take Me Home </a>
            <% else %>
              <% if session[:patient_id].blank?%>
                <a href="<%= root_url %>" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                  Take Me Home </a>
              <% else %>
                <a href="<%= login_page_path(session[:patient_id]) %>" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                  Take Me Home </a>
              <% end %>
            <% end %>
              <a href="<%= contact_us_path %>" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
          </div>
      </div>
    </div>
  </div>
</div>

  <!-- Footer Start -->
  <div class="row footer_wrap user_footer">
    <div class="container">
      <div class="col-lg-12">
        <div class="footer_nav" align="center">
          <!-- <a href="#">Home </a>|
          <a href="#">Appointments </a>|
          <a href="#">Billing & Insurance </a>|
          <a href="#">Find a Doctor </a>|
          <a href="#">Maps & Directions </a>|
          <a href="#">Appointments </a> -->
          <span>Copyright 2013 &copy; eInformedConsent.</span>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Footer -->

  <script src="/assets/jquery.js" type="text/javascript"></script>
  <script src="/assets/bootstrap.min.js" type="text/javascript"></script>
  <script src="/assets/script.js" type="text/javascript"></script>
</body>
</html>