<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
    <%= render "layouts/shared/seo_header" %>
     
    <%= stylesheet_link_tag "home", :media => "all" %>
    <%= csrf_meta_tags %>

    <!--[if lt IE 9]>
      <script src="/assets/html5shiv.js"></script>
    <![endif]-->
    <%= render "layouts/shared/footer_css" %>
  </head>

<body>
  <div class="page-wrap">
    <center><div class="custom-notice"><%= notice %><%= alert %></div></center>
    <%= render "/layouts/shared/frontpage_header"%>
    <div class="home_page_container main_content p-b-none">
      <%= render "/layouts/shared/presentation_options" %>
      <%= yield %>
    </div>
  </div>



  <footer class="site-footer">
    <%= render "/layouts/shared/frontpage_footer"%>
  </footer>
  <%= render "/subscribers/new" %>
  <%= javascript_include_tag "home" %>
</body>
</html>